[2012-09-06 13:03] jneen opened #1 "Fix the handling of / in javascript"
The lexer currently gets all confused between regex literals, division, and comments.  Run `rackup` and visit `/javascript` to see the broken cases.

[2012-09-06 13:04] jneen opened #2 "Implement a Ruby lexer"

[2012-09-06 13:05] jneen opened #3 "Extend the python lexer for python3"

[2012-09-06 13:05] jneen opened #4 "Implement a Java lexer"

[2012-09-06 13:08] jneen opened #5 "Implement a Perl lexer"

[2012-09-06 13:09] jneen opened #6 "Implement C/C++ lexers"

[2012-09-06 13:13] jneen opened #7 "Implement a PHP lexer"
bonus points if it highlights the right builtins :)

[2012-09-06 13:15] jneen opened #8 "Implement an XML lexer"

[2012-09-06 13:17] jneen opened #9 "Implement a Makefile lexer"

[2012-09-06 13:18] jneen opened #10 "Implement TeX/LaTeX lexers"

[2012-09-06 13:20] jneen opened #11 "Implement scheme/common-lisp lexers"

[2012-09-06 13:21] jneen opened #12 "Implement a Haskell lexer"

[2012-09-06 13:27] jneen opened #13 "Implement filename detection and source analysis"
[code]

Or something like that.

[2012-09-06 13:28] jneen opened #14 "Implement the `rougify` executable"

[2012-09-06 13:53] jneen opened #15 "Implement an ERB lexer"

[2012-09-07 12:17] #13 closed, assigned to jneen

[2012-09-07 14:20] #14 closed, assigned to jneen

[2012-09-07 18:19] #12 closed, assigned to nobody

[2012-09-08 12:50] #6 closed, assigned to nobody

[2012-09-08 16:45] #4 closed, assigned to nobody

[2012-09-08 16:47] jneen opened #16 "Implement a console formatter"

[2012-09-09 21:40] #8 closed, assigned to nobody

[2012-09-09 22:32] #11 closed, assigned to nobody

[2012-09-12 00:02] #2 closed, assigned to nobody

[2012-09-12 09:26] #10 closed, assigned to nobody

[2012-09-12 18:40] #5 closed, assigned to nobody

[2012-09-13 12:20] #16 closed, assigned to nobody

[2012-09-13 18:58] #7 closed, assigned to nobody

[2012-09-14 09:57] #15 closed, assigned to nobody

[2012-09-14 11:39] #9 closed, assigned to nobody

[2012-09-14 11:54] #1 closed, assigned to nobody

[2012-09-15 10:53] jneen opened #17 "Implement a SQL lexer (with postgres, mysql, and sqlite variants)"

[2012-09-15 10:56] jneen opened #18 "Implement a Lua lexer"

[2012-09-15 10:57] jneen opened #19 "Implement an Io lexer (http://iolanguage.com )"

[2012-09-15 10:57] jneen opened #20 "Implement a Clojure lexer"

[2012-09-15 10:58] jneen opened #21 "Implement a Factor lexer"

[2012-09-15 10:58] jneen opened #22 "Implement an LLVM lexer"

[2012-09-15 10:59] jneen opened #23 "Implement a Scala lexer"

[2012-09-15 10:59] jneen opened #24 "Implement a D lexer"

[2012-09-15 11:00] jneen opened #25 "Implement a Dylan lexer"

[2012-09-15 11:00] jneen opened #26 "Implement an OCaml lexer"

[2012-09-15 11:00] jneen opened #27 "Implement an Obj-C lexer"

[2012-09-15 11:00] jneen opened #28 "Implement a Prolog lexer"

[2012-09-15 11:01] jneen opened #29 "Implement literate haskell lexers (bird tracks and latex variants)"

[2012-09-15 11:02] jneen opened #30 "Implement an Erlang lexer"

[2012-09-15 11:04] jneen opened #31 "Implement a Matlab lexer"

[2012-09-15 11:04] jneen opened #32 "Implement a Smalltalk lexer"

[2012-09-15 11:07] jneen opened #33 "Extend the PHP lexer with a `:parent` option (like ERB)"

[2012-09-15 11:08] jneen opened #34 "Implement a VimL lexer"

[2012-09-15 11:08] jneen opened #35 "Implement a YAML lexer"

[2012-09-15 11:09] jneen opened #36 "Implement HAML, Sass, and Scss lexers"

[2012-09-15 11:26] #33 closed, assigned to jneen

[2012-09-18 10:14] jneen opened #37 "Fix @jayferd's laptop, so he can continue writing lexers :("

[2012-09-30 22:15] #35 closed, assigned to jneen

[2012-10-01 20:23] jneen opened #38 "Rewrite the yaml parser"
the current one (a port of the pygments lexer) is kind of a mess.  Consider basing the lexer on https://github.com/yaml/libyaml/blob/master/src/scanner.c

[2012-10-08 19:19] #37 closed, assigned to nobody

[2012-10-09 16:29] #21 closed, assigned to nobody

[2012-10-10 11:13] jneen opened #39 "Fix case statements in C"

[2012-10-11 11:04] #34 closed, assigned to nobody

[2012-10-11 18:01] #39 closed, assigned to nobody

[2012-10-13 16:31] #36 closed, assigned to nobody

[2012-10-15 10:54] #32 closed, assigned to nobody

[2012-10-25 10:46] #20 closed, assigned to nobody

[2012-11-28 10:56] #19 closed, assigned to nobody

[2013-01-14 06:48] jneen opened #43 "Write an ASP lexer"

[2013-01-14 06:49] jneen opened #44 "Write a C# lexer"

[2013-01-14 06:49] jneen opened #45 "Write a Rust lexer"
http://rust-lang.org/

[2013-01-14 08:45] #45 closed, assigned to nobody

[2013-02-12 23:52] minad opened #49 "implement slim lexer"
http://slim-lang.com/

[2013-02-18 21:20] sunaku opened #50 "document lexer tags, aliases, and file associations"
Hello,

Sometimes I don't know what exact lexer tag to put on my fenced code blocks.

Please list the available lexer tags, aliases, and file extensions in the README.

For example, all of these trigger the erb lexer:

[code]

Thanks for your consideration.

[2013-02-18 23:48] #44 closed, assigned to nobody

[2013-02-26 05:18] sunaku opened #51 "support word-level change markers in diff lexer"
Hello,

Please add support for [word-level change markers](https://www.gnu.org/software/wdiff/manual/html_node/wdiff-Examples.html#wdiff-Examples) in the `diff` lexer:
- `[-` _deletion_ `-]`
- `{+` _insertion_ `+}`

You may find these related programs to be of reference:
- http://www.colordiff.org
- http://os.ghalkes.nl/dwdiff.html

Thanks for your consideration.

[2013-03-02 20:05] sunaku opened #58 "implement an Xresources lexer"
Hello,

Please implement an `Xresources` lexer for the [syntax described here](http://www.designmatrix.com/services/XResources_syntax.html).  This lexer should have these aliases: `xresources`, `xdefaults`, `Xdefaults` and `xrdb`.

Also, it would be cool if you could highlight hex color strings using their values.  For example, `#FF0000` would show up as `<span style="background:#FF0000">#FF0000</

[2013-03-04 01:04] #18 closed, assigned to nobody

[2013-03-04 01:05] #29 closed, assigned to nobody

[2013-03-04 18:14] #28 closed, assigned to nobody

[2013-03-05 04:06] lgn21st opened #60 "Implement a Golang lexer"
http://golang.org/

[2013-03-05 08:24] akemrir opened #61 "Ruby Lexer fix"
hi there,

I have found some missuse, that exists in wrong highlighting of methods that are used on objects in ruby. It looks the same as definition name now.

I have digged in this lexer and changed this:

[code]

to that

[code]

This regexp is quite complex.
What do you think, It will have other after-effects?

[2013-03-06 18:46] #22 closed, assigned to nobody

[2013-03-10 07:31] crabonature opened #64 "uninitialized constant Sass::COMMON - when deploying to production with Rails"
When I'm trying to deploy to production with capistrano I'm getting error from any rake command (at development it's worked like a charm, without any errors), for example:

[code]

at production machine (I've tried with rvm and rbenv configuration and the same error):

[code]

with trace:

[code]

I'm deploying with capistrano 2.14.2 to Ubuntu 12.10x64 with ruby 2.0.0-p0 (ruby 1.9.3-p392 the same

[2013-03-11 17:48] #64 closed, assigned to nobody

[2013-03-11 19:18] Linuus opened #65 "Middleman extension"
Hi

I've created a Middleman extension that uses Rouge and Redcarpet.
It can be found here: https://github.com/Linuus/middleman-rouge

Thanks for the library! :+1:

[2013-03-11 20:44] jtrim opened #66 "Load order of Lexers in lib/rouge.rb intermittently causes issues"
Because of using a Dir.glob to load all of the lexers, when I deploy to Heroku I'm getting an intermittent `uninitialized constant Rouge::Lexers::Scss::Sass` error, presumably because the Ruby 2 `glob` implementation on whatever system Heroku runs finds `lib/rouge/lexers/scss.rb` before it finds `lib/rouge/lexers/sass.rb`.

In stead of adding a one-off load for 'lib/rouge/lexers/saass.rb', how wou

[2013-03-11 21:39] michaelbaudino opened #67 "Sass lexer NameError"
Hello,

I'm having hard time trying to use the Sass lexer (other lexers like Ruby and Bash are working great).

When a Sass block exists in my Markdown file (which is in a Slim layout, btw), I get the following error:

[code]

And I'm not sure how it's related (I smell it's another bug, in Middleman this time) but when refreshing the error page multiple times, my Middleman server crashes with the

[2013-03-11 23:34] #67 closed, assigned to nobody

[2013-03-11 23:43] #65 closed, assigned to nobody

[2013-03-13 16:44] #61 closed, assigned to nobody

[2013-05-03 04:38] #60 closed, assigned to nobody

[2013-05-22 17:51] jeffgran opened #73 "Cpp lexer hangs on certain files"
Here is an example file from the firefox source code:
https://hg.mozilla.org/mozilla-central/raw-file/00b264c7cced/gfx/harfbuzz/src/hb-ot-tag.cc

It appears the problem is the series of multiple /\* */ style comments per line for many lines in a row, near the middle of the file.

At work we had a similar problem with runaway regular expressions recently, and following the advice at http://ruby-doc

[2013-05-22 18:41] #73 closed, assigned to nobody

[2013-05-27 00:36] bhollis opened #76 "Document options"
I'd really appreciate it if there were documentation of all the lexer and formatter options supported by Rouge. Thanks!

[2013-06-01 06:02] jeffgran opened #77 "Pathological regex in c lexer"
It looks like the c lexer has a similar problem to the one the c++ one did. Here's the file that elicits it:

https://hg.mozilla.org/mozilla-central/raw-file/bbc7014db2de/gfx/harfbuzz/src/hb-ot-tag.c

[2013-06-01 06:27] jeffgran opened #78 "JS lexer hangs on some minified js files"
This one may seem silly -- it's a minified javascript file. But we are trying to be able to parse any file including minified ones.

I'm guessing it might be because the lexer never gets into the "whitespace" state, since there's no whitespace?

Here's a couple of example files that elicit the problem:

https://raw.github.com/yui/yui3/v3.0.0/build/dom/dom-min.js

https://svn.apache.org/repos/asf/g

[2013-06-01 18:52] archseer opened #79 "CSS lexer marks commas as "err""
Running the following code trough rouge marks all the commas as `.err` -- error. Is that the intended behavior? I'd rather have it marked as `.p` -- punctuation.

[code]

[2013-06-01 20:14] #79 closed, assigned to nobody

[2013-06-20 13:52] BRMatt opened #82 "Implement a HTTP lexer"
https://bitbucket.org/birkenfeld/pygments-main/src/7304e4759ae65343d89a51359ca538912519cc31/pygments/lexers/text.py?at=default#cl-1664

[2013-06-21 23:16] #82 closed, assigned to nobody

[2013-07-02 18:47] #30 closed, assigned to nobody

[2013-07-18 19:51] greghendershott opened #85 "A little more build guidance for non-native speakers of Ruby?"
I want to contribute a lexer for the Racket language to Rouge.
- I contributed a Racket lexer to Pygments
- I can use the existing Scheme lexer as a starting point
- I know regexps

So even though I'm a Ruby noob, I'm optimistic -- if only I can get
Rouge to build! :)

I wanted to share the experience with you; see below.

If there had been some way to automatically install all the required
gems,

[2013-07-20 02:29] bf4 opened #88 "License missing from gemspec"
Some companies will only use gems with a certain license.
The canonical and easy way to check is [via the gemspec](http://docs.rubygems.org/read/chapter/20#license),

via e.g.

[code]

Even for projects that already specify a license, including a license in your gemspec is a good practice, since it is easily
discoverable there without having to check the readme or for a license file.

For example,

[2013-07-20 18:28] #88 closed, assigned to nobody

[2013-07-20 18:53] #85 closed, assigned to nobody

[2013-08-01 18:59] christhekeele opened #89 "Elixir `do` keyword wraps next line in same span"
This adversely affects indentation, as seen in https://github.com/kytrinyx/exercism.io/issues/315.

In brief:

[code]

compiles to:

[code]

Notice that `do\n...cond` at the end of the first line gets wrapped in the same span, as well as the successive line's `do\n...`. This ends up making the new line appear excessively indented (lines 6 and 7):

![screen shot 2013-08-01 at 1 57 47 pm](https://f.

[2013-08-04 05:58] #89 closed, assigned to nobody

[2013-09-01 16:35] kytrinyx opened #92 "uninitialized constant Rouge::Lexers::Text (NameError)"
When using master I get a name error for the `Text` lexer.

I realized that I can fix this by referencing `Lexers::PlainText` instead of `Lexers::Text`, so I think I just missed a documented change, but I wanted to be certain.

To reproduce:

Gemfile:

[code]

Script:

[code]

[2013-09-01 22:09] #92 closed, assigned to nobody

[2013-09-03 06:19] #77 closed, assigned to nobody

[2013-09-17 02:38] jdonaldson opened #96 "Support Haxe language?"
Pygments has support for version 3.0 of Haxe.  Would it be possible to port it to Rouge?  Here's the relevant lexer (in python):
https://bitbucket.org/birkenfeld/pygments-main/src/7304e4759ae65343d89a51359ca538912519cc31/pygments/lexers/web.py?at=default#cl-1131

It should be fairly similar to c#.

[2013-09-17 06:53] #27 closed, assigned to nobody

[2013-09-22 14:04] kytrinyx opened #101 "`{{xxx}}` is hidden"
I'm not sure if this is something I've misconfigured, or an actual bug.

This was originally reported in kytrinyx/exercism.io#469 in a sample of javascript code (I think I've extracted this right):

[code]

The rendered code hides all occurrences of {{xxx}} where xxx is an arbitrary word or string.

[2013-09-22 17:57] #101 closed, assigned to nobody

[2013-09-25 15:22] tgoyne opened #102 "Lua lexer barfs on Unicode"
[code]

Removing the `s` modifier from the Comment.Multiline and Literal.String regular expressions in lib/rouge/lexers/lua.rb fixes this, but I have no idea why they're being forced to Windows-31J in the first place, so maybe that breaks something else?

[2013-09-25 17:07] #102 closed, assigned to nobody

[2013-10-05 19:33] rsslldnphy opened #103 "Different handling of whitspace by Clojure lexer"
Hi, I've been trying to investigate [this issue](https://github.com/kytrinyx/exercism.io/issues/821#issuecomment-25751515) with clojure syntax highlighting on [exercism.io](http://exercism.io), and it seems to be being caused by some weirdness with how `Loofah` sanitization deals with `span` elements without whitespace between them. If there are no spaces between the spans then it adds a newline b

[2013-10-06 10:05] #103 closed, assigned to nobody

[2013-10-06 10:13] rsslldnphy opened #104 "HTML formatter produces invalid HTML - table inside pre"
I'm having problems running Rouge outputted HTML through a Loofah scrubber because it wraps a `table` inside a `pre` which, according to the HTML validation thingy isn't valid HTML.

I had a google for Pygments in case this was just a required format for it to work, but the example HTML output on [this page](http://pygments.org/docs/formatters/), for example, creates multiple `pre` tags _inside_ t

[2013-10-06 17:29] #104 closed, assigned to nobody

[2013-11-05 04:54] #66 closed, assigned to nobody

[2013-11-26 21:13] #31 closed, assigned to nobody

[2013-11-26 21:14] #26 closed, assigned to nobody

[2013-11-26 21:15] #23 closed, assigned to nobody

[2013-12-08 11:36] ronalchn opened #117 "Line spans"
Wow, just saw this library after putting pygments.rb into my app.

Support for wrapping each line with a span would be great. Because I let code wrap, the tableized line numbering doesn't actually work well. So I put use the css ::before pseudo-element to insert line numbers.

Apart from this, it could be a drop-in replacement, and it would allow me to fix the annoying `<pre><code></code></pre>` t

[2013-12-09 15:56] ghost opened #118 "Kramdown support"
Hello, I see that rouge has a robust set of built in lexers.

I would prefer to use Rouge over CodeRay, but does it work with Kramdown?

[2014-01-05 18:43] kytrinyx opened #120 "The most recent versions aren't listed under releases"
The most [recent release](https://github.com/jayferd/rouge/releases) is listed as 1.2.0, but master (and rubygems.org) is at 1.3.1.

[2014-01-06 00:01] #120 closed, assigned to nobody

[2014-01-10 12:44] markijbema opened #121 "Ruby %= seems to be parsed incorrectly"
I noticed this recently on exercism, which I know to use rouge. Therefore, I must admit not to be hundred percent sure this bug still exists in master, but having a %= tripps up the highlighting. For instance:

[code]

(I don't have enough time at the moment to thoroughly investigate though)

[2014-01-13 19:14] #121 closed, assigned to nobody

[2014-01-16 14:20] Arcovion opened #122 "<code> tag, :inline_theme as a string"
For semantics I'd like parsed HTML to be inside a <code> tag, like so:
 `<pre class="#{:css_class} ruby"><code>...</code></pre>`
An option for that would be nice, as this is a common way to format code, and this gem is all about formatting.

Also, I can't figure out how to use the `:inline_theme` option, what is the code needed to use Monokai for example?
`inline_theme: Rouge::Themes::Monokai` was

[2014-02-03 06:59] utkarshkukreti opened #124 "Set custom options when using the Redcarpet plugin?"
I was using Redcarpet and Rouge's Redcarpet plugin, and I wanted to set `line_numbers: true`, but I couldn't find a way to do that as the options passed to Rouge is [hardcoded](https://github.com/jayferd/rouge/blob/06444661f14cf465161ec50832e84a8280625338/lib/rouge/plugins/redcarpet.rb#L18).

I ended up copying the plugin's code and modifying it for now, but it would be good to have a better way t

[2014-02-05 20:36] brandonweiss opened #125 "Rouge might be eating the newline at the end of the rendered output"
It looks like rouge might be eating the newline at the end of the HTML output. I haven't tested it extensively, but the following snippet shows there's no newline at the end of the output.

[code]

[2014-02-08 18:59] #125 closed, assigned to nobody

[2014-02-26 03:09] tsl0922 opened #126 "unknown state: :push (RuntimeError)"
File: https://raw.github.com/freicoin/freicoin/master/bitcoin-qt.pro
Stacktrace:

[code]

[2014-03-02 07:41] isbadawi opened #127 "Weird mixed highlighting in python"
I am trying to highlight some python code and getting some weird results. Here's a screenshot -- I added some lines to `spec/visual/samples/python`, ran `rackup` and went to `localhost:9292/python`:
![screen shot 2014-03-02 at 2 32 29 am](https://f.cloud.github.com/assets/292468/2303692/193d81fa-a1dd-11e3-887a-49eb760c8251.png)

Here, each occurrence of `str` is being colored as a builtin function

[2014-03-02 23:36] #126 closed, assigned to nobody

[2014-03-03 05:18] #127 closed, assigned to nobody

[2014-03-04 22:14] pkuczynski opened #128 "Implement a Properties lexer"
Implement .properties lexer based on: http://en.wikipedia.org/wiki/.properties

[2014-03-27 19:45] mgerton opened #132 "Parse Error with JavaScript Multiline Comments"
I'm currently use Rouge in a Middleman app (with the middleman-rouge extension) and there seems to be a parse issue with JavaScript code blocks in relation to multiline comments: any multiline comment that is actually multiline (i.e. spans many lines) outputs incorrect HTML markup resulting in improperly styled code blocks.

For example, using this snippet of markdown:

[code]

Produces this HTML:

[2014-03-27 20:41] #132 closed, assigned to nobody

[2014-04-05 13:49] #122 closed, assigned to nobody

[2014-04-13 05:26] lilith opened #134 "Ruby syntax highlighting breaks on regex"
[code]

[2014-04-18 05:37] brodock opened #135 "Interpolate pieces of highlighted code with specific html tags"
I would like to ask if it's possible in any feasible way to preserve specific "html" tags inside the original code.

What I want to do is to "annotate" source-code with specific tags, to be used on slides. As an example, I would like to use "< mark >def x< /mark >" to be able to style background around the generated "def x" highlighted part:

[code]

I know that something similar to that is possib

[2014-05-04 23:49] #128 closed, assigned to nobody

[2014-05-15 19:15] Arcovion opened #139 "css_class: false => 'class="false"'"
PR #123 made sure nil and empty strings don't add an empty class attribute, it also used a hack to remove the `false` class.

Address this higher up so that `false` isn't coerced into a string. Also if `@css_class` is empty, then it will add an unnecessary space between the `@css_class` that was passed through, though that might be due to `middleman-syntax`. I think `nil` is also coerced into `''`

[2014-05-15 20:08] #139 closed, assigned to nobody

[2014-05-24 13:32] xautjzd opened #140 "Use Rouge with Redcarpet: uninitialized constant Redcarpet (NameError)"
I want to write a ruby program to parse markdown with syntax highlighting, and write my code according to README.md, below is snippet of my code, more,please refer：https://gist.github.com/xautjzd/18188de959d3c3c27577

[code]

But when I run it ,I will get  the error:

this error is at class HTML definition.It cann't find the class Redcarpet, why? I have installed rouge via `gem install rouge`  and

[2014-05-26 13:42] Arcovion opened #142 "Avoid table styles unless needed"
These lines:

[code]

Should only be added if `:line_numbers` are enabled

[2014-05-26 18:56] #142 closed, assigned to nobody

[2014-05-26 19:18] #140 closed, assigned to nobody

[2014-05-26 19:19] #134 closed, assigned to nobody

[2014-05-29 13:29] Arcovion opened #145 ""highlight plaintext" -> "language-plaintext""
[I read this recently](http://www.w3.org/TR/2011/WD-html5-author-20110809/the-code-element.html) which proposes:

I'm thinking about adding this to `middleman-syntax`, by checking whether `:css_class` ends with a dash, if so then it would be concatenated to the `lexer.tag` instead of being joined by a space.

Also, [`middleman-syntax` interpolates the chosen `:css_class` instead of just using `hig

[2014-05-29 19:54] #145 closed, assigned to nobody

[2014-06-01 20:43] jiripospisil opened #146 "Ruby highlighting breaks on division"
The following test case doesn't render correctly:

[code]

![](http://i.imgur.com/mnh7O1K.png)

I _believe_ the problem is that the lexer thinks it's a beginning of a regex.

[2014-06-02 08:14] #146 closed, assigned to nobody

[2014-06-04 01:51] huacnlee opened #147 "Swift support"

[2014-06-05 13:23] FernandoBasso opened #148 "A "no-language" lexer"
I am using Rouge with Jekyll, and sometimes I need a block that is not bound to any particular language. Is something like the example bellow possible?

[code]

[2014-06-05 14:09] #148 closed, assigned to nobody

[2014-06-05 16:58] Arcovion opened #149 "Improve line numbers"
I [made a gist](https://gist.github.com/Arcovion/1cccdfa28a5e646aefe2) showing a few different ways to implement line numbers, let me walk you through the pros and cons...

Current:
- Gutter can adapt to the width of the line count
- Messy, introduces three new tag types to the HTML
- Uses a mix of inline styles and classes (why not inline these styles? #142)
- Line numbers are copied to the clipb

[2014-06-05 22:48] maxlinc opened #150 "JavaScript comment in hash bug"
Came across this bug... rouge doesn't like comments on the first line of a hash, but it is okay with comments on other lines:

![screen shot 2014-06-05 at 6 41 57 pm](https://cloud.githubusercontent.com/assets/896878/3194702/b1bcd05a-ed02-11e3-8d56-ac3480576953.png)

[2014-06-09 12:42] jiripospisil opened #152 "Ruby: Support "trailing dot" style"
The following two test cases render correctly:

[code]

![](http://i.imgur.com/bIqJz47.png)

However, when the dot is trailing, the method name `bar` is not recognized:

[code]

![](http://i.imgur.com/yEnreRm.png)

Note that you cannot simply switch to the other style because you cannot copy&paste code into pry/irb when using the leading dot (highly desirable when demonstrating something in a blog

[2014-06-11 18:42] Arcovion opened #153 "Encoding problems"
Adding `encoding: 'utf-8'` as an argument to each File#read in `lib/rouge/lexer.rb` and `spec/visual/app.rb` fixes encoding problems.
Suggest handling this like Tilt does, i.e. provide an option for it: https://github.com/rtomayko/tilt#encodings
Should fix: https://github.com/jneen/rouge/issues/140#issuecomment-44154801

Re: https://github.com/jneen/rouge/pull/141#issuecomment-45671648

[2014-06-11 18:43] Arcovion opened #154 "Background confusion"
I have no clue at all where these styles (`color`/`background-color`) are being added to the `.highlight` class:

![](https://cloud.githubusercontent.com/assets/2716027/3250849/a2ae6df6-f1aa-11e3-8bae-db1166f687ca.png)

Point me to where that is and I can fix the visual spec backgrounds (even clicking `ruby:9` there shows nothing and grepping the codebase for `background-color` didn't help either)

[2014-06-11 18:44] Arcovion opened #155 "Inline themes don't always match the CSS themes"
#### http://localhost:9292/ruby?theme=monokai&inline=true

![](https://cloud.githubusercontent.com/assets/2716027/3250837/6fca8dde-f1aa-11e3-9451-1d43585bed48.png)

vs
#### http://localhost:9292/ruby?theme=monokai

![](https://cloud.githubusercontent.com/assets/2716027/3250840/7acfe04e-f1aa-11e3-9d7f-a0987c6e6d2a.png)

The latter is how it should look, note I removed the block background here (~~I

[2014-06-11 18:44] Arcovion opened #156 "Ruby lexer error"
`class:` isn't being highlighted as a symbol in the ruby lexer, the keyword is being highlighted seperately instead (line 4):
![](https://cloud.githubusercontent.com/assets/2716027/3250811/48960446-f1aa-11e3-9f7d-01c697c00866.png)
Would be clearer if I could test `monokai.sublime` but I don't know how to do that in the visual tests (add documentation)

Re: https://github.com/jneen/rouge/pull/141#i

[2014-06-11 18:45] Arcovion opened #157 "Theme#find doesn't work with modes"
[code]

Implied this should work from https://github.com/jneen/rouge/commit/009d673e0718d2899531842096f4fefcd92fad87
Note this should have thrown an error - right now it simply doesn't add any <span>s to the output.

Re: https://github.com/jneen/rouge/commit/1e6c0c6f02bca87f9f7a57bd5d87b9d42f235aac#commitcomment-6624662

[2014-06-14 02:34] Arcovion opened #160 "Highlight arguments of function definitions"
Is this currently possible? My editor for example puts any function arguments in italics:
<code>def foo(_bar=baz_)</code>

[2014-06-16 17:47] #152 closed, assigned to nobody

[2014-07-13 18:09] #157 closed, assigned to nobody

[2014-07-13 19:25] #156 closed, assigned to nobody

[2014-07-13 23:08] #147 closed, assigned to nobody

[2014-07-13 23:11] #124 closed, assigned to nobody

[2014-07-14 06:05] #153 closed, assigned to nobody

[2014-07-22 15:25] cvrebert opened #166 "Lack of trailing newline can break JavaScript highlighting"
With Rouge 1.5.1:

[code]

Note the `class="err"` near the end of the output for the source that _lacked_ a trailing newline, and that the output for the source _with_ a trailing newline does not have any error.

Jekyll 2.1.1, in particular, is presumably excluding such trailing newlines (see https://github.com/twbs/bootstrap/issues/14213 ) before invoking Rouge.

[2014-07-26 03:42] #166 closed, assigned to nobody

[2014-08-11 17:38] rishighan opened #168 "Line number issue when using redcarpet plugin"
Hi there,

 Thanks for writing this amazing gem.
I am using the redcarpet plugin and initialize it as mentioned in the wiki.

Only thing, I don't know where to specify `line_numbers: true`
I know that I can use a parameter in the URL to do so, but I don't want to.
I took a look at the source and was wondering it putting it in the `redcarpet.rb` would be an option...

[code]

I realize that not eve

[2014-08-12 12:31] #168 closed, assigned to nobody

[2014-08-18 07:05] vince-styling opened #170 "a small question about Redcarpet plugin's code design"
In that plugin's `rouge_formatter`, I found Rouge pass a text like this "highlight java", so the "highlight" is the default css_class you define inside Redcarpet plugin, if i want to have modify that name but keep the lexer tag, I must override rouge_formatter and do something like this :

[code]

I ignore Rouge's default css_class to fetch the lexer tag, i fear that Regexp will failure if newer v

[2014-08-18 08:05] vince-styling opened #171 "how can i access parent class's variables that using to customize Formatters options in Redcarpet Plugins"
[code]

Is there any way i can access `@css_class`, `@line_numbers` in this situation? or have another way to enable the settings of Formatters which decide by users.

[2014-08-19 15:23] #171 closed, assigned to nobody

[2014-08-28 12:13] olakara opened #175 "Implement a C# lexer"
C# is a very popular language.. I wonder why it was missed out from being implemented in Rouge..

[2014-09-04 16:16] #175 closed, assigned to nobody

[2014-09-08 00:04] evaryont opened #179 "Theme names are not documented, had to read the code. Documentation could be updated."
When trying to use the Terminal256 formatter, I wanted to change the default theme. However, to do so, I need to pass in a string, which matches the name of the desired theme. That much is documented.

However, attempting to pass in "Base16" (assuming the theme's name is the same as the class name) did not work. I had to read the theme's source code to find out about the `name` method, which I cor

[2014-09-17 17:19] #170 closed, assigned to nobody

[2014-09-18 16:23] coreyleveen opened #180 "/= operator breaks Ruby syntax highlighting"
I originally submitted this issue to exercism.io, and Katrina Owen told me to write a failing test for rouge.
I'm new to development and not sure I can do that properly, but I'll take any help I can get.

Thanks!
![](http://i.imgur.com/stW4eIm.png)

[2014-09-22 16:15] mrueg opened #181 "Please tag 1.7.1"
github has no tag for 1.7.1, can you add it please?

[2014-09-23 05:57] parkr opened #182 "Latest update breaks plugin integration"
Just noticed this on Jekyll:

![screen shot 2014-09-22 at 10 56 50 pm](https://cloud.githubusercontent.com/assets/237985/4368142/7997d672-42e6-11e4-9edb-ac2fc29825d4.png)

It looks like the plugin is borked? We're using `rouge/plugins/redcarpet`.

[2014-10-02 20:31] MaxMansfield opened #183 "C++ logical statements which only contain a one line expression are not indented."
While using [exercism.io](http://exercism.io which highlights) which uses rouge to highlight my C++ I've had the issue that logical statements such as `if` `else` and `for` which only contain a one line expression are displayed incorrectly **even with brackets**.
## Example 1

A single `if` statement no brackets

[code]

_Example 1 should be_

[code]
## Example 2

A single `if`statement nested in

[2014-10-05 14:06] #181 closed, assigned to nobody

[2014-10-18 21:08] parkr opened #185 "Add Liquid Lexer"
Hi! I would love to see a lexer for Liquid. One is in pygments.

- `LiquidLexer` class in Pygments: https://bitbucket.org/birkenfeld/pygments-main/src/53092018461a95c3310adc276f1ef7f6d7715b50/pygments/lexers/templates.py#cl-1857
- Changeset: https://bitbucket.org/birkenfeld/pygments-main/commits/53092018461a
- Original issue: https://bitbucket.org/birkenfeld/pygments-main/issue/977/add-liquid-lexe

[2014-10-19 00:04] #180 closed, assigned to nobody

[2014-10-26 04:43] #118 closed, assigned to nobody

[2014-10-26 04:49] #182 closed, assigned to nobody

[2014-11-05 11:27] rcrowe opened #187 "PHP syntax only works with opening tag"
I'm using `middleman-syntax` with fenced code blocks in markdown. PHP syntax highlighting only works when including `<?php`. This is inconsistent with other languages & seems unnecessary.

Ruby is rendered fine:

[code]

But with php, you have to include `<?php` in order for the syntax highlighting to work; even though I've said parse as php.

**Broken:**

[code]

**Works:**

[code]

[2014-11-07 15:43] daviddarnes opened #188 "Add Twig Lexer?"
Not sure if the twig template language is as popular as liquid or handlebars, but I'd certainly like it to be added :smile:.

It's already in the [main pygments repo](https://bitbucket.org/birkenfeld/pygments-main/issue/927/missing-lexer-for-twig-language).

Thank you!

[2014-11-10 16:34] Emasoft opened #189 "Please add support for Dart and SVG"
Please add support for Dart and SVG syntax. Thanks.

[2014-11-15 08:07] #187 closed, assigned to nobody

[2014-11-17 01:04] jneen opened #192 "Architecture for Themes and the HTML formatter for 2.0"
Open thread to discuss interface and format changes, combining discussions from #154, #155, #149, #117, #145, #139, and #104.

[2014-11-17 22:30] fpruitt opened #193 "Add Swift Lexer"
I'll start work on this in the next couple of days. With the ability to write iOS apps in Swift, I believe it will be adopted moving forward, and it would be helpful to have a lexer for it.

[2014-11-17 23:50] #193 closed, assigned to nobody

[2014-12-07 10:08] NARKOZ opened #198 "support LESS"
http://lesscss.org/

[2014-12-08 12:23] singularperturbation opened #199 "Support for the Nim Programming Language"
Hi!  Creating this for support for the [Nim](http://nim-lang.org) programming language.  I implemented a RegEx lexer as a port of the Pygments version, and will be submitting a pull request from my fork.

Please let me know if there are any issues with the commit - I'd really appreciate feedback since this is my first major project with Ruby.

Thanks!

[2014-12-09 05:57] #199 closed, assigned to nobody

[2014-12-21 05:07] KobaKhit opened #205 "Support of the language R"
Do you have plans on adding [R](http://en.wikipedia.org/wiki/R_%28programming_language%29) to the list of supported languages? Rouge is great. Awesome work.

[2014-12-21 08:04] #205 closed, assigned to nobody

[2014-12-21 15:52] edwardloveall opened #206 "Lexers should have human readable names"
I think it would be a good idea to have human readable names attached to each lexer. Some languages are easy to make by capitalizing the first letter (Ruby, Go, Swift, C) but it gets a little more complex with mid-word capitalization (JavaScript, XML, TeX) and even more difficult when symbols get involved (C++, Objective-C, C#).

My reasoning for this would be when a list of supported languages is

[2014-12-23 20:27] taye opened #208 "JavaScript object literals with function properties cause errors"
![2014-12-23-202225_269x122_scrot](https://cloud.githubusercontent.com/assets/1679746/5542713/c10cf7e2-8ae1-11e4-868f-d582b6ece24e.png)

[2014-12-23 21:02] #208 closed, assigned to nobody

[2014-12-23 21:16] taye opened #209 "CSS precentage% values are not recognized"
![2014-12-23-210400_297x143_scrot](https://cloud.githubusercontent.com/assets/1679746/5543075/3ea29f68-8ae7-11e4-88db-ce5e6f42b994.png)

[2014-12-23 22:44] #209 closed, assigned to nobody

[2014-12-23 23:49] taye opened #211 "CSS double colon ::pseudo-element selector isn't recognized"
![2014-12-23-234637_337x88_scrot](https://cloud.githubusercontent.com/assets/1679746/5544408/307e3c8c-8afe-11e4-8e90-901a0c55b1bb.png)

[2014-12-24 02:18] #211 closed, assigned to nobody

[2014-12-24 16:44] jurriaan opened #213 "[v1.7.5] No such file lexers/apache/keywords.yml"
I get a  `No such file or directory @ rb_sysopen - ~/.gem/ruby/2.1.5/gems/rouge-1.7.5/lib/rouge/lexers/apache/keywords.yml (Errno::ENOENT)` with v1.7.5

[2014-12-24 17:00] #213 closed, assigned to nobody

[2015-01-04 11:00] NARKOZ commented on #49
implemented in #161

[2015-01-06 02:36] onemanstartup opened #217 "Autoloading lexers"
Memory with loaded lexers ~> 3Mb
Memory without ~ 0.5Mb

It is not much, but gem by gem..

[2015-01-06 06:43] jneen commented on #217
Hm, yeah, this is becoming a priority as the number of lexers increases

[2015-01-06 16:42] dlovellrw opened #221 "arm assembly source file with '.S' suffix freezes. rougify highlight does not terminate"
This arm assembly source file is in version 1.5.2.2 of Git:

https://github.com/git/git/blob/v1.5.2.2/arm/sha1_arm.S

Running '*rougify highlight sha1_arm.S*' does not terminate within a few minutes.  It freezes at

[code]

The program might be in an infinite loop within Rouge::RegexLexer#step

If I specify the lexer, such as '*rougify highlight sha1_arm.S --lexer c*' the program will terminate.

[2015-01-06 18:40] jneen commented on #221
Ah, so we don't have an arm lexer yet, and it was interpreting the `.S` extension as the `S` language, a precursor to `R`.  So it was being highlighted as R code :\.  I think we can safely remove that, as I've done on master.

[2015-01-09 17:28] jneen commented on #217
It's a bit more complicated than that, I'm afraid.  Lexers aren't just accessed as constants - in fact, more often they're accessed by tag or alias, as in `Lexer.find('rb')`.  So there's gonna be a bit of shuffling around of data to do, and that's gonna take a bit of design work.

[2015-01-15 23:31] RadLikeWhoa commented on #185
I started working on this today and it's mostly finished, there's just some small bugs that still need to be fixed. I little to no experience in Ruby so I ended up porting the Pygments lexer, which worked just fine, but now I'm stuck.

Here's what I have so far: https://github.com/RadLikeWhoa/rouge/blob/liquid-lexer/lib/rouge/lexers/liquid.rb

My problem is that I want to pass a RegEx group to ano

[2015-01-19 18:46] #185 closed

[2015-01-19 19:47] parkr commented on #185
:dancers: :dancers: :dancers: :dancers: :dancers: :dancers:

[2015-01-27 20:39] NARKOZ opened #229 "Request: Solarized theme"
http://ethanschoonover.com/solarized

[2015-01-27 20:59] jneen commented on #229
I believe we have one?

[2015-01-27 21:00] jneen commented on #229
Ah, there's `base16.solarized`.  I think one of my contributors might have one.  I seem to remember @Arcovion using a solarized theme?

[2015-01-28 05:36] Arcovion commented on #229
I use `monokai.sublime`, but there are many solarized themes on google that are compatible: https://gist.github.com/nicolashery/5765395
https://github.com/gthank/solarized-dark-pygments

[2015-01-31 21:07] parkr opened #230 "Compatibility with Pygments Stylesheets"
Is there a compat switch where we can continue to use Pygments stylesheets? I noticed that, with bash for example, `$` is given class `gp` by Rouge and class `nv` by Pygments. Any way to reconcile this?

[2015-01-31 21:09] jneen commented on #230
You should be able to continue to use Pygments stylesheets.  The lexing doesn't token-for-token match Pygments, but outputs the same format.

[2015-01-31 21:09] jneen commented on #230
(for example, several bugs in the pygments ruby and js lexers were fixed in rouge)

[2015-01-31 21:11] jneen commented on #230
`$` by itself is a literal dollar sign in bash, so actually both are not quite accurate.

[code]

I think it's common for people to paste in bash samples with `$` at the front, which is why it's `gp` - `Generic.Prompt`.

[2015-01-31 21:47] parkr commented on #230
Ah, ok. I also noticed a weird problem.

Pygments:

![screen shot 2015-01-31 at 1 45 59 pm](https://cloud.githubusercontent.com/assets/237985/5989958/89e32aac-a94f-11e4-863e-540771738aa1.png)

Rouge:

![screen shot 2015-01-31 at 1 46 32 pm](https://cloud.githubusercontent.com/assets/237985/5989959/a4b6910c-a94f-11e4-9168-f8e27b8689fa.png)

Is my Pygments stylesheet missing something?

[2015-01-31 21:49] parkr commented on #230
To duplicate:

[code]

Then go to http://localhost:4000/docs/plugins/#converters

[2015-02-01 00:26] jneen commented on #230
welp that's not intended behavior. I'll take a look tomorrow.

[2015-02-01 00:27] jneen commented on #230
alternatively, if you could try to repro using ./bin/rougify, that'd be even more convenient.

[2015-02-01 11:26] Arcovion commented on #192
To summarise:
* An option to add the CSS class to the `pre > code` tag instead of the `pre` tag would be nice as it would help migrating from other highlighters and is what [W3C suggests](http://www.w3.org/TR/2011/WD-html5-author-20110809/the-code-element.html).
* Line numbers are not semantic at the moment, provide more options.
* The `pre > code` tag should be styled as `display: block`, this is

[2015-02-01 17:33] jneen commented on #192
Whether the W3C suggests it or not, it broke user code, so I want to be careful about it in the future.

[2015-02-01 19:37] jneen commented on #192
I'm working on a refactor that will hopefully encourage more custom subclasses of `Formatters::HTML` to take some of the feature-pressure off the class.

[2015-02-02 06:20] parkr commented on #230
HA! Turns out it was me all along:

[code]

D'oh. Sorry about that.

Curiously, the stylesheets still aren't lining up. Did you happen to document where your lexers deviate from Pygments?

[2015-02-02 06:20] #230 closed

[2015-02-02 07:10] jneen commented on #230
Haha well, that'd do it for sure :)

[2015-02-02 07:13] jneen commented on #230
I don't document where the lexers differ from pygments, as that would be an organizational nightmare.  The tokens are defined in `lib/rouge/token.rb`, and the list was lifted directly from Pygments.  I don't expect everything to be highlighted the same as in Pygments, just that it will be highlighted in a reasonable way using a stylesheet designed for Pygments.

[2015-02-02 07:16] parkr commented on #230
Ok, cool. I'll figure it out. Thanks so much, @jneen!! Hope you were able to enjoy the sunshine today :smile:

[2015-02-02 07:19] jneen commented on #230
Yes, I was!

[2015-02-09 12:28] DZittersteyn opened #236 "NoMethodError on Slim.lex"
When using the Slim lexer, the input string `-<<x` results in a `NoMethodError`.

Reproducing (in `pry`):
[code]

This issue seems to be caused by the `@heredoc_queue` not being initialized (done in the `start` block of the ruby lexer)

This issue was discovered by @danlec and reported to @Hacker0x01

[2015-02-09 15:03] #236 closed

[2015-02-09 15:03] jneen commented on #236
Welp, that'd do it.  Thanks for the bug report!

[2015-02-09 15:08] DZittersteyn commented on #236
Awesome, thanks for the fix! Any idea yet when the release with this fix will be?

[2015-02-09 15:09] jneen commented on #236
Not sure yet, within the next week hopefully.

[2015-02-09 15:09] jneen commented on #236
I wanna go through and make sure other lexers don't have the same problem.

[2015-02-09 15:10] DZittersteyn commented on #236
Ah nice! Thanks again!

[2015-02-11 13:43] realityking commented on #150
We've just run into the same issue. Is there a workaround?

[2015-02-11 17:19] jneen commented on #150
Hm, this should have been fixed - which version of rouge are you running?

[2015-02-13 21:14] realityking commented on #150
We were originally using 1.7.2, but upgrading to 1.8 didn't change anything.

[2015-02-13 21:15] jneen commented on #150
Could you provide a sample of the js you're trying to highlight?

[2015-02-13 23:41] realityking commented on #150
Sure:

[code]

We tried both the `json` (which we'd, but it's obviously invalid) and the `javascript` mode. The problem in `javascript` mode is probably, that it gets interpreted as a JS block. We're looking for a way to add comments to JSON objects as part of an API documentation.

[2015-02-14 02:23] jneen commented on #150
Ah, well that's a feature request, since that's neither syntactically valid javascript or json.  Does the problem go away if you wrap it in parentheses? (not to say that's the solution, just want to check)

[2015-02-18 11:23] bekreatief opened #237 "if language is liquid arguments go missing"
Hi
I am using rouge with jekyll. So far everything went perfectly fine, but when I tried to set the language to liquid, it did swallow part of my argument.
If i change the language to something else (css, html, scss tested) it's there, just the color hightlighting does not work, obviously.

Any idea why that is so?

[ three backticks ] html
{% raw %}{% for post in site.posts %}
    {% if post.auth

[2015-02-18 20:18] jneen commented on #237
Hm, that looks like Jekyll's Liquid processor might be swallowing it.  Can you try it with `rougify -l liquid`?

[2015-02-19 19:58] bekreatief commented on #237
where would I put that?

[2015-02-19 21:22] jneen commented on #237
Run it from the command-line.

[code]

[2015-02-19 21:23] jneen commented on #237
Alternatively, and maybe simpler, put the liquid code in a file by itself and run

[code]

[2015-02-20 08:13] bekreatief commented on #237
Hmm really weird, but when I rebuild the site this morning it worked...
I have no idea why, but it is displayed now.

Still, thx a lot for your help!

[2015-02-20 16:47] jneen commented on #237
Okay, glad to hear :)

[2015-02-27 10:09] i-like-robots opened #242 "Sass/SCSS lexer does not recognise @function or @media directives"
Currently the Sass and SCSS lexers are not recognising the `@function` or `@media` directives and therefore incorrectly decorating the rest of the line. For example given the following code:

[code]

The function and variables are being incorrectly highlighted as tags (the latter preceded by and error) and the parenthesis are being marked up as an operator.

[code]

![screen shot 2015-02-27 at 10

[2015-03-03 10:35] textshell commented on #150
Related by doesn't fix the original issue.
Comments for json implemented in [pull request 243](https://github.com/jneen/rouge/pull/243) or [pull request 244](https://github.com/jneen/rouge/pull/244)

[2015-03-12 03:23] alainmeier commented on #187
I'm having a similar issue, but the proposed:

[code]

Doesn't appear to work when you're using kramdown. Is there a global setting we can use so all PHP snippets are handled this way?

[2015-03-12 15:44] jneen commented on #187
I'd bring this issue up with @gettalong - so long as Kramdown calls `Lexer.find_fancy(lang)` the CGI-style options should work.

[2015-03-12 17:21] gettalong commented on #187
Yes, it does, see https://github.com/gettalong/kramdown/blob/master/lib/kramdown/converter/syntax_highlighter/rouge.rb#L26

However, the parser (see https://github.com/gettalong/kramdown/blob/master/lib/kramdown/parser/kramdown/codeblock.rb#L35) probably doesn't accept the additional options.

[2015-03-12 17:28] jneen commented on #187
Ah yeah, looks like it's just looking for `\w+`.  Is this as easy as switching to `\S+` (or maybe `\w\S*`)?

[2015-03-12 17:44] gettalong commented on #187
In theory, yes, but in practice I have to consider backwards compatibility.

Is there a way to provide the rouge lexer with options? I.e. can the option `start_inline: 1` somehow be specified when using `Lexer.find_fancy` or a similar method?

[2015-03-12 17:49] jneen commented on #187
`find_fancy` is just a wrapper over some lower-level features with a CGI.parse added in.  `Lexer.find` and `Lexer.guess` can get you a lexer class, and the options are arguments to the initializer.

[2015-03-12 17:50] jneen commented on #187
(fwiw, redcarpet allows this style of options in its parser, so i'd be surprised if it was forbidden by markdown standards)

[2015-03-12 18:12] julp opened #246 "Apache lexer remove non standard directives and directives should be case insensitive"
Hi,

I have noticed 2 problems with Apache lexer:

First issue: non standard directives are removed:
[code]
Results in:
[code]

I guess, a `else` is missing in method `name_for_token` of `lib/rouge/lexers/apache.rb`:
[code]

Second issue: [Apache's documentation](http://httpd.apache.org/docs/2.4/en/configuring.html) say that directives are case insensitive:

So, currently, if we write, for example

[2015-03-13 08:57] gettalong commented on #187
Alas, there is *no* Markdown standard.

I will see what I can do without breaking compatibility.

[2015-03-16 06:49] brianwisti opened #248 "Ruby object attributes w/o parens in division treated as regex opener"
This is Ruby 2.2.0, Rouge 1.8.0 on OS X.

When highlighting Ruby code, a division symbol `/` following an object attribute triggers rendering as CSS class `sr`, and rendering doesn't go back to normal until another `/` is encountered. A workaround is to add parens to the attribute.

Here's a minimal sample.

[code]

And here's how it renders.

![screen shot 2015-03-15 at 11 40 09 pm](https://cloud

[2015-03-16 14:11] jneen commented on #248
Thanks for the report!  Luckily I think that turned out to be easy.  Can you see if I've fixed it on master? (as of https://github.com/jneen/rouge/commit/98055597a0f1f4d2d74b240b5e56909e368eb874)

[2015-03-16 15:31] brianwisti commented on #248
Yes indeed. The issue is resolved using a gem built from master.

[2015-03-16 16:42] jneen commented on #248
Cool, thanks!

[2015-03-22 23:12] #242 closed

[2015-03-24 14:52] XhmikosR opened #251 "Powershell support"
Hi.

I was wondering if it would be easy to add Powershell support.

[2015-03-24 14:54] XhmikosR opened #252 "Windows Batch files support"
This along with [Powershell](https://github.com/jneen/rouge/issues/251) are the lexers I'm personally missing in Rouge :)

[2015-04-01 07:23] v0lkan opened #253 "http://rouge.jayferd.us/demo is not working."
When I browse it using Chrome (or any browser per se), I get a loading spinner on the tab, and the page does not load.

After waiting long enough I get a

"
Unable to load the webpage because the server sent no data.
Error code: ERR_EMPTY_RESPONSE
"

Either a DNS thing, or some dynos not booting in heroku, not sure.

[2015-04-05 00:34] MarcoDeBortoli commented on #229
@jneen @Arcovion I'm not quite sure how those works though. I saved the style from the command line but it doesn't render as expected. What's the right procedure to follow?

[2015-04-05 00:47] jneen commented on #229
I'm not sure what system you're using with rouge, but you need the stylesheet to be scoped to the same context that the html is rendered into.

[2015-04-05 09:29] MarcoDeBortoli commented on #229
@jneen I'm using jekyll with the [lanyon](http://lanyon.getpoole.com/) theme. I generated the syntax.css file with the following command:

[code]

And [this](https://gist.github.com/MarcoDeBortoli/eb5e95109cc42173d043) is my `_config.yml`

Still I don't get a solarized version of my code. Am I missing something?

[2015-04-05 17:21] jneen commented on #229
Ergh, jekyll puts stuff in a very specific context. You should be able to pass a `--scope <selector>` argument to that `rougify` command, so for example if they wrapped it in `<pre class="highlighted">` you'd run:

[code]

[2015-04-05 22:06] MarcoDeBortoli commented on #229
Hey @jneen thanks for the hint. Unfortunately I tried that and it didn't work.
Apparently the only way to make this work is as following:

1. Change the `_config.yml` to look like the following:

[code]
Instead of just
[code]

2. Change the post code to use git like syntax like following:

[code]
[code]

[2015-04-05 22:37] jneen commented on #229
Sorry, this looks like an issue with either Jekyll or Kramdown.  Rouge is just a stylesheet and markup generator.

[2015-04-05 22:50] MarcoDeBortoli commented on #229
No need to be sorry, I'm simply trying to get my head around the issue.
I thought it could be a problem with rouge because that's what I switched to from the default or, even best case scenario, you could know more about Jekyll than me :)

[2015-04-05 23:27] jneen commented on #229
I don't use Jekyll personally, so I don't know much about its configuration at all :)

[2015-04-06 17:47] MarcoDeBortoli commented on #229
I see I thought you did somehow. Ok I'm going to point the Jekyll guys to this ticket then and see if they can shed some light on this.

[2015-04-07 13:01] olliekav commented on #237
I'm having this issue as well when running liquid blocks. e.g.
[code]
gets output as
[code]
I'm using this in markdown files in Middleman if that helps. Restarting doesn't solve it for me either.

[2015-04-07 13:16] jneen commented on #237
@olliekav thanks for the report - could you try running your code through rouge manually?

[code]

[2015-04-07 13:21] olliekav commented on #237
@jneen that did the same thing for me.
[code]

[2015-04-07 13:22] jneen commented on #237
Okay, lastly, which version of rouge are you using? `rougify --version`

[2015-04-07 13:23] olliekav commented on #237
1.8.0, I just updated as I needed the liquid lexer.

[2015-04-07 13:26] olliekav commented on #237
There are also some other weird things happening, like `err` being wrapped around closing tags e.g.
[code]
The closing tag is output as
[code]

[2015-04-07 13:29] jneen commented on #237
Ok, welp that's a bug.  I'll take a look tonight.  Thanks again for the report!

[2015-04-07 13:29] olliekav commented on #237
Great, thanks!

[2015-04-07 13:29] jneen commented on #237
Oh sorry one more thing - could you paste the specific code you're trying to highlight?

[2015-04-07 13:30] olliekav commented on #237
Here you go...
[code]

[2015-04-07 13:32] jneen commented on #237
Thanks!

[2015-04-07 13:38] jneen commented on #237
Pinging @RadLikeWhoa, could you take a look at this since you contributed the liquid lexer?

[2015-04-11 15:30] RadLikeWhoa commented on #237
I'll have a look at this once I have some time. Might be in a week or two, though.

[2015-04-26 06:46] Paxa opened #258 "Ruby highlight bug"
[code]

Will be shown as:
![screen shot 2015-04-26 at 13 44 56](https://cloud.githubusercontent.com/assets/26019/7336203/813a3572-ec1a-11e4-9154-ec3e6eaaeba5.png)

[2015-04-28 16:49] stanhu opened #260 "Runtime Error parsing LISP code"
When parsing LISP code line-by-line, the LISP lexer fails with a "RuntimeError: stack empty!" on this case:

https://github.com/stanhu/rouge/commit/95971a545bb82bb94239c1d0e2fa2e4b0e178a03

What is the right way to fix it? I see possible solutions:

1. Rewrite the code to submit the entire file to the lexer
2. Modify the lexer to handle this case
3. Modify the lexer to allow line-by-line input

Th

[2015-04-30 01:29] alainmeier commented on #187
Any movement on this?

[2015-05-12 14:34] bcbroom opened #264 "Line highlighting like pygments hl_lines"
I'm looking for the ability to highlight lines, either to call attention to specific code in a tutorial, or note added code in a running example.

Pygments offers the hl_lines option, such as hl_lines="3 4 5". This adds span element w css class of "hll" to the generated html for that line.

Is this something that has been talked about or planned?

[2015-05-19 14:44] jneen commented on #253
Welp, that's because it's moved to rouge.jneen.net. Where did you find that link?

[2015-05-19 15:01] #237 closed

[2015-05-19 15:22] jneen commented on #264
Hi! This should be much easier after the formatter refactor for 2.0.

[2015-05-24 11:01] #49 closed

[2015-05-28 10:59] rumpelsepp commented on #253
[code]

[2015-05-28 12:13] stanhu commented on #260
Solved by https://github.com/jneen/rouge/pull/267.

[2015-05-28 12:13] #260 closed

[2015-05-28 19:17] jneen commented on #253
Cool, links fixed. Thanks for reporting!

[2015-05-28 19:17] #253 closed

[2015-05-30 17:35] mynimi opened #273 "jade highlighting"
Hi
I'm using rouge with jekyll and have been very happy with it thus far, now I wanted to try and highlight some jade which is not part of the supported languages, as fas as I have seen?

Do you think there is another option to have some color (language, that has a similar syntax?) that I could use instead?

[2015-05-30 22:28] mynimi commented on #273
Oh God, me trying to write a lexer...
I'm still _really_ bad at anything ruby related, so I don't think I'd be of a lot of help.
But thanks for the quick answer. I will try if I can make it look good with one of the languages that are in there and hope that maybe someone more talented than I might find some time to write something for jade.

[2015-06-02 13:50] aaroneg commented on #273
If you do decide to try your hand at it and it's one of the Regex based lexers you start with, I had a lot of luck with http://www.regexr.com/ when writing and testing the regexes for the powershell lexer.

[2015-06-21 14:51] jbbr opened #275 "Add Support for React JSX"
The JavaScript framework "React" by Facebook does introduce a syntax extension for JavaScript.
It adds something which looks like XML in JavaScript.

As React is getting a lot of attention in the JavaScript frontend framework world (e.g. 23000+ stars on github), it would be great to have support for JSX highlighting with rouge.

React Framework: https://github.com/facebook/react
JSX Specs: https:/

[2015-06-21 15:54] jneen commented on #275
I'd gladly merge this PR.  I'd recommend subclassing the javascript lexer, much like `C++` subclasses `C`.

[2015-06-27 18:14] JonathonReinhart opened #277 "C function prototype syntax highlighting broken if space before semicolon"
Parsing the following line of C code yields a very broken result:
[code]
(note the space before the closing parenthesis and the semicolon)

The result looks like this:
[code]

@stanhu indicated:

[["Keyword", "static"],
 ["Text", " "],
 ["Keyword.Type", "void"],
 ["Text", " "],
 ["Name.Function", "static void func ( ) ;"],
 ["Text", " "],
 ["Punctuation", "("],
 ["Text", " "],
 ["Punctuation", ")"

[2015-06-27 18:24] JonathonReinhart commented on #277
https://github.com/jneen/rouge/blob/dbdd4e7d249606543831dba63efc2737b7d6ad90/lib/rouge/lexers/c.rb#L136
[code]

Why do the function (definitions) and function declarations look so much different? Specifically in the decl case, the `Name::Function` and `Punctuation` tokens have no arguments (like `m[2]` and `m[5]`).

[2015-06-27 18:26] jneen commented on #277
Well I think you may have found the bug.

[2015-06-27 18:32] stanhu commented on #277
Yes, I confirmed that adding the arguments fixes the bug. I have a test for this that I'll submit.

[2015-06-27 20:07] #277 closed

[2015-06-28 00:43] mojavelinux opened #279 "Syntax highlighting of last line incorrect if not followed by an endline"
If there is an endline missing from the source string, then the syntax highlighting isn't working correctly on the last line.

An example of this can be seen on the website (which I'm able to reproduce locally). See http://rouge.jneen.net/pastes/lAp. You'll notice that the inline comment on the last line is not styled as a comment. If you add an endline to the source and rerun it, then it highligh

[2015-06-28 00:51] mojavelinux opened #280 "Precedence of style lookup is inverted"
When resolving the style for a token using the `style_for` method (which eventually delegates to `get_own_style`), the precedence is backwards. What's expected is a more specific (nested) style to win over a more general (ancestor) style. However, the inverse is true.

I think that the following logic:

[code]

should in fact be:

[code]

The test case is as follows:

[code]

When I invoke:

[code

[2015-06-28 00:55] mojavelinux commented on #280
I think the reason this wasn't detected by the test suite is because the test is ambiguous. It will assert true regardless of order of precedence in the implementation. When I send a pull request, I'll make sure that the test catches this distinction.

[2015-06-28 07:42] mojavelinux commented on #279
This seems to be a problem if one of the rules the lexers explicitly match an endline. In this particular example, the Groovy lexer looks for a trailing endline to match a single-line comment. It should be looking for an end of line character instead (`$`). Some lexers match this scenario correctly.

[2015-06-28 14:52] jneen commented on #279
Yep, that's a bug.  Good catch.

[2015-06-28 14:56] #279 closed

[2015-06-28 23:14] mojavelinux commented on #279
:+1:

Just so you know, this fix only address one of many places where the lexer rules miss a highlight on the last line. For instance, here's another: https://github.com/jneen/rouge/blob/master/lib/rouge/lexers/sql.rb#L92. I have not done a full audit.

[2015-07-01 13:35] rumpelsepp opened #283 "Maintenance Release 1.9.1?"
May I ask you to bump the version number to 1.9.1? Would be nice, because https://github.com/gitlabhq/gitlabhq/pull/9341 is blocked by https://github.com/jneen/rouge/commit/03b03c598b6108294d3671988bc97f27ce4f9897.

[2015-07-01 14:12] jneen commented on #283
Is it possible to depend on a git version for now? I have some formatter work I wanna finish first.

[2015-07-01 14:14] rumpelsepp commented on #283
No idea, I'll have to investigate first.

[2015-07-06 17:39] sman591 opened #284 "Ellipsis character support"
Pseudo-ellipsis support was introduced in #244 with the three periods "...", however the true typographic  ellipsis character (…) isn't supported.

I'm happy to submit a pull request if needed.

[2015-07-13 13:52] raymens opened #285 "F# support"
F# syntax is heavily based on OCaml

[2015-07-13 14:03] stanhu commented on #283
+1

It seems to be the practice in GitLab that all gems use a released version, not a specific git version. Could we get a version bump so we can migrate back to rouge?

[2015-07-13 16:06] jneen commented on #283
Odd.

[2015-07-13 16:10] jneen commented on #283
In this one instance, it does happen to be time for a release.  However, I strongly suggest that you start using git gems occasionally in the cases that I don't have time to cut one after every PR.

[2015-07-13 16:55] jneen commented on #283
1.9.1 is released.

[2015-07-13 16:56] #283 closed

[2015-07-14 19:43] rumpelsepp commented on #283
Thank you!

[2015-07-16 00:47] HarryLovesCode opened #287 "Rust Lexer Problem"
Hello,
I was trying out Rust on the [Rouge website](http://rouge.jneen.net/pastes/X1b) and I noticed some peculiar highlighting of slashes. Here's what it looks like on my computer...

<img width="1054" alt="screen shot 2015-07-15 at 8 44 30 pm" src="https://cloud.githubusercontent.com/assets/12660259/8713079/5fd903e8-2b32-11e5-9a9a-9ae3e29b0d11.png">

Here's how the same snippet is highlighted on

[2015-07-16 02:22] marlonbernardes commented on #273
Just adding my 2 cents: slim syntax ([http://slim-lang.com/](http://slim-lang.com/) is pretty similar to jade, and rouge supports slim!

[2015-07-16 02:28] marlonbernardes opened #289 "Missing support for JavaScript's new interpolation syntax"
Rouge does not yet support JavaScript string interpolation. In order to use string interpolation in JavaScript, we need to wrap our strings using backticks, like so:

[code]

Currently rouge only supports strings created using single or double quotes.

[2015-07-16 05:01] jneen commented on #287
Hi @HarryLovesCode! Thanks for the bug report. I might get around to it in the next few months but I'm very busy these days, so if you could take a look at it that'd be great.  Fortunately, rouge lexers are mostly regexes and rouge DSL and not a whole lot of ruby. You'll find the rust lexer in `lib/rouge/lexers/rust.rb`, and there's a guide on getting set up [in the wiki](https://github.com/jneen/

[2015-07-16 18:53] rodrigoargumedo opened #290 "Modules already initialized bug"
I am experiencing a bug with `1.9.1` with some console output in the Travis log in one of my [repos](https://travis-ci.org/rodrigoargumedo/personal-website-rails):

[code]

I did confirm that this bug is already on development and testing environment with Rails. It seems a bit strange to get this particular warnings about already initialized `Rouge::` constant modules.

[2015-07-17 04:58] canon4ever commented on #290
After i run the `bundle update`, i got the information too.
I don't know how should i solve it.

[2015-07-17 10:29] mynimi commented on #273
@marlonbernardes Thanks! :smiley: :+1:

[2015-07-18 21:08] ghost opened #292 "Vala support"
Vala is similar to C#

https://wiki.gnome.org/Projects/Vala

[2015-07-23 22:18] robbyklein opened #294 "Liquid support"
Hey guys, love the gem. By far the best syntax highlighting gem (I tried them all). Would be awesome if you added support for [Liquid templating](http://liquidmarkup.org/).

[2015-07-23 23:01] Arcovion commented on #294
It's already supported since `1.8.0`:
https://github.com/jneen/rouge/blob/master/lib/rouge/lexers/liquid.rb#L7

[2015-07-24 08:08] yoavst opened #295 "Kotlin support"
[Kotlin](http://kotlinlang.org/) is a programming language by JetBrains that was built as a better Java.

[2015-07-30 08:17] stanhu opened #296 "Already initialized constant Rouge::Lexers:Shell::KEYWORDS"
Now that GitLab is using Rouge, it appears that Rouge is loading files automatically, causing Rails to warn with errors:

[code]

These loads happen twice:

1. https://github.com/jneen/rouge/blob/master/lib/rouge/lexers/powershell.rb#L5
1. https://github.com/jneen/rouge/blob/master/lib/rouge.rb#L43

Removing these lines seems to make the warnings go away. Is it possible to remove these automatic l

[2015-07-30 08:32] jacobvosmaer commented on #296
Sounds like a use case for Ruby's `require` instead of `load`.

[2015-07-30 11:20] rumpelsepp commented on #296
Among others I have replaced these load calls with require relative. I forgot to file a pull request for this.
https://github.com/rumpelsepp/rugments/commit/e6bdd4eeed47670710d48f53c4b7759a35f1f348

[2015-07-31 07:26] stanhu commented on #296
@rumpelsepp Thanks. Took your work and made it work for the specs and `rackup` application in #298.

[2015-07-31 07:52] rumpelsepp commented on #296
:+1:

[2015-08-03 17:34] tejasbubane commented on #296
This happens in `irb` as well.
gem version `1.9.1`.

[code]

[2015-08-04 12:21] envygeeks commented on #296
/cc @jneen

[2015-08-04 14:45] nhoizey commented on #296
I also have the issue with Jekyll and Kramdown…

[2015-08-13 15:29] edwardloveall opened #300 "undefined method `<<' for nil:NilClass"
When trying to lex some non-valid Apache configs, I get a strange error:

[code]

Here's the shortest reproduction I could create:

[code]

I believe this happens with other languages too, however I don't have a definitive list.

[2015-08-15 22:07] JoshCheek commented on #296
Why did they have the loads in the first place? Also, this is introduced in https://github.com/jneen/rouge/commit/c8bf4a85be897327d2bcccd570fe66706dca1227

This is an alternative that maintains the `load` behaviour (again, IDK why it's there, a guess would be for reloading in rack when working tweaking the visual themes, but are better ways to achieve that, it does seem like the right solution wou

[2015-08-16 05:18] rodrigoargumedo commented on #258
That is definitely a bug. Can you provide more details about it?

Though, the `/` should not be escaped at all, in my opinion.

[2015-08-18 09:23] dijonkitchen opened #303 "Gittip / Gratipay link broken on readme"
https://github.com/jneen/rouge#tips

[2015-08-20 08:43] gpakosz commented on #296
Could this be fixed with a `1.9.2` maintenance release please?

[2015-08-20 09:55] donnut opened #305 "TypeScript support"
I would love to have Typescript syntax highlighting in gitlab. Typescript is a superset of Javascript. I could try to add Typescript to rouge, but that is probably a 90% copy-paste activity. What would be the best way to proceed?

[2015-08-20 10:36] JoshCheek commented on #296
Aye, I've dealt with it by [disallowing 1.9.1](https://github.com/JoshCheek/what-we-ve-got-here-is-an-error-to-communicate/blob/3886aa779a0e6c2d3004a8603fa5daf82a63e018/what_weve_got_here_is_an_error_to_communicate.gemspec#L13)

[2015-08-20 12:55] envygeeks commented on #296
Thanks @JoshCheek I totally did not know we could do what you did in a Gemspec.

[2015-08-21 13:01] rumpelsepp opened #306 "Python: Error tokens in regex"
Escaping brackets in python regex generates error tokens:

![screenshot from 2015-08-21 15-00-46](https://cloud.githubusercontent.com/assets/1961699/9408738/820148a4-4815-11e5-86f9-d5c0aa6be4b8.png)

[2015-08-23 04:40] PaulBGD opened #307 "EJS support"
EJS is pretty amazing, and I'd love it if you guys added support for it. It's just HTML with JavaScript mixed into it, so hopefully it wouldn't be too much work.

[2015-08-24 02:13] CyberShadow commented on #24
Here is my implementation of D highlighting for Colorer, a regex/XML-based editor highlighter:

Scheme: https://github.com/colorer/Colorer-schemes/blob/master/hrc/hrc/base/d.hrc
Test file: https://github.com/colorer/Colorer-schemes/blob/master/hrc/test/other/d-sample.d

I hope the size isn't off-putting. The Rouge implementation doesn't need to be as inclusive, as the above is meant for live text

[2015-08-24 16:48] robin850 commented on #307
@PaulBGD : This should be pretty straight-forward given the existing [ERB lexer](https://github.com/jneen/rouge/blob/9b01ae1926353c6dbe390eb34ba8c52640d941d2/lib/rouge/lexers/erb.rb) ; you just need an internal JavaScript lexer instead of a Ruby one.

[2015-08-25 21:18] morkro commented on #289
Would also love to see this added :+1:

[2015-08-26 09:48] wolfflow opened #309 "Livescript support"
[Livescript](http://livescript.net) is a language which compiles to JavaScript. It has a straightforward mapping to JavaScript and allows you to write expressive code devoid of repetitive boilerplate. While LiveScript adds many features to assist in functional style programming, it also has many improvements for object oriented and imperative programming.

[2015-08-27 00:52] MForever78 commented on #275
I'm seeing that the latest version of rouge doesn't support jsx yet. Is there any progress now?

[2015-08-27 21:34] sc0ttwad3 commented on #296
Still getting the issue... during Jekyll generations currently... (on Windows boxes as well -- below).  Has @JoshCheek found a workaround?  Steps involved?

    C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/rouge-1.9.1/lib/rouge/lexers/shell.rb:20: warning: already initialized constant Rouge::Lexers::Shell::KEYWORDS
    C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/rouge-1.9.1/lib/rouge/lexers/shell.rb:20: warn

[2015-08-27 22:07] stanhu commented on #296
I suspect the loads were used to make the visual test `rackup` work. If you make a change in the code, the loads will pull in the new code automatically. https://github.com/jneen/rouge/issues/298 emulates this behavior by manipulating the `LOADED_FEATURES` value.

[2015-08-29 18:56] sc0ttwad3 commented on #296
Great Ill give it a try, thx.

On Thu, Aug 27, 2015, 6:07 PM Stan Hu <notifications@github.com> wrote:

[2015-08-31 10:01] vincentwoo commented on #296
:+1:

[2015-08-31 14:25] wolf99 commented on #296
:+1:

[2015-09-02 14:07] tolry commented on #188
:+1: for twig/jinja Support

Gitlab is using rouge since 7.14 and therefore does no longer highlight jinja/twig templates correctly.

[2015-09-04 04:47] aaroneg commented on #251
This is done.

[2015-09-04 17:09] divoxx commented on #296
Why is `load` used everywhere instead of `require` ?

[2015-09-07 04:06] pragdave commented on #275
I just wrote a rough-n-ready JSX lexer. Before submitting a PR, I wonder if people who actually know how this is supposed to work could review it.

https://gist.github.com/pragdave/fc56273a8f6cd772caac

Cheers

Dave

[2015-09-07 04:08] pragdave commented on #275
Oops, I forgot–there's a hole in that code where I meant to ask y'all.

One form allowed in JSX is `<tag name={ javascript code }>`. To support that, I have to add the expression recognizer to the `:attribute` state. But I also then have to pop the state, and I can't work out how to do that.

[2015-09-09 14:51] knutaldrin commented on #305
The best way to do this would be to inherit from the javascript lexer, and extend it (in much the same way as c++ extends the c parser). Thus you won't have to copy-paste. ;)

[2015-09-09 20:01] jxn commented on #188
:+1: for what it's worth.  We use a lot of twig and jinja2.

[2015-09-10 16:33] #280 closed

[2015-09-11 13:48] #290 closed

[2015-09-11 13:50] rodrigoargumedo commented on #290
This fixes in 471294a

[2015-09-11 15:19] mrueg opened #316 "Add a tag for 1.10.1"
Thanks!

[2015-09-11 20:24] jneen commented on #316
done :)

[2015-09-11 20:24] #316 closed

[2015-09-17 11:54] flipace commented on #275
i'd really like to use this - any idea when it will be ready?

[2015-09-17 12:48] jbbr commented on #275
@flipace Seems like the no core developer is working on this right now but they are open to pull-requests. So it depends on external contributions.

@pragdave Thanks for your gist. I will have a look at your code but unfortunately I'm not familiar with rouge lexers and advanced regex at all. Maybe @jneen or other core developers could help you with the `:attribute` state problem?

[2015-09-23 13:28] zyio opened #318 "Saltstack related file support"
Support for the '.sls' and jinja-flavoured-yaml '.j2' files commonly used in saltstack would be appreciated.

Similar to the following pygments lexer:
http://pygments.org/docs/lexers/#pygments.lexers.templates.YamlJinjaLexer

[2015-09-23 13:29] Xiol commented on #318
+1

[2015-09-23 21:54] HarryLovesCode opened #319 "Should `Keyword::Constant` match the color of integers, floats,...?"
Below you'll notice that `true` has the same color as the return type `u64`.

![screen shot 2015-09-23 at 5 06 22 pm](https://cloud.githubusercontent.com/assets/12660259/10059822/2c7705e8-621b-11e5-951f-73c30c509dce.png)

Should the color of `true` match that of a literal such as `1.0f32`? Below shows what it would look like...

<img width="710" alt="screen shot 2015-09-23 at 5 47 07 pm" src="http

[2015-09-24 00:20] jneen commented on #319
Rouge takes the lead of Pygments here, which semantically highlights the former as `Keyword::Constant` and the latter as `Number::Float`, which can be colored independently depending on which stylesheet you're using.

[2015-09-24 00:22] jneen commented on #319
The reason we use the same tokens as Pygments is to allow for pygments-stylesheet-compatible HTML output.

[2015-09-24 08:11] razorness commented on #188
:+1: The very famous PHP framework Symfony2 is using Twig by default. Primary, it's very similar to Django. So get it work! ;-)

[2015-09-24 15:05] jneen commented on #188
Please keep in mind I do not get paid to work on rouge.

[2015-09-24 16:44] daviddarnes commented on #188
@jneen fully aware! People are welcome to make a pull request for it!

[2015-10-03 09:53] viaudg opened #320 "Add Julia syntax highlighting"
Currently, Julia files are not recognized by Gitlab which makes reading Julia codes rather difficult.

[2015-10-03 16:02] jneen commented on #320
That'd be awesome. I don't have time to do this myself, but I'd happily merge a pull request.

[2015-10-04 07:33] vojtechhabarta commented on #305
I would also like to have TypeScript syntax highlighting on gitlab. Would it be possible (technically and legally) to reuse some library rather than developing it from scratch? GitHub has support for TypeScript and I personally use highlight.js.

[2015-10-10 21:09] DanielSiepmann commented on #187
Can someone open and finish this task?

[2015-10-10 22:16] jneen commented on #187
?

[2015-10-12 10:41] PatchesNULL opened #321 "Syntax Highlighting Breaking"
Python syntax highlighting breaks on specific code lines.

"raise Exception from None"

The above is the only line I've seen do it, though my line is actually "raise BadIDError(error) from None". Commenting out this line restores syntax highlighting until it encounters another line similar or exactly the same.

This is a repost from https://gitlab.com/gitlab-com/support-forum/issues/360

[2015-10-12 16:54] stanhu commented on #321
`raise...from...` is a Python-3 definition:

https://docs.python.org/3/reference/simple_stmts.html#raise

The Python lexer doesn't currently support this; it's mistakenly interpreting the `from None` as an import statement.

[2015-10-12 18:04] jneen commented on #321
Hi @PatchesNULL, thanks for the report!  We don't yet support all python 3 features yet unfortunately - that's been on the TODO list for some time. The issue here seems to be that the `from` keyword enters a `:fromimport` state which expects a namespace, which I imagine also breaks `yield from` and friends.

[2015-10-12 18:06] jneen commented on #321
I don't have a whole lot of time right now, but if one of yall feel like either massaging the python lexer to fit both python 2 and 3 or splitting them into two lexers, I'd be super grateful.  The former would be nicer if it's workable.

[2015-10-13 18:09] KuttKatrea opened #322 "Javascript Lexer does not recognize a literal object as first element"
When you have a literal object at the beginning of a block/file its not recognized, but if you include first a comment it will be recognized just fine.

[2015-10-13 18:23] jneen commented on #322
This is intended behavior. Curly braces in statement position are blocks, not objects.  `{a: 1}` is a syntax error in statement position in javascript.

[2015-10-14 03:53] PatchesNULL commented on #321
I'd love to help, but it'll have to be someone else. Got sent here by the GitLab people, and I don't actually know ruby :P

[2015-10-14 14:52] KuttKatrea commented on #322
I've been investigating and you are right, but there is still a bug, that if you do:

[code]

Then ´{a:1}´ will be recognized as an object just fine, which then its an error because it's still in a statement position.

[2015-10-14 14:54] dijonkitchen commented on #303
+1

[2015-10-14 15:56] jneen commented on #322
You're right, that is odd. Hrm :\

[2015-10-14 15:57] jneen commented on #303
Haha well it looks like gittip/gratipay changed their model. I've replaced it with my square cash link, which works just fine.  Thanks!

[2015-10-14 15:57] #303 closed

[2015-10-15 05:44] mordervomubel commented on #321
I don't really know ruby either, but I and @PatchesNULL got it fixed. Is this good for a merge?
https://github.com/jneen/rouge/pull/324

[2015-10-15 05:47] PatchesNULL commented on #321
Indeed. You're welcome to close the issue. We worked on it together so can confirm it fixed my issue.

[2015-10-15 05:52] #321 closed

[2015-10-15 05:52] jneen commented on #321
Closed by #324.

[2015-10-20 21:56] zackify commented on #275
Any status update on this?

[2015-10-20 21:56] jneen commented on #275
No

[2015-10-21 11:07] sulmanhotmail commented on #168
Hello jneen. By entering above code the theme is lost.
<img width="1166" alt="screen shot 2015-10-21 at 13 05 15" src="https://cloud.githubusercontent.com/assets/11699039/10634825/6d6e8b0e-77f4-11e5-8bc5-1ee9b56eb813.png">

before putting line numbers them was like:
<img width="1104" alt="screen shot 2015-10-21 at 13 06 14" src="https://cloud.githubusercontent.com/assets/11699039/10634839/8b72c2c8

[2015-10-21 12:47] tommyZZM commented on #305
:+1

[2015-10-22 14:56] attilacsanyi commented on #305
+1

[2015-10-22 15:01] jneen commented on #305
I'd happily merge this pull request, but I don't have time to implement it myself.

[2015-10-28 17:29] DanielSiepmann commented on #187
It's still not possible to insert PHP Code without the opening tag. At the moment I'm using ruby as language for highlighting PHP Code.

[2015-11-01 18:50] jjatria opened #334 "Praat lexer fails with functions passed as arguments to other functions"
If a function is passed as an argument to a procedure delimited with colons, the lexer fails to find a proper exit of the `comma_list` context. Example:

    @proc: a, selected("string"), b
    # Error

I think the `comma_list` context needs to be redesigned, since it doesn't really need to be recursive: a [non-recursive version](https://bitbucket.org/birkenfeld/pygments-main/src/73115a27a7dd363e5

[2015-11-01 18:59] jneen commented on #334
Good catch.  I agree that the non-recursive version would be preferable.  Do you have time to put together a PR of this?

[2015-11-01 19:15] jjatria commented on #334
Not just now. But if you give me a week or so I think I'll have time to get around to it.

[2015-11-07 03:15] hastebrot commented on #295
Pygments has a lexer for Kotlin 1.0-beta under `pygments/lexers/jvm.py`.

Here is the latest commit with `KotlinLexer`: https://bitbucket.org/birkenfeld/pygments-main/commits/338cc5649dac7f80da6a9d621284d9412d19b1a7?at=kotlin-lexer

[2015-11-09 05:36] hastebrot commented on #295
Here is my basic conversion of the Pygments lexer `KotlinLexer` written by @yole:

- https://gist.github.com/hastebrot/39471fdba13d74a9f45f

Issues:

- identifiers for `class`, `interface`, `object`, `package`, `import`, `val`, `var`, `fun` use the rule for Java identifiers.
- multi-line strings are not supported.

Code:

[code]

[2015-11-10 07:58] markvandenbrink commented on #305
+1

[2015-11-10 22:33] jneen commented on #305
@donnut If you want to take a crack at this, I'd suggest subclassing the javascript lexer and using `prepend` and `append` - you can see the QML lexer for an example of this.

[2015-11-10 22:33] jneen commented on #305
...that way there's no copy/paste.

[2015-11-12 21:09] puggan opened #338 "php hilight, strings with objects in"
When using objects in string, the hilight gets bad afterwarrds.

exemple code, works fine in github:

[code]

not so fine in your hilight:
http://rouge.jneen.net/pastes/xvW

(image of exemple code, for reference after the bug is fixed)
https://gitlab.com/gitlab-org/gitlab-ce/uploads/96de50a29812972e78f10ea8b952283b/gitlab_hilight_error_php_issue_3375.png

[2015-11-13 03:44] jneen commented on #338
Thanks for the report @puggan! I'll try and find some time to look at it.

[2015-11-17 17:03] #320 closed

[2015-11-19 22:49] robodude666 opened #340 "Extend Visual Basic filenames"
The Visual Basic Lexer currently included only recognizes VBScript (_.vbs) and VB.NET (_.vb) file extensions.

It would be great if `*.bas` and `*.cls` extensions were also recognized in order to support Visual Basic 6 and Visual Basic for Application.

[2015-11-21 18:57] mrzool opened #341 "YAML highlighting looks off"
Hello. I'm using rouge with Jekyll and the highlighter isn't working as expected.

I get this output:

![screen shot 2015-11-21 at 19 53 15](https://cloud.githubusercontent.com/assets/6874363/11319939/92e60f9e-9089-11e5-84e8-d6140a5adb57.png)

While I was expecting something more along the lines of this (Github highlighting, where you can clearly tell apart keys from values):

![screen shot 2015-1

[2015-11-23 09:22] byFd commented on #96
Sorry for digging out this old issue, but that would be really nice to have!

[2015-11-24 07:53] nasht00 opened #342 "Highlight a specific line"
Jekyll 3 has switched from Pygments to Rouge.

One thing I used to do with Pygment is to highlight a specific line in a code block (`hl_lines`).

Are there plans to support such a feature?

[2015-11-24 13:37] nasht00 opened #343 "List of stylesheets examples?"
The documentation just says that Rouge is compatible with my existing Pygments stylesheets.
But if I am starting from scratch, the fact that it's compatible with some other product is not very interesting to me.

Can you publish more information about what the CSS should look like?

Maybe provide a list of existing examples we can use?

I plan to use the line numbers feature, and the existing styl

[2015-11-24 16:26] jneen commented on #343
Hi! If you're starting from scratch, I recommend creating a rouge theme (see `lib/rouge/themes/thankful_eyes.rb` for an example).  Then call `MyTheme.render('.highlight')` (or whichever CSS class you have on your highlighted blocks) and it should give you the CSS.  The highlight token for line numbers is `Generic::Lineno`.

[2015-11-25 08:39] nasht00 commented on #343
I'm actually using Rouge as part of Jekyll 3.0, so there is no ruby code involved here.

All I can do is provide a CSS file (and yes `.highlight` is the default css class).
Is there an easy way to get the compiled CSS file from one of those themes?

[2015-11-29 06:58] phunehehe opened #345 "Nix support"
I may be able to open a PR later on, but want to open an issue before I forget.
It's like this in Pygments https://bitbucket.org/birkenfeld/pygments-main/pull-requests/267/add-nix-language-lexer/diff.

[2015-12-01 08:23] stanhu opened #346 "Matlab files without comments don't get highlighted"
In the [example here](https://gitlab.com/kelvinmutuma/matlab_test/blob/master/test.m), calling `Rouge::Lexer.guess('test.m')` resolves to the `PlainText` lexer. Here's what's happening:
1. *.m files can be interpreted either as Matlab or Objective C.
2. Rouge runs `analyze_text` on the file to resolve the ambiguity. For the Matlab case, it's scanning for comments. In the Objective C case, it's sca

[2015-12-01 19:17] MischaDeNola commented on #342
Is there a way to do this with Rouge right now? This would solve a big problem converting from pygments.

[2015-12-01 19:24] jneen commented on #342
That would be a Jekyll feature - please open an issue with them.

[2015-12-01 19:24] #342 closed

[2015-12-02 07:34] nasht00 commented on #342
Why would it be a Jekyll feature?

It is a feature of Pygment (See on `hl_lines` http://pygments.org/docs/formatters/), which Jekyll used.

When they switched to Rouge, we lost that feature.

[2015-12-02 21:42] samliu opened #347 "protocol buffer support"
May add a PR later but wanted to open the issue since it doesn't exist yet

[2015-12-03 15:42] Rewt0r opened #348 "A couple of issues with PHP syntax highlighting breaking"
As per https://gitlab.com/gitlab-org/gitlab-ce/issues/3825

[2015-12-06 10:35] IdanAdar commented on #342
+1 for this feature in Rouge.

[2015-12-07 19:51] waylan commented on #343
All of the default Pygments themes have been generated as CSS files and posted on GitHub [@richleland/pygments-css](/richleland/pygments-css). You can copy any of those files and use them. No need to install Pygments and run it from the command line to generate the CSS files yourself. A [preview](http://richleland.github.io/pygments-css/) of each theme is also available.

Note that all of those th

[2015-12-08 15:26] thomasboyt commented on #3
From what I've seen so far, the lexer seems to work for most Python 3 syntax, with the exception of the new `yield from` statement in Python 3.3: https://docs.python.org/3/whatsnew/3.3.html#pep-380-syntax-for-delegating-to-a-subgenerator

looks like this is because the `from` keyword immediately kicks the lexer state into "importing" mode, so the fix should be relatively simple: https://github.com

[2015-12-08 15:29] thomasboyt commented on #3
ack, nevermind, someone did this already! what I get for searching issues instead of PRs :p https://github.com/jneen/rouge/pull/324

[2015-12-08 22:25] m47z0r opened #350 "Using "apache" syntax highlighting corrupts the output"
What should look like this:

[code]

..., is becoming this:

[code]

As you can see, some words are just cut off instead of being highlighted.

See also:
- http://rouge.jneen.net/pastes/qO3
- https://github.com/gitlabhq/gitlabhq/issues/9896

[2015-12-10 12:57] nixel2007 opened #351 "Converting from TextMate format"
Hi.

Many languages have their grammars described in TextMate-bundles or tmLanguage-files based on that format. [Link](http://manual.macromates.com/en/language_grammars)

Is it possible to convert tmLanguage file to your lexer's format (or include support of it)? Or maybe you can provide some step-by-step guide to manual conversion (i.e. token map and functions supported in both formats).

[2015-12-15 01:25] rdavila opened #356 "Ability to preserve custom content"
I'm wondering if it's actually possible to do this:

If I have a line with this content: `class <span class="special">MyClass</span>`

Then I only want the `class` keyword to be highlighted and the rest of the content should be untouched, I mean the `span` tag and all the related content should not be tokenized.

I'm thinking in creating a custom Lexer which can be configured to ignore that text a

[2015-12-15 01:27] jneen commented on #356
Hi! Do you mean you want to inline that HTML into the output of the HTML formatter/

[2015-12-15 01:29] rdavila commented on #356
@jneen yes, the `span` tag is being tokenized and the content is being shown in a raw format instead of only seeing `MyClass` with it's custom CSS styling.

[2015-12-15 01:37] jneen commented on #356
So a possible issue here is that lexers do not create HTML - they create token streams.  This is so that content can be rendered to HTML, ANSI codes, and potentially BBCode or other systems.  I would recommend writing a lexer that uses `delegate` to send to a parent lexer, and yields a special token when it sees some sort of delimiter. You can declare a new token with `Rouge::Token::Tokens.token(:

[2015-12-15 02:06] rdavila commented on #356
@jneen thanks for the insight, I'll try to implement it and let you know if I found any issues.

[2015-12-15 03:26] rdavila commented on #356
@jneen looks like I'm missing something in my lexer, I have this one:

[code]

It's generating this ouput:

`<pre class="highlight"><code><span class="n">hello</span> <span class="n">world</span></code></pre>`

but I want to generate this one:

`<pre class="highlight"><code><span class="n">hello</span> <span class="st">world</span></code></pre>`

So looks like it's passing all the token to the Rub

[2015-12-15 03:33] rdavila commented on #356
I just tried to negate the regexp in the rule that delegates and it works :)

[code]

[2015-12-15 12:48] citizenmatt commented on #264
I'm also interested in line highlights - is it worth a temp implementation before 2.0 is available? Happy to have a go and send a PR.

[2015-12-15 16:26] rdavila commented on #356
@jneen I'm having some trouble when trying to implement the right rules, I think it's due to my incomplete understanding about how `rules` and `states` works. I've this custom Lexer:

[code]

When I have a string like this: `"puts 'one' <span class='high'>hoho</span> puts 'two'"`

I want `puts 'one' ` and ` puts 'two'` to be processed by the second rule, and `<span class='high'>hoho</span>` to be

[2015-12-15 18:04] jneen commented on #356
Please try running with the `:debug` flag on.

[2015-12-15 23:50] zrax commented on #347
It looks like this was resolved by #327

[2015-12-16 03:36] samliu commented on #347
Thanks. Closing.

[2015-12-16 03:36] #347 closed

[2015-12-16 11:43] okaufmann commented on #305
+1

[2015-12-17 16:57] rdavila opened #357 "Error with using custom Lexer with delegation to ERB Lexer"
I'm getting a `stack level too deep` error that only happens when I use the ERB lexer as the parent lexer.

Here is how to reproduce the error:

[code]

You may need to test it with Ruby version 2.2 or higher otherwise the backtrace for the error is going to be empty.

[2015-12-17 16:59] rdavila commented on #356
Thanks a lot for your help @jneen, the `:debug` option is pretty useful. I have found an error when trying to implement your suggestion, looks like it's pretty related to the ERB lexer: #357

I'm going to close this issue since you have already solved my question.

[2015-12-17 16:59] #356 closed

[2015-12-17 23:46] rdavila commented on #357
I've fixed the above error by inheriting from RegexLexer instead of TemplateLexer and passing the parent lexer through a custom option at initialization of the Lexer:

[code]

[2015-12-18 00:57] julp commented on #350
Hi,

this issue was already reported by #246 and #300

It should be fixed by #301 in next release.

[2015-12-23 11:06] pravi opened #358 "request to follow SemVer/mention it in README"
Do you follow semver.org? If yes, can you mention it in README. Else, can you consider following it?

[2015-12-23 14:26] souenzzo opened #359 "wrong shell highlighy"
From here: https://gitlab.com/gitlab-org/gitlab-ce/issues/4208#note_3028190
Reproduce:

[code]

'A' isn't highlight as "var"
'exit' is highlight as "string"

[2015-12-23 17:18] duffn opened #360 "Highlighting of comment in SQL is incorrect if comment is on last line and there is no newline"
If there is a comment in SQL on the last line of the code and there is no newline, the comment is highlighted as regular code and not as a comment.

http://rouge.jneen.net/pastes/ajM

![screen shot 2015-12-23 at 10 18 06 am](https://cloud.githubusercontent.com/assets/3457341/11981281/847609a8-a95e-11e5-964e-4a794310e667.png)

[2015-12-25 07:26] sanex3339 commented on #305
+1

[2015-12-26 04:37] gaoxiaoliangz opened #361 "How to display language name in html?"
I'm using rouge in my jekyll blog, when I do something like this

[code]

rouge will not output the language of the code.

[code]

However, if the language is not identified (let's say the language is hahaha), it seems to output the "language-hahaha" class. and now i want it to output the language name class whether or not it is identified. How can I achieve that?

[2015-12-27 18:15] simonc opened #363 "Missing support for Ruby heredocs method chaining"
Hi there :)

I tried to add support for Ruby heredocs method chaining but I don't really know the lexer DSL for now (and sadly lack the time to dig into it).

I'll just create an issue to document the missing feature.

What I'm talking about is the support for this kind of code:

[code]

[2015-12-27 22:48] julp commented on #360
Hi,

the SQL lexer may not be the only one to be concerned by this issue.

[2015-12-29 21:22] rdavila opened #369 "Regex for single comment in Coffeescript requires a new line char at the end of string."
### Steps
[code]

### Expected
```<span class=\"c1\"># Single comment</span>```

### Actual
```<span class=\"err\">#</span> <span class=\"nx\">Single</span> <span class=\"nx\">comment</span>```

[2016-01-05 15:21] #357 closed

[2016-01-13 23:28] ckruse commented on #300
I get this error as well

[2016-01-14 07:19] nasht00 commented on #343
I'm closing this, however, I think it would be nice to post those links somewhere, in the readme or the website.
Because like I said, new users (like myself) don't care that it's "pygments compatible" if they never used Pygments before.

[2016-01-14 07:19] #343 closed

[2016-01-15 14:24] binarious commented on #305
+1

[2016-01-19 05:54] ptrikutam commented on #341
I'm having the same issue. Did you figure it out?

[2016-01-19 09:05] mrzool commented on #341
More or less, and completely by chance.

I'm telling rouge to consider the YAML blocks as ruby using `{% highlight ruby %}`. This gives me this output:

![screen shot 2016-01-19 at 10 01 39](https://cloud.githubusercontent.com/assets/6874363/12414121/aa8f0ea6-be93-11e5-9053-b66d32800409.png)

It's far from perfect but it's better than the YAML highlighting as it's currently implemented.

Hope this

[2016-01-19 23:43] uberfuzzy opened #373 "`http` lexer requires first line to be http request method and path"
Hi, I was trying to use the `http` language to style up some blocks of HTTP headers in a tutorial, but I noticed too late that it only works when the first line matches a HTTP method verb and a path (aka, the opening http request). The after-header response body lines seems to be optional, but not that opening request line.

My ruby skills are far too newbie to even know where to start to fix this

[2016-01-19 23:57] jneen commented on #373
...the HTTP spec requires this too, iirc.  Is this a feature request?

[2016-01-20 00:17] uberfuzzy commented on #373
I guess it is a feature request, to be able to syntax highlight just http headers, and not a full http request.
So the above link would be colored like such, http://rouge.jneen.net/pastes/ZMX (just sans line 1)
With the headers in `na`, and the values in `s`.

[2016-01-20 10:52] htch opened #374 "Tiny bug in scala lexer"
Stumbled upon a small wart in scala lexer: it treats closing parenthesis as a part of a preceding scala symbol, for example in this code sample:

[code]

Relevant [screenshot of the same code](http://i.imgur.com/frldlRd.png) from gitlab that relies on rouge for its syntax highlighting and a [paste](http://rouge.jneen.net/pastes/opp) in the rouge pastebin.

[2016-01-25 02:55] joshuabowers opened #375 "Ruby Ranges highlight incorrectly"
The first period of the range is styled correctly as a punctuation character; the second is styled as a Name.Function (e.g. `.nf`).

For example, the following code creates for ranges of different type.

[code]

The first three are inclusive, so the `..` should be treated as a single punctuation entity. The fourth creates a range between 0 and 9; in this case, `...` is a single operator.

See, e.g

[2016-01-28 23:00] zorend commented on #305
+1

[2016-02-01 10:23] rumpelsepp commented on #3
`raise ... rom` also causes problems.

[code]

[2016-02-02 05:24] gmalecha opened #377 "Implement a Coq Lexer"
It would be great to have a lexer for the Coq proof assistant.

I'm no ruby expert, but I'll try to write one.

[2016-02-02 10:18] clns opened #379 "Retain the language identifier in the generated HTML"
Currently the parsed markdown generates the following HTML code:

[code]

Is it possible to retain the language identifier (in this case `js`) into the HTML? Maybe as a `data-lang` attribute, similar to pygments, e.g.:

[code]

I'm not sure if this is the right place for this issue, or maybe it should be in the [kramdown](https://github.com/gettalong/kramdown) repo, so sorry if I got it wrong.

[2016-02-02 19:32] tibel commented on #252
:+1:

[2016-02-02 19:34] XhmikosR commented on #251
Indeed, thanks.

[2016-02-02 19:34] #251 closed

[2016-02-02 20:09] lucasfcosta commented on #289
This would be great.

[2016-02-02 22:18] parkr opened #381 "start_inline passed manually"
Hey @jneen!

I'd like to be able to use `start_inline` (which you write about in https://github.com/jneen/rouge/issues/187#issuecomment-61843772) with our `{% highlight %}` liquid tag. Can they be passed in [via formatter initializer](https://github.com/jekyll/jekyll/blob/v3.0.2/lib/jekyll/tags/highlight.rb#L102). It's not documented in the README so I wasn't sure. Ideally, a user would be able to

[2016-02-02 23:44] jeroen opened #382 "Bug in R highlighter"
The R highlighter does something weird to the final line of a comment: https://www.opencpu.org/posts/commonmark-fast/

[2016-02-03 17:25] benbalter opened #385 "Apache Lexer raises NoMethodError error"
### The error:

[code]

### Steps to reproduce (per the readme)

1. Create a file "test.txt" with contents "test"
2. `require 'rouge'`
3. `source = File.read("test.txt")`
4. `formatter = Rouge::Formatters::HTML.new(css_class: 'highlight')`
5. `lexer = Rouge::Lexers::Apache.new`
6. `formatter.format(lexer.lex(source))`

[2016-02-04 03:25] AaronLasseigne opened #386 ""diff" lexer requires a final newline"
When using the "diff" lexer if the last line doesn't have a newline it shows up as a parser error. This is particularly a problem when using rouge with Jekyll which trims the last newline off of code blocks.

[2016-02-04 06:03] BruceZhaoR commented on #382
In R code the keywords,such as `library`, don't render correctly.I check the source file and find that the R keyword is `span.n`,which means normal.  But in the pygments highlighter,it is `span.k`,which meas keywords.
I can't figure out why pygments should be repalced by rouge!

[2016-02-04 13:46] klmr commented on #340
It may be a better idea to provide a completely different lexer for those (and potentially merge `*.vbs` into it) since VB6 and VB.NET are quite different languages (even on the syntax level).

[2016-02-04 13:47] klmr opened #388 "Add support for documentation comments"
While rewriting the R lexer in #383 I’ve come across a problem: There doesn’t seem to be support for documentation comments (Doxygen, Roxygen, C# XML comments, RDoc), in general, any kind of composite markup.

For instance, consider the following R code:

[code]

Ideally, the whole block should be marked as `Comment::Doc`. *In addition*, the `@param` etc directives and the pseudo-LaTeX code should

[2016-02-04 13:58] klmr commented on #382
@BruceZhaoR The bug report is unconcerned with the lack of highlighting of function names; the issue is, rather, that the last line of the comment is wrongly highlighted:

![screenshot](https://cloud.githubusercontent.com/assets/38931/12816872/d2dc74ba-cb46-11e5-9cc9-7456d140fe34.png)

The move may have been premature but there are good reasons for it: Jekyll itself runs in Ruby, and having to inv

[2016-02-04 18:21] parkr commented on #385
If you turn on debugging for the lexer, you see:

[code]

[2016-02-04 20:06] julp commented on #385
This issue was already reported by #246, #350 and #300 (I think they are the same even if results are different)

It should be fixed by master (so in next release) by #301

[2016-02-04 20:11] parkr commented on #385
@julp You rock! Thank you for finding those other issues. Glad to hear it's all sorted on master.

[2016-02-04 20:20] #385 closed

[2016-02-06 03:07] BruceZhaoR commented on #382
@klmr Sorry about that! New things always take time to adapt. Hope somebody could implement the highlighting of R function names. :smiley:

[2016-02-06 15:43] mpeteuil commented on #206
Looks like this is closable as a result of the work that was merged in with https://github.com/jneen/rouge/commit/d627db73fbadfbd6b75a38f28efd57eabbfb761a

[2016-02-06 16:52] #206 closed

[2016-02-06 16:53] edwardloveall commented on #206
Thanks for lookin out!

[2016-02-08 15:43] CIAvash opened #390 "Add support for Perl 6"
https://perl6.org/

[2016-02-08 16:12] mpeteuil commented on #206
Sure thing, thanks for creating the `title` :smile:

[2016-02-09 02:32] davidzchen opened #391 "Add support for Jsonnet"
+@sparkprime

We will be updating to Jekyll 3 for http://jsonnet.org. Since rouge is the default highlighter as of Jekyll 3, I am opening this to track the work I am doing to add a lexer for Jsonnet.

[2016-02-09 06:35] BruceZhaoR commented on #382
I borrowed a set of js file from RStudio,and now it works fine. If you want to make your R highlight nicer,you could go to look the `brucezhaor.github.io`repository.

[2016-02-09 08:43] klmr commented on #382
@BruceZhaoR There’s #383 as well.

[2016-02-09 17:59] fredemmott opened #392 "Support Hack (PHP-like)"
_most_ files would work simply by pretending '<?hh' files are PHP - there is some extra syntax though, that would be good to also support:
# XHP (XML-like literals)

[code]

More info: https://docs.hhvm.com/hack/XHP/introduction
# Collection object literals

[code]

https://docs.hhvm.com/hack/collections/introduction
# Short lambdas

[code]
# nullable

[code]
# callable types

[code]
# Generics

h

[2016-02-10 04:00] do11 opened #393 "Small improvement for YAML highlighting, big leap for readability [Feature Request]"
(Excuse me for not knowing thoroughly how Rouge works. If I know that good, I would probably create pull request instead of feature request.) :bow:

Currently, it seems, when Rouge highlight YAML text, it assumes that almost everything in YAML is strings (except comments and punctuation) so highlighting become _single color everywhere_ style. Because of this, in GitLab (in default white theme) alm

[2016-02-11 01:13] dchacke commented on #305
+1

[2016-02-11 06:40] tcbrindle opened #394 "C++ support has some bugs"
I've just switched to using Rouge (from Pygments) for my Jekyll blog as encouraged by Github, and I've noticed a couple of bugs in the highlighting of C++:
- Many [C++ keywords](http://en.cppreference.com/w/cpp/keyword) seem to be unrecognised. In particular, anything added in C++11 such as `constexpr` or `decltype` is absent, as is `bool` (which has existed for as long as C++).
- A couple of [C99

[2016-02-11 08:15] tcbrindle commented on #394
Also, the rarely-used `compl` keyword is highlighted as a type (like `int` or `float`), whereas in fact it's an alternative to the `~` bitwise-complement operator.

[2016-02-11 08:17] tcbrindle commented on #394
Current Rouge support for C++ keywords can be seen here:

http://rouge.jneen.net/pastes/OY4

[2016-02-11 12:24] jrfnl commented on #342
Duplicate of #264

[2016-02-11 12:55] jrfnl commented on #117
Another user just switched from pygments and looking for the same. The Rouge HTML output with the tables instead of the spans makes that the switch from Pygments to Rouge is not as straightforward as advertised.

[2016-02-12 17:23] Xiol opened #396 "Support for Salt (Saltstack) state files"
Hi,

I initially raised an [issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/13394) at the Gitlab issue tracker about Salt states being incorrectly detected. It appears they use this library, and you do not support Salt state files yet.

I believe at the moment they're being incorrectly detected as if we have an opening jinja tag, syntax highlighting breaks:

![image](https://cloud.githubuser

[2016-02-14 11:39] Inspiravetion commented on #305
+1

[2016-02-15 21:22] TWiStErRob commented on #361
+1

[2016-02-16 17:31] stomar opened #398 "Support for irb"
A lexer for `irb` sessions would be nice (pygments has one).

[2016-02-17 22:55] message opened #399 "PHP Syntax highlight breaks"
Syntax breaks at `{$e->getMessage()}` part

[code]

![screenshot from 2016-02-18 00 54 45](https://cloud.githubusercontent.com/assets/492026/13127812/3ada25b0-d5da-11e5-96e5-745f0a350480.png)

[2016-02-18 07:01] tflori commented on #305
+1

[2016-02-18 08:57] jerive commented on #305
+1

[2016-02-21 12:31] mordervomubel commented on #3
@rumpelsepp are you using the latest git code? I thought I fixed yield and raise in #324 .

[2016-02-23 04:07] SlaunchaMan opened #403 "Swift Keywords Highlighting Outside of “Particular Contexts”"
Some keywords in Swift, such as `left` and `right`, are only keywords inside of [certain contexts](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/LexicalStructure.html):

In particular, I have a Swift struct with a member called `left` and it’s highlighting as a keyword.

[2016-02-24 01:24] ethanresnick commented on #379
+1. Having the language identifier in `data-lang` or in a (prefixed) classname would be really nice!

This bit me when trying to switch to Rouge from Pygments.

[2016-02-25 02:46] monfresh commented on #61
I actually disagree with this behavior. Method names should not be highlighted in the same way as method calls in Ruby. I don't think I've come across any other highlighter that does this. Check out how GitHub does it, for example:

[code]
The method name is in purple, but chained method calls are all in black.

In my particular case, I'm using middleman-syntax, which uses Rouge, and the CSS theme

[2016-02-25 20:51] geon commented on #198
Less already has an implementation written in Ruby. That might help?

[2016-02-26 08:47] KelvinMutuma opened #406 "Include support for Nix Expression Highlighting"
Here is a sample: https://gitlab.com/fractalide/fractalide/blob/master/build-support/buildFractalideComponent.nix

[2016-02-27 15:01] stepmuel opened #407 "Objective-C highlighting breaks for method declaration without parameters"
When declaring a method without parameters in Objective-C, the function name is colored like a parameter type.

[code]
### Expectation

`addSection` should be highlighted like `addCell`.
### Result

`addSection` is highlighted like `UITableViewCell`.

[2016-02-27 15:25] stepmuel opened #408 "Bug [javascript]: `\uXXXX` sequences not supported in strings and regular expressions"
While Pygments highlights regular expressions in JavaScript with a single color, Rouge tries to do code highlighting inside regular expressions.

[code]

The highlighter fails in some cases (e.g. unicode characters written in hex), and is more distracting than helpful in many cases due to the dense nature of regular expressions. Highlighting the entire expression in a single color, like Pygments d

[2016-02-29 21:51] jjatria commented on #334
Welp, it was definitely _not_ a week or so. But there it is!

Comments welcome!

[2016-03-01 10:30] pbregener opened #411 "Project activity"
I am slightly worried about this project's activity. Over the last weeks and months several largish projects have adopted Rouge and many PRs were filed to extend and improve it. This includes both bugfixes and new lexers (also for languages that were requested specifically). But the last PR was merged more than 2 months ago.

I know that no one is getting paid for developing or maintaining here, b

[2016-03-01 11:59] sevenseacat opened #412 "Support for EEX (embedded Elixir templates)"
Like ERB embeds Ruby in HTML templates, EEX embeds Elixir in HTML templates. It should be pretty straightforward to copy and adapt the ERB lexer...?

(I may take a look at this myself)

[2016-03-02 04:45] ph-hs opened #413 "Option of external source to syntax-highlight"
Please excuse the Github-Pages Kramdown style, to outline what I'm suggesting:

It'd be super cool, if Rouge could ingest files and highlight them at build-time, but do so from a HTTP source instead of a mandatory copy/paste as it is now. Obviously I've kludged back-ticks in the code sample above.

[2016-03-02 06:22] japj commented on #43
Hi, I want to get some input on how to proceed on this. I am very interested in BIML support myself (xml with c# similar to how aspx is html with c#).

If I understand correctly you can delegate from one lexer to another, I.e. HTML delegates to JavaScript and CSS.  That might also make it possible to have a new lexer that does the detection and delegates to xml(html for asp) or csharp?

[2016-03-03 08:29] davidzchen commented on #391
I have a patch for this. I'll send a PR once the patch has has been reviewed internally.

![screen shot 2016-03-02 at 11 27 39 pm](https://cloud.githubusercontent.com/assets/5283042/13488567/e6d00400-e0d6-11e5-856a-e574a2148a91.png)

[2016-03-03 19:10] alexconst opened #418 "Preview existing themes"
Is there any way to preview existing color schemes?
I guess this is more of a documentation/website issue. But it would be nice to have.

FWIW I'm using Rouge via Github Pages.

Thanks

BTW, does Rouge also set the background on its own or is this the responsibility of a third party (like Jekyll)?
This results in broken themes, where the text is either very hard to read or an annoying whitespace s

[2016-03-03 19:56] twbecker opened #419 "Properties highlighting doesn't allow for hyphens (nor other non-\w chars) in keys."
The properties lexer seems to only allow for word characters \w in property keys. Hyphens in particular mess up the highlighting.  According to the closest thing I could find to a [spec](http://docs.oracle.com/javase/8/docs/api/java/util/Properties.html#load-java.io.Reader-):

_"The key contains all of the characters in the line starting with the first non-white space character and up to, but not

[2016-03-03 21:50] alexconst opened #421 "Colors used in shell code block are too similar"
This is theme dependent and happens at least with _base16_ and in the [demo website](http://rouge.jneen.net/).

The comments and some commands and variable names use very similar colors.

base16 theme screenshot
![](https://i.imgur.com/OLeNK8P.png)

And sample text for testing in the [demo website](http://rouge.jneen.net/)

[code]

[2016-03-03 23:56] alexconst commented on #418
I'm guessing this is related to the "background selection highlight".
Is there any way to disable it?
![](https://i.imgur.com/5zTGacJ.png)

[2016-03-04 14:38] vincent-zurczak commented on #379
+1

I have switched to Jekyll 3.x for Github pages and this option would be very convenient. We have tons of code snippets and we used to customize the CSS per language. Keeping the language as a data-lang attribute or as a CSS class (`pre class="highlight language-html"`) would be welcome.

If we do not want to make it the default behavior, maybe this feature could be enabled through an option.

[2016-03-05 01:49] aditaa commented on #318
+1

[2016-03-05 01:49] aditaa commented on #396
+1

[2016-03-07 04:10] KobaKhit commented on #379
+1
I have code chunks which are text output and I want the background for them to be white. Having the language identifier allowed me to do so. I use Jekyll with redcarpet which has this feature. But with kramdown the language identifier is not retained.

[2016-03-10 15:44] dblessing opened #424 "Add support for awk"
Please add support for awk syntax highlighting

See https://about.gitlab.com/2015/08/22/gitlab-7-14-released/#comment-2561739598

[2016-03-10 17:54] enriquecaballero commented on #275
Seriously. This is WAY overdue.

[2016-03-11 03:58] Treri opened #425 "code blocks using ``` syntax not highlighted when in lists"
I used rouge (1.10.1) in jekyll 3.0.3 (github pages used version) on OS X 10.11.3

###### What did you do?
use below content
[code]
[code]
<p>```js
var a = function(){}
[code]

If I delete leading 4 space, it is highlighted correctly, but the code block will not be in the list item level anymore

[2016-03-11 08:29] #425 closed

[2016-03-11 08:32] Treri commented on #425
Sorry, forget this issue 😰

[2016-03-11 08:51] geraldb commented on #425
@Treri   FYI:  It's not a bug. If you use kramdown you have to "fix" your source e.g. ident the code block the same as the first non-list marker. See the [Jekyll F.A.Q ](https://github.com/planetjekyll/quickrefs/blob/master/FAQ.md) entry titled "How can I get backtick fenced code blocks working inside lists (with kramdown)?".Cheers.

[2016-03-14 21:57] mnlipp commented on #419
Confirmed. It really looks strange if the key contains a hyphen. The part up to the hyphen gets style "err".

[2016-03-16 07:38] dotnetautor commented on #305
+1

[2016-03-16 10:33] ralequi opened #428 "Please add support for hardware-languages syntax highlighting"
Please add support for common hardware languages like:
- VHDL
- VERILOG

Thank you!!

[2016-03-18 06:12] darrylring commented on #428
It looks like #317 would take care of Verilog.

[2016-03-18 18:38] tomball opened #429 "A notranslate HTML5 class should be added to highlighted segments"
Our site uses GitHub Pages, and our docs have lots of code segments using both back-ticks (`foo`) and 4-space indention. However, we support using Google Translate with our docs, and those code blocks were also getting translated, with sometimes hilarious results. HTML5 supports translation disabling per element, by adding a "notranslate" class to the element. If Rouge adds this class to the segme

[2016-03-22 05:22] stanhu opened #430 "Groovy lexer gets stuck in long regexp match"
The following [test file](https://github.com/jneen/rouge/files/183525/bad.txt) when used with the Groovy lexer causes the CPU to spin to 100% with no signs of stopping after 30 minutes:

[code]

While running this in `rackup` with debug mode on, I see these last two states:

[code]

Removing [this line](https://github.com/jneen/rouge/blob/d989f18440335/lib/rouge/lexers/groovy.rb#L63) from the lexe

[2016-03-22 21:30] timkendrick opened #432 "Support JavaScript ES6 syntax highlighting"
Now that ES6/ES2015 is commonplace in the JS world, is there a way we can support the new syntax additions? At the moment, valid ES6 code is full of `.err` classes when I run it through Rouge.

ES6 is backwards-compatible with existing javascript, so I imagine this would just be a case of adding more rules – however I know nothing about lexers so I could well be wrong about this…

Thanks!

[2016-03-23 14:46] duyaokun commented on #305
+1

[2016-03-24 17:35] sanderson commented on #341
I've noticed the same thing. I'm working on documenting a project that uses yaml config files heavily and the syntax highlighting isn't great. While specifying the language as `ruby` helps, it's definitely not ideal. Especially because this documentation is open source and others are contributing. The ruby language tag would just confuse others in this specific case.

Would love better yaml highli

[2016-03-24 18:19] sanderson commented on #341
Looks like this is already on @jneen's todo list - issue #38. May want to bump there.

[2016-03-24 18:19] sanderson commented on #393
Looks like this is already on @jneen's todo list - issue #38. May want to bump there.

[2016-03-24 18:19] sanderson commented on #38
+1

[2016-03-27 02:27] Nipher opened #434 "JavaScript syntax highlighting"
When writing javascript, there are many `nx` classes,
what do you guys think about changing that to something like ruby highlighting?

Example:
With rouge, when writing this:

[code]

I get this:

[code]

(A lot of `classes="nx"`)

Couldn't we get something like this:

[code]

The function name would become `nf` the param would become `nb`
Something like that

[2016-03-27 17:40] nikibobi commented on #24
I'm going to start working on this. I'll try to stay as close to the pygments [implementation](https://bitbucket.org/birkenfeld/pygments-main/src/859b2bce647cd212e39cd63f83f93f4083b232b2/pygments/lexers/d.py). I'll open a pull request when I have progress.

[2016-03-28 03:30] phunehehe commented on #406
This seems to be a duplicate of https://github.com/jneen/rouge/issues/345 (mine :))

[2016-03-28 08:53] albi3ro opened #436 "Support for Julialang"
I've maintaining a jekyll blog through github, and thus been affected by the recent change to all rouge.

I use julialang, and so no longer have syntax highlighting.  How do I add a new language or request a new language?

[2016-03-30 10:42] ioguix opened #437 "Support for postrgesql-console"
Hello,

Just wanted to report an incompatibility with Pygments as Github is dropping support for pygments with Rouge as a "drop-in" replacement (as they wrote in their public announce).

Currently, Rouge do not support syntaxe highlighting for people using `portgresql-console` (or its alias `psql`) with pygments.

Regards,

[2016-03-31 01:37] leftstick commented on #432
Same issue, is there something like configuration to enable `ES2015` syntax?

[2016-04-06 04:42] enriquecaballero commented on #275
The same could be said about the comment above mine.

[2016-04-06 04:44] enriquecaballero commented on #275
@segiddins Have you not seen this? https://github.com/jneen/rouge/pull/336

[2016-04-07 13:10] pawamoy opened #440 "Support for Django Templating Language"
Hi,

When I was using Jekyll 2.2.0, I was able to highlight Django with `html+django`. Upgrading to Jekyll 3.1.2 to better match Github's version, I noticed that Django code was not highlighted anymore :sob:. Looking at [the list of supported languages](https://github.com/jneen/rouge/wiki/list-of-supported-languages-and-lexers), I can't find Django nor Jinja :cry:.

Are you planning to add support

[2016-04-12 16:01] EpocDotFr opened #445 "Support for API Blueprint"
Hello!

It would be great to add syntax highlighting for the [API Blueprint](https://apiblueprint.org/) syntax. Or maybe at least add the `.apib` files in the Markdown syntax group.

PS: this is a cross post from [here](https://gitlab.com/gitlab-org/gitlab-ce/issues/15014)

[2016-04-13 09:04] bestouff opened #446 "Support for Protocol Buffers"
Helloo Rouge guys !

Would it be possible to have support for [Protocol Buffer](https://developers.google.com/protocol-buffers/) ? It's a quite simple language for binary XML-like data exchange.

[2016-04-14 18:05] meleyal opened #449 "Objective-C highlighting errors"
Found a couple of highlighting errors using Objective-C:

<a href="http://rouge.jneen.net/pastes/AqjK"><img width="633" alt="screen shot 2016-04-14 at 19 03 58" src="https://cloud.githubusercontent.com/assets/15045/14538424/a32a8b26-0273-11e6-9d06-2e673f87f7e3.png"></a>

<a href="http://rouge.jneen.net/pastes/zAGv"><img width="1089" alt="screen shot 2016-04-14 at 19 04 03" src="https://cloud.githu

[2016-04-15 14:54] jfse commented on #338
Just want to point out that it does not need to be attached to an object to result in an error (though of course, it could be separate issues)
For example, the code below will result in the string being terminated at the last single quote
[code]

[2016-04-18 13:00] sousacleverti commented on #188
:+1:

[2016-04-19 13:30] dblessing opened #453 "Swift lexer bug related to multiline comments"
Multiline comments don't seem to be parsed correctly in Rouge. See the following example:

[code]

The first comment and function are correctly highlighted. However, the second function is not highlighted correctly due to the line feed in the comment. You can see how this works by putting the example in rouge.jneen.net.

[2016-04-19 17:51] suitupalex commented on #275
@enriquecaballero Looks like the PR isn't finished and the author of it hasn't worked on it.

[2016-04-19 19:58] pragdave commented on #275
We're using that PR in production. I just have one pending question which
no one has answered.

I have to say I'm disappointed in the way this project deals with the
community.

On Tue, Apr 19, 2016 at 12:51 PM Alexander Martin <notifications@github.com>
wrote:

[2016-04-21 19:25] M0E-lnx opened #455 "Add support for Dockerfile syntax"
Requesting support for Dockerfile syntax highlighting please.

[2016-04-24 22:42] kernelmachine opened #456 "rust code highlighting error"
single quotes (ie apostrophes) and hash signs are incorrectly highlighted red, e.g.

http://rouge.jneen.net/pastes/eAMb

[2016-04-26 11:08] jackfranklin commented on #432
This has really hit me, especially now GitHub pages use Rouge by default. Are there any plans to enable some of this syntax being supported? I'd love to contribute but I'm not sure my knowledge is good enough :(

[2016-04-28 02:11] Risto-Stevcev opened #458 "clojure highlight error"
Rouge doesn't seem to be parsing clojure code properly:

http://rouge.jneen.net/pastes/nAjq

The list in that function is also incorrectly parsed, where the first element (1) is parsed as a `Name.Function` when it should be a `Literal.Number.Integer`.

[2016-04-28 15:39] yuloh opened #459 "Javascript highlight error if object property is quoted"
When using javascript syntax highlighting, if you define an object with a quoted property name _and_ the value is an object, the next property is highlighted as an error.

![Screenshot of highlighting error](https://cloud.githubusercontent.com/assets/9440455/14891683/a1cbf554-0d35-11e6-9472-ba6615ff5e5c.png)

If the property name is not quoted, or the value is not an object, it's fine.

http://rou

[2016-04-29 19:32] parkr commented on #436
Hey @albi3ro, I believe #331 satisfies this request. It's just not presently released.

[2016-04-30 04:09] benlakey opened #460 "Java mismatched styles for parens on function calls"
The java syntax highlighting is currently giving mismatched styles to parens on function calls. Here is a simple example:

<img width="285" alt="rouge_java_bug" src="https://cloud.githubusercontent.com/assets/712322/14933761/60c55e14-0e4e-11e6-83e6-73fc8eb6c04e.png">

You can reproduce this by using the same preview tool linked in the rouge readme:

http://rouge.jneen.net/

The version I am using

[2016-04-30 04:11] benlakey commented on #460
Nevermind! It looks like it was just unhappy because there was no wrapping class. Closing. Sorry for the noise.

[2016-04-30 04:11] #460 closed

[2016-05-03 17:13] theindigamer commented on #456
The hash sign part has been discussed here: https://github.com/jneen/rouge/issues/287

There is a pull request fixing some issues: https://github.com/jneen/rouge/pull/452

[2016-05-04 01:09] sethfri opened #461 "Objective-C nonnull and nullable keywords aren't highlighted"
Apple introduced the `nonnull` and `nullable` keywords into Obj-C in early 2015. Currently, these are not highlighted in rouge.

[2016-05-10 07:15] wbshen opened #462 "Support for TTCN"
There isn't syntax highlighting for TTCN.

Please add support for it, Thanks!

[2016-05-10 09:31] bemeyert commented on #396
We could really use that...

[2016-05-10 09:32] sevenval-admins commented on #396
Would be awesome if you could add that.

[2016-05-10 14:46] clayrat opened #463 "Support for PureScript"
This is a rather new JS-transpiling functional language: http://www.purescript.org/

Syntax is mostly the same as that of Haskell, and there is already a highlighting package for Atom editor: https://github.com/purescript-contrib/atom-language-purescript/blob/master/grammars/purescript.cson

[2016-05-10 15:06] oliver-dungey commented on #396
+1, very hard to read at the moment

[2016-05-10 19:22] dblessing opened #464 "Improve `Makefile` syntax highlighting"
Makefile syntax highlighting seems to have trouble with some things. Take this `ifeq` example. Can this be improved?

![screen shot 2016-05-10 at 2 20 51 pm](https://cloud.githubusercontent.com/assets/2394772/15159473/8c0b64fa-16ba-11e6-8adc-ef5ce65b9f72.png)

[2016-05-10 19:29] dblessing commented on #464
cc/ @bluegod

[2016-05-11 10:32] bluegod commented on #464
Thanks for the ping @dblessing - I'll have a look soon

[2016-05-15 02:47] xDinomode opened #465 "My syntax highlighting isn't working"
I'm using jekyll 3 and the config file has **markdown: kramdown** and **highlighter: rouge** but the syntax highlighting isn't the same.

### Here's how it looks on my website

![my website](http://i.imgur.com/WH0vIAP.png)

### And here's how it looks on the Rouge website

![rouge](http://i.imgur.com/hvejUPi.png)

[2016-05-16 06:23] wangchj opened #466 "C# last-line comment not parsed correctly"
If a line of comment is the last line in the source code, then it is not parsed properly as a comment. Consider the following example

[code]

[2016-05-16 20:37] nerro opened #468 "Syntax highlighting for Gradle files"
Gradle files have Groovy syntax, but it's no syntax highlighting for them.
Original issue is from GitLab (https://gitlab.com/gitlab-org/gitlab-ce/issues/17491).

[2016-05-17 09:14] nerro commented on #468
I started to implement this in my fork (https://github.com/nerro/rouge).

[2016-05-18 00:44] minddust commented on #440
+1

[2016-05-18 05:05] mbmasuda commented on #343
I know this is an old thread, but I found it looking for the CSS stylesheets.  I found that I could easily create the stylesheet in a Rails project by creating a file called `app/assets/stylesheets/rouge.css.erb` and putting this content in it:

[code]

[2016-05-20 08:40] Seybo opened #469 "Rails asset rouge.css.erb is not loading"
I'm configuring Markdown in Rails 4 with Redcarpet and Rouge. And I'm following [this simple post](http://www.brettdemetris.com/posts/4)

Everything is working fine (both in development and production) except that my file `assets/stylesheets/rouge.css.erb` seems not to be loading. And it looks like this now:

    <%= Rouge::Themes::Github.render(:scope => '.highlight') %>

    .highlight {
      b

[2016-05-20 10:39] Seybo commented on #469
ok. I've found the answer myself. A couple of days ago I was searching for a solution for a problem of my production server being slow. And I found (here) a suggestion to set these two lines in `development.rb` to `false
`
[code]
and it turned out that the second line caused my problem. I returned it back to true and everything works

[2016-05-20 10:39] #469 closed

[2016-05-21 14:47] Seybo opened #470 "How can I change the font?"
I'm putting font line in `rouge.css.erb` like this
[code]

but it doesn't work.

I have tried to put this block in my `custom.css` as well but still I can't change the font.
At the same time I can change the other properties like the font size. But I still end up with the _Menlo font_.

How can I change it?

This font is included in my `application.scss` and works all over the website
[code]

[2016-05-22 13:11] janko-m opened #471 "Highlights Ruby method calls the same as method definitions"
Thank you for this great pure-ruby alternative to pygments. The only difference that I've noticed when switching from pygments to Rouge is that now my method calls are highlighted the same as method definitions. I would prefer if method calls were the same neutral style as e.g. local variables.

<img width="419" alt="screen shot 2016-05-22 at 21 08 39" src="https://cloud.githubusercontent.com/asse

[2016-05-22 17:43] jaapz opened #472 "Support for Elm"
Would be great to have support for Elm, a functional programming language for the browser.
http://elm-lang.org

There already are highlighting plugins for Vim, Atom and other text editors.

[2016-05-26 10:46] aka-demik opened #474 "How to turn off backslash highlighting for INI-file?"
Is there a way to turn off backslash highlighting for INI-file?
[my test case](http://rouge.jneen.net/pastes/4jaX)
Thanks!

PS
I use rouge in [asciidoctor](http://asciidoctor.org/).

[2016-05-26 19:33] hzhu commented on #432
Same, since Jekyll is based on rouge, no body in the world who blogs about ES2015/16 has support. 😿

Let's get [this](https://github.com/jneen/rouge/pull/467) merged?

[2016-05-27 15:54] alexdowad commented on #411
One maintainer doesn't scale. When a project gets popular, like this one, the author needs to find a couple of other contributors who understand the project's direction and care enough to maintain quality and give them commit rights.

Or if the sole maintainer just totally disappears, eventually someone else has to fork it and keep things moving forward.

[2016-05-27 19:42] madhur opened #475 "Where is the support for ES6 / Babel / JSX?"
Would love to have highlighting for ES6 / Babel / JSX code.

[2016-05-28 20:09] sraboy commented on #411
I definitely agree and wish the project could move faster. I'd also second @pbregener that this is not an indictment of @jneen, just a reality of the project. She's done a lot of great work but supporting a project like this in her off-time cannot be easy.

I think some responsibility lies with GitHub as well. Adopting a small project like rouge on such a massive scale makes me feel like they coul

[2016-05-29 12:44] chaosdefinition commented on #379
+1
I really need this feature for syntax highlighting in my Jekyll-based website, where I use [PrismJs](http://prismjs.com/). It is a JavaScript syntax highlighter and it needs the class `language-*` in `pre` to work.

[2016-06-01 21:18] jneen commented on #465
Hi @xDinomode, thanks for reaching out. I'm a little confused - it seems to be highlighted on your website, just in different colors. Is there a part of the text that isn't highlighted?

[2016-06-01 21:29] stanhu commented on #411
@pbregener @alexdowad @sraboy Thanks for bringing up this topic. I am extremely excited to announce that @jneen has started working full-time at GitLab for the next few months to improve Rouge. We'll be adding team members as we can to learn from her and help make this project even better. We're prioritizing certain issues right now (e.g. lexer bugs causing infinite loops, missing data, etc.), but

[2016-06-01 21:29] jneen commented on #346
Yeah, this is a tricky one, and I'm not sure how to approach it. I would suggest some kind of `% language: matlab` comment be added in these cases, but then the file would already have a comment!

In a system like GitLab, I'd potentially suggest a user-facing selector that a) indicates the current highlighted language, and b) allows the user to specify a different one.

[2016-06-01 21:33] jneen commented on #474
Hi @aka-demik. This could be exposed via a lexer option - asciidoctor would have to expose that option to you, though.

[2016-06-01 21:34] jneen commented on #471
Hi @janko-m. Unfortunately, I think this is more or less a matter of opinion - every highlighter will highlight languages slightly differently and make different choices. Our claim of pygments compatibility is on the formatter side - it *works* with the same stylesheets, but may choose to lex parts of the language differently.

[2016-06-01 21:34] #471 closed

[2016-06-01 21:37] jneen commented on #470
Hi @Seybo. Rouge themes do not output any css that imposes fonts (other than bold or italic) - I would take this up with the maintainers of whatever system you're using that uses rouge. As a hack I could suggest adding `!important` after each rule in your custom block, but that is clearly not optimal.

[2016-06-01 21:37] #470 closed

[2016-06-01 21:37] jneen commented on #472
Yes! I would love to support Elm.

[2016-06-01 21:39] jneen commented on #466
Ah yep. That's because it's scanning for `\n` again in the comment regex.

[2016-06-01 21:41] jneen commented on #463
Yes, that would be wonderful :]

[2016-06-01 21:41] jneen commented on #462
Hi @wbshen - could you provide a link to some kind of documentation for what TTCN is? Thanks!

[2016-06-01 21:45] robin850 commented on #346
Just my two cents : maybe you could try to infer that the current file is a Matlab one like you'd with Objective-C, through keywords ; I think there are keywords/instructions that are specific enough to Matlab like `clear all`, `close all`, `clc`, `plot`, or `(x|y)label`.

[2016-06-01 21:53] jneen commented on #459
sigh. this part of the lexer seems to have no end of bugs. i'll take a look.

[2016-06-01 21:55] jneen commented on #458
Good find. I'll take a look.

[2016-06-01 21:56] jneen commented on #455
This would be very good to have, yes.

[2016-06-01 21:58] jneen commented on #453
Hi @dblessing, good catch! I've saved your snippet so we can refer to it later: http://rouge.jneen.net/pastes/M3EV

[2016-06-01 22:00] jneen commented on #446
Yes, that would be awesome.

[2016-06-01 22:04] jneen commented on #445
I'm happy to simply specify that `.apib` is Markdown, if that's good enough for now.

[2016-06-01 22:05] jneen commented on #440
Hi @Pawamoy. Have you tried using the liquid lexer? I seem to remember it being rather similar.

[2016-06-01 22:08] jneen commented on #437
Hi @ioguix! Writing lexers takes a good amount of work, and Pygments has a *lot* of them. Rouge is a drop-in replacement in that it can output HTML that conforms to stylesheets already written for Pygments, but it certainly doesn't lex code in the same way or support all the same languages.

If you'd like to port the `postgresql-console` lexer, I'd be happy to take a look.

[2016-06-01 22:13] jneen commented on #434
That would be alright with me, although potentially difficult. The original decision was made because JS doesn't have the same variable / method distinction that Ruby does, but I could be persuaded otherwise.

[2016-06-01 22:14] jneen commented on #432
Yes! I would love to support this.

[2016-06-01 22:22] jneen commented on #429
Hi @tomball, I can suggest two fixes:

a) wait for rouge 2.0 which will allow you much more fine-grained control over HTML formatting.
b) surround your code snippets with an additional div with your desired class.

[2016-06-01 22:24] jneen commented on #421
Hi @alexconst, thanks for the report. I've saved your snippet so we can refer to it later: http://rouge.jneen.net/pastes/eAWx

[2016-06-01 22:25] jneen commented on #419
Hi @twbecker, thanks for the find. I'll look into it.

[2016-06-01 22:27] jneen commented on #418
The specific coloring or visual properties of the highlighted text is the responsibility of whoever created your stylesheet. I don't believe any of the rouge themes have this behavior.

[2016-06-01 22:29] jneen commented on #413
Hi @ph-hs. This is a feature for your blog or other system to implement, and is not within the purview of rouge.

[2016-06-01 22:29] #413 closed

[2016-06-01 22:30] jneen commented on #412
Yes, this would be wonderful. There is a TemplateLexer class to make using a parent lexer more convenient.

[2016-06-01 22:33] jneen commented on #411
Hi all. Thank you for your concern - I have been dealing with a cascade of major medical issues on top of working full-time, so in the last year or so rouge hasn't gotten the attention it deserves. But thanks to GitLab I can commit some paid time to digging this project out of the hole it's been in. This week I'm triaging issues and next week I should be able to cut a release.

[2016-06-01 22:36] #449 closed

[2016-06-01 23:25] connorshea commented on #475
This is a duplicate of #275 (JSX) and #432 (ES6).

[2016-06-01 23:49] jneen commented on #475
ah yep. closing as duplicate.

[2016-06-01 23:50] #475 closed

[2016-06-02 00:09] jneen commented on #275
Hi all. I apologize for the continued delay in this and other issues. Until today, I was maintaining rouge in my spare time, which got squeezed to basically nothing through a combination of full-time work and a series of medical issues. In addition, at least two for-profit corporations with a lot of traffic began using rouge, which greatly multiplied the amount of pull requests and issues. I simpl

[2016-06-02 00:39] jneen commented on #275
@pragdave: To answer your question, you can pop the lexer stack either by passing the symbol `:pop!` instead of the name of the new state, or by calling the `pop!` method in the action block. The lexer API is documented in the README.

[2016-06-02 01:02] jneen opened #478 "Wrong lexing when using handlebars or smarty with <script> tags"
From #427, there is currently a broken example in `spec/visual/samples/smarty`.

[2016-06-02 05:41] pbregener commented on #411
:tada:

[2016-06-02 05:41] #411 closed

[2016-06-02 06:34] jneen commented on #275
@pragdave: ah i see i misread your question - for an embedded language i'd recommend delegating it piece by piece to a javascript lexer, taking care to push state at every `{` and pop at every `}`, and avoid curlies that are in strings, etc. This is a pain, but it's more or less what the JSX implementation has to do as well, in order to support "scan to the balanced curly brace" embedded syntax.

[2016-06-02 06:53] silvenon commented on #275
@jneen if this is about my 👎, I was not downvoting the fact that you didn't have an ETA, just the way that you said it. But I was only adding to the negativity, I see that now. I'm really glad that you are well now and I'm sorry for displaying lack of appreciation, I really love this project and what you do, I understand what a pain it can be to maintain it.

👍

[2016-06-02 08:44] aka-demik commented on #474
Asciidoctor began to develop slowly. :(
[#1040](https://github.com/asciidoctor/asciidoctor/issues/1040) - It is already two years ago. Documentation still does not even mention rouge.
But I create [issue](https://github.com/asciidoctor/asciidoctor/issues/1785) for this.

[2016-06-02 08:51] Pawamoy commented on #440
Yes @jneen, I am using the `liquid` lexer in the few cases for which I just have DTL/Jinja code and no HTML. DTL is almost always a mix of liquid-like and HTML code. Using `liquid` does not highlight HTML :disappointed:

[2016-06-02 13:34] dblessing commented on #453
I did some more testing. It seems that it's not the newline in the comment body that matters - it's the `<html://apple.com>` part. The slashes in there mess up the lexer.

[2016-06-02 17:53] #24 closed

[2016-06-02 17:56] jneen commented on #440
Ah, well that's a bug then. The liquid lexer should support HTML on the outside. If liquid was properly a template lexer and you could get your HTML *and* liquid together, would that solve your use case?

[2016-06-02 18:45] #391 closed

[2016-06-02 18:48] Pawamoy commented on #440
Well, I think that if liquid lexer also highlights HTML, then it's similar to what erb is doing. I think some DTL template tags would still not be recognized. In that case it would change nothing for my use case :hamster:

[2016-06-02 19:45] jneen commented on #440
Can you give an example of what would not be recognized?

[2016-06-02 22:09] jneen opened #480 "Remove order-dependence from guessing infra"
* Turns out the `analyze_text` methods are being inherited - let's figure out a way to contain the unexpected behavior that results in.
* Collect all equal-confidence guesses in `best_by_source`, rather than returning the first one we come across
* Test by reversing `Lexer.all` and asserting the guess is the same

[2016-06-02 22:23] #386 closed

[2016-06-02 22:45] #369 closed

[2016-06-02 23:09] #360 closed

[2016-06-03 18:00] Pawamoy commented on #440
Things like

- `{% block content %}`
- `"{{ tuple.country }}"`
- `"{% trans "Number of patients per country" %}"`

[2016-06-03 20:24] #188 closed

[2016-06-03 20:25] #305 closed

[2016-06-03 21:15] jneen commented on #428
Merged the verilog lexer, leaving this open for VHDL.

[2016-06-04 02:23] xDinomode commented on #465
@jneen Ahh ok so this isn't a bug. Thanks!

[2016-06-04 02:24] #465 closed

[2016-06-04 10:20] ioguix commented on #437
Hi @jneen,

Oh, ok, I have a better understanding of the drop-in replacement signification :)

Well, I would be happy to contribute but:
  - I have no ruby experience
  - I have no time to dig in a new project :(

Thank you for your answer!

Cheers,

[2016-06-05 18:35] mjclemente opened #482 "Cannot use "Append" - Runtime error"
I'm trying to put together a lexer, based off the javascript lexer.

Prepend is working without issue, as in the QML/Javascript example. However, when I try to follow the readme and append to the parent :root state, I get a runtime error:
[code]

I'm just doing a basic

[code]
Any insight or help would be greatly appreciated. Thanks!

[2016-06-05 18:53] retrohacker opened #483 "Support for ASM"
Currently missing a lexer for ASM files.

In pygments, this lexer handles `asm` and `gas`.

Prior work:
https://bitbucket.org/birkenfeld/pygments-main/src/98fceca1948eed7677fef4e31aeb0c7785531a04/pygments/lexers/asm.py

[2016-06-05 21:23] sraboy commented on #483
I started one for x86/NASM in PR #457 so it should be in the next release if no major problems crop up. I don't currently have time to continue working on it so feel free to dive in. Right now, it's pretty basic but it appears to work okay for most of the simpler instructions.

[2016-06-05 22:00] retrohacker commented on #483
Ah nice! Looks like pygments handles NASM as a subset of GAS. It switches between modes for the different ASM dialects GAS supports. I may revisit this in the near future, some other pressing stuff on my plate atm :smile:

[2016-06-06 15:44] jneen commented on #483
Would love to have this, thanks :]

[2016-06-06 15:45] jneen commented on #482
Oh no! This is definitely not intended behavior. Could you send over the source of your lexer, so we can reproduce it?

[2016-06-06 16:00] mjclemente commented on #482
Here's a stripped down version that's throwing the error.

This file is rouge/lib/rouge/lexers/bugtest.rb:
[code]
It corresponds to rouge/spec/visual/samples/bugtest (which, for testing, is just copied from the javascript same).

When I comment out the "append" block, it works, otherwise I get the error:

[code]

I'm new to ruby, so I hope this isn't just a simple mistake on my part. Thanks for lo

[2016-06-06 16:43] #296 closed

[2016-06-06 16:47] #453 closed

[2016-06-06 17:00] jneen commented on #482
Welp, that would do it. @mjclemente, could you confirm that the above commit resolves your issue?

[2016-06-06 17:08] jneen commented on #440
Ah, okay. Ideally the liquid lexer would recognize those as well. I've got it on my list of things to do to untangle liquid / jinja / twig / dtl.

[2016-06-06 17:19] mjclemente commented on #482
@jneen Working! Thank you so much!

[2016-06-06 17:19] #482 closed

[2016-06-06 17:25] gpakosz commented on #296
Which commit closes this issue please?

[2016-06-06 18:56] jneen commented on #296
65c69f0. It's fixed as of 1.10.0.

[2016-06-06 18:57] jneen commented on #360
Fixed in 1.11.0 by #364.

[2016-06-06 20:30] gpakosz commented on #296
Thank you!

[2016-06-07 19:37] jneen opened #487 "No implicit conversion of IO into String"
It seems like #417 was a little overzealous - the FileReader class had been introduced to distinguish between stdin (or `'-'`) and file names. When using `rougify` to highlight stdin, we now try to call `File.read($stdin, encoding: 'utf-8')`, which throws an error.

[2016-06-07 19:38] jneen commented on #487
@japj could you take a look at this please?

[2016-06-07 19:38] jneen commented on #487
(when you get a chance - if you don't have the time I'm happy to fix it of course)

[2016-06-07 19:49] japj commented on #487
I'll have a look later today, not sure exactly atm how to have a reproduceable test for this to prevent regression in the future. My ruby is fairly rusty

[2016-06-07 21:34] marcamillion opened #488 "Problems implementing Rouge in a fresh Rails 5 install"
Not sure if this is related to Rails 5, but this is what I am facing. I have never used Rouge before, but I have used Pygments.rb.

This is what I have done.

Gemfile:

    gem 'rouge'
    gem 'redcarpet'

Then I created a `config/initializer/rouge.rb`:

    require 'rouge/plugins/redcarpet'

Then I created a file called `app/assets/stylesheets/rouge.css.erb`

    <%= Rouge::Themes::Github.render(

[2016-06-07 21:42] japj commented on #487
Ok, I am a bit lost on how to solve this issue due to not programming in ruby for a looong time and the unknowns of the IO subsystem.

Should https://github.com/jneen/rouge/blob/master/lib/rouge/cli.rb#L16 return a different kind of object (this is what I am assuming should happen as the 'correct' fix, but I'm not sure what object it should be exactly for L26 to also still work correctly).

Or sho

[2016-06-08 00:12] jneen commented on #487
I think you can embed the encoding into the File object with `File.new(fname, 'r:utf-8')` or similar

[2016-06-08 00:21] jneen commented on #488
Hi, thanks for the report. Could you find the actual HTML and CSS being rendered and pastebin or gist them? I suspect the class names aren't lining up for some reason.

[2016-06-08 00:22] #334 closed

[2016-06-08 03:40] marcamillion commented on #488
No prob @jneen.

Here you go: https://gist.github.com/marcamillion/ddce2f675a0589e55819e6457b89b829

That's the HTML from two different code samples and the one stylesheet that is generated from the asset pipeline.

This is the name of the stylesheet:

`http://localhost:3000/assets/rouge.self-664f0871aac8cdea8b195a62e3a68fcd16ed320ac0b24c439e099cbf856985b9.css?body=1`

[2016-06-08 13:23] mjclemente opened #491 "Support for cfscript"
I'm blogging with Jekyll, so it would be nice to have the syntax highlighting available.

Cfscript is the scripting version of CFML (https://helpx.adobe.com/coldfusion/developing-applications/the-cfml-programming-language/extending-coldfusion-pages-with-cfml-scripting.html).

Pygments supported it (http://pygments.org/docs/lexers/?highlight=coldfusion#pygments.lexers.templates.ColdfusionCFCLexer).

[2016-06-08 16:47] jneen commented on #488
Hm, interesting - it doesn't seem to be lexing it at all. Are you sure it's using the 'ruby' language and not defaulting it to 'text'?

[2016-06-08 18:33] marcamillion commented on #488
I am not sure to be honest.

How do I test that manually?

I have been struggling with figuring out how to ensure it is doing that, to
be honest.

What's wrong in my code or what can I change to check?

On Wednesday, June 8, 2016, Jeanine Adkisson <notifications@github.com>
wrote:

--
Marc Gayle
www.marcgayle.com
www.twitter.com/marcgayle

[2016-06-09 15:37] pasbec opened #494 "C/C++ syntax highlighting for *.C and *.H files"
Dear jneen,

I was encouraged by [Stan Hu](https://gitlab.com/u/stanhu) from GiLab to file an issue here, which relates to the corresponding issue #18387 on GitLab:

 [GitLab: C/C++ syntax highlighting for *.C and *.H files](https://gitlab.com/gitlab-org/gitlab-ce/issues/18387).

The very popular Fluid Dynamics library OpenFOAM and most of its forks rely on *.C and *.H files for both C and C++ cod

[2016-06-09 18:37] jneen commented on #494
Hi @pasbec, thanks for the well-written note.  Is the issue here merely casing? I think the plan is to make that glob-matching case-insensitive. If you want `*.C` files to be highlighted as C++, I'm proposing a way to make language selection user-configurable, since in the general case we'd want to highlight that as C.

[2016-06-09 19:50] jneen commented on #488
I'd put a `puts` or similar in that `block_code` method where you have `language || 'text'`. Or you could try changing that to `language || 'ruby'` and see if you suddenly get ruby ;)

[2016-06-09 20:01] #468 closed

[2016-06-09 20:02] jneen commented on #436
It is as of 1.11.0 :]

[2016-06-09 20:02] #436 closed

[2016-06-09 20:03] jneen commented on #430
Fixed by #485.

[2016-06-09 20:03] #430 closed

[2016-06-09 20:17] japj commented on #487
I guess this can be closed then?

[2016-06-09 20:43] pasbec commented on #494
Hi @jneen, thanks for your quick reply.

To be be honest, I'm not the expert in language nomenclature and file extension definitions. But somehow I got the feeling that it is rather less about casing. If I understand the [gcc options](https://gcc.gnu.org/onlinedocs/gcc/Overall-Options.html) correctly, and that's roughly the same as my perception was so far, then they mean the following:

*.c

[2016-06-09 21:24] marcamillion commented on #488
@jneen If I just do `language || 'ruby'` I get a 'wrong number of arguments' error. If I do `language || 'ruby', 'html'` it still doesn't work.

I added a `binding.pry` to that block, and I see that `language` is nil. Where should I be manually setting language other than that `block_code` method?

[2016-06-09 22:48] marcamillion commented on #488
For what it's worth, when I make the following changes:

In my `block_code` method, I call highlight as follows:

    Rouge.highlight(code, 'ruby', 'html')

Then in my view I do this:

[code]

Then that produces this:

<img width="783" alt="screen shot 2016-06-09 at 5 46 00 pm" src="https://cloud.githubusercontent.com/assets/137772/15949058/3e774cdc-2e6a-11e6-93b6-fff0dd575be5.png">

Note I am ref

[2016-06-10 16:27] jneen commented on #487
Yep!

[2016-06-10 16:27] #487 closed

[2016-06-10 16:28] #295 closed

[2016-06-10 18:42] jneen commented on #494
Ah well there you go. That surprises me honestly, since I'd expect there to be no difference at all between `*.c` and `*.C` on e.g. windows or mac which have case-insensitive file names (although in slightly different senses).

[2016-06-11 12:10] imkean commented on #361
+1

[2016-06-11 14:49] #246 closed

[2016-06-11 18:19] marcamillion commented on #488
Anything further on this @jneen?

[2016-06-12 02:59] nbering commented on #459
I'm seeing a similar issue. Not sure what version this is... whatever's bundled with github-pages gem right now. Hopefully this will help reproduce the issue. My case is a wee bit different, but has in common that the colons in an object literal appear as an error.

![image](https://cloud.githubusercontent.com/assets/4421371/15988695/f67bdafa-3027-11e6-9eb2-fba1535fd8bb.png)

[2016-06-13 02:16] wbshen commented on #462
@jneen you can refer to http://www.ttcn-3.org/, Thanks!

[2016-06-13 16:30] jneen commented on #361
The best way to do this would probably be outside of rouge, by modifying whatever template or code is calling into rouge.

[2016-06-13 21:57] jneen commented on #488
Hi @marcamillion - I'm not sure I can debug this for you remotely. If you can come up with a minimal test case in a way I can use I'd be happy to look at it, but to me it looks like your markdown setup isn't properly passing languages through, which is beyond the scope of rouge.

[2016-06-14 09:16] marcamillion commented on #488
Nevermind, I got a useful answer that helped me [solve it here](http://stackoverflow.com/a/37721539/91970).

[2016-06-14 09:16] #488 closed

[2016-06-14 19:05] jneen commented on #488
Yay, I'm glad!

[2016-06-14 20:51] #491 closed

[2016-06-14 20:55] #459 closed

[2016-06-14 21:07] #494 closed

[2016-06-19 17:07] julioolvr opened #497 "Colons marked as errors in Javascript case statements"
![image](https://cloud.githubusercontent.com/assets/1302493/16178720/a7826806-3626-11e6-8164-e815df703215.png)

Link: http://rouge.jneen.net/pastes/wZ91

I tried this on http://rouge.jneen.net/ which I assume uses the latest version of rouge. I've seen this happen on my blog with `middleman-syntax` but I can't tell exactly which version of rouge that runs.

I feel bad about reporting this one with

[2016-06-20 18:04] #497 closed

[2016-06-20 18:04] jneen commented on #497
@julioolvr i think i fixed it - can you confirm this patch does the trick? i... just added a good ol catch-all at the bottom of `:root` for colons i'm afraid.

[2016-06-20 22:00] julioolvr commented on #497
That seems to do the trick :) I gave a quick try at implementing the rules for the switch statement according to [the spec](http://www.ecma-international.org/ecma-262/6.0/#sec-switch-statement) but it was far from trivial (and that's without even considering that I have to learn the DSL). It seems like a fun weekend project though, trying to implement a small part of the grammar following the spec

[2016-06-22 18:41] okdana opened #499 "Shell highlighting breaks on ANSI-C quotes (dollar-quotes)"
I noticed this in GitLab, and i can reproduce it in the test thingie on the Rouge site: The shell highlighting breaks when it encounters ANSI-C quotes (aka dollar quotes). Specifically, it appears that it doesn't correctly terminate the quote. Test case:

[code]

Output with dollar quotes versus regular single quotes:

![screen shot 2016-06-22 at 13 39 33](https://cloud.githubusercontent.com/asset

[2016-06-22 19:06] sjmackenzie commented on #345
@phunehehe Oh I would love to see your merge request opened! It's quite nasty reading nix files on gitlab! :beers:

[2016-06-23 14:35] furai opened #500 "Pascal/Delphi issues with highlighting - missing extensions"
Hey,

So I come from gitlab. Before the latest update of gitlab (8.9) I had manually modified rouge in my installation. I've added pascal/delphi highlighting to it based on the old pull request which is now merged in.

There was one problem with that applied fix. It didn't take into account all delphi/pascal file extensions.

`*.dpr, *.lpr, *.pp`

These are needed as well. I added those and all wa

[2016-06-23 17:17] jneen commented on #500
Hi! Running the *latest* version of rouge in gitlab is a bit complicated, since gitlab depends on gollum, which depends on rouge 1.x.

So my recommendation would be to edit the local project's Gemfile, specifically the "gollum-lib" and "rouge" entries:

[code]

Then run `bundle update rouge gollum-lib` and restart your server.

[2016-06-23 17:19] jneen commented on #500
Unfortunately, we can't globally map `*.pp` to Pascal, since that's already associated with Puppet. But! I'm working on a GitLab feature that will let you manually set up highlighting preferences via `.gitattributes`: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/4606. So you'd just add:

[code]

to your `.gitattributes` file and you should get the behavior you want.

[2016-06-23 17:23] jneen commented on #500
In the meanwhile, instead of editing files in gems, which will break every time a gem is updated, I recommend monkey-patching the Pascal highlighter in an initializer (say, `config/initializers/custom-pascal.rb`):

[code]

[2016-06-23 17:25] furai commented on #500
That sounds good but still, in current gitlab installation the highlighting doesn't work at all even for .pas. How can I make sure that the gem is what it's supposed to be?

[2016-06-23 17:26] jneen commented on #500
I'm not sure what you mean - if you installed gitlab, the gem should be what it's supposed to be? You can try `gem uninstall`ing the thing and then running `bundle` again to get a fresh copy?

[2016-06-23 17:45] #499 closed

[2016-06-23 17:46] jneen commented on #499
@okdana Looks like there was a bad regex that used `$` instead of `\$`. But I also added support for escaped chars in there while I was at it. Can you verify that the above commit fixes your case?

[2016-06-23 18:27] okdana commented on #499
I'm not actually a Ruby developer myself so i don't really know what i'm doing with this. :/ However, i did manage to build it and use the `rackup` command to confirm that the line you added to the lexer test page seems to work, at least. Looks dope, thanks!

[2016-06-23 18:28] jneen commented on #499
:D

[2016-06-23 19:20] furai commented on #500
I mean that I had upgraded gitab from 8.8.2 to 8.9. My old version had been modified by me. And now I'm not entirely convinced that during the upgrade process the gem was updated cleanly. And if the issues I'm getting are my or rouge's fault.

I'll try what you just said to get it freshly installed and see if I still get same issues.

[2016-06-23 19:52] furai commented on #500
http://file.furai.pl/2016-06-23_21-51-40.png << it looks like this for this .pas file

[2016-06-23 20:05] furai commented on #500
Apparently that gem version dosen't even have pascal lexer.

[2016-06-23 21:08] jneen commented on #500
Here's what I'm seeing - at v1.11.0, there is a pascal lexer, and `filname: 'foo.pas'` results in the Pascal guess.

[code]

[2016-06-23 21:15] jneen commented on #500
could you try running the following, in `./bin/rails console`:

[code]

and pasting the output here?

[2016-06-23 21:23] jneen commented on #500
Okay, never mind that. It looks like this was a release bug for rouge 1.11.0 - somehow the pascal lexer didn't get included, despite it being present in the git tree (?)

[2016-06-23 21:24] jneen commented on #500
So my recommendation, from a purely rouge standpoint, is to upgrade to 1.11.1. I'll move back to the gitlab thread for how we're going to deal with the gitlab-specific issues.

[2016-06-23 21:38] furai commented on #500
Thanks for support.

[2016-06-24 12:41] vandiedakaf opened #502 "java literal underscore highlighting"
Java literals with underscores, http://docs.oracle.com/javase/7/docs/technotes/guides/language/underscores-literals.html, are not highlighted correctly.

See example http://rouge.jneen.net/pastes/jmE5

I expect the entire literal to be of the same colour.

Regards
-f

[2016-06-24 19:01] #502 closed

[2016-06-24 19:01] jneen commented on #502
Hi @vandiedakaf! Good catch. Could you confirm that the above works for you?

[2016-06-24 23:13] vandiedakaf commented on #502
Hi @jneen

Thanks for the speedy response.

I've made my **first** git pull request: https://github.com/jneen/rouge/pull/503

You'll notice that your latest build is failing -- I could not figure out why that is (other than it was the new Java changes that made it fail).

[2016-07-01 09:12] aytekinar opened #505 "[Error] Parsing documentation"
Hey,

I am using Arch Linux and having problems updating my gems when it comes to rouge. The following error is obtained when I write `gem install github-pages travis-cli` followed by `gem update`:

[code]

I'd appreciate any help of yours in solving the issue.

Thanks!

[2016-07-01 16:11] jneen commented on #505
It... looks like rdoc is running out of memory? Does it fail at the same place every time?

[2016-07-01 17:37] aytekinar commented on #505
Yes. It has been like this since `v2.0.0` afaik. Please also check [this link][1]. Apparently I am not the only one. I could not find a solution tho, with 5 minutes of fast searching in DuckDuckGo.

[1]: https://aur.archlinux.org/packages/ruby-rouge/

[2016-07-01 19:21] jneen commented on #505
That's really odd - rouge's documentation uses [yardoc](http://yardoc.org/), which afaict is pretty standard. `rake doc` compiles just fine, and the yardocs seem to be used on rubydoc.info: http://www.rubydoc.info/gems/rouge/2.0.2

I'm not sure what command the thing is running to generate docs...

[2016-07-01 19:41] jneen commented on #505
Ooooookay so `rdoc .` *does* hang and also does a number of Very Wrong Things like scanning the `tmp/` directory and other files that aren't in the gemspec. Additionally, it misparses a number of regexes, and completely freezes when encountering strings of the form `%<...>`, which we were using for HTML in the HTMLTable and HTMLPygments formatters. Changing them to `%(...)` fixes the crash, but th

[2016-07-01 19:52] segiddins commented on #505
As a temporary workaround, installing with --no-document should help

[2016-07-01 21:34] aytekinar commented on #505
@jneen I don't know :( Unfortunately I am just a user --- I wish I had the knowledge to understand/help you. You're the master...

@segiddins I will try this for a while, thanks!

[2016-07-01 21:37] jneen commented on #505
No worries, I thank you for the patience you've had so far! I've opened an issue open with RDoc: https://github.com/rdoc/rdoc/issues/410

[2016-07-04 10:19] malteger opened #506 "Wrong filetype detection for IDL files with .pro extension"
As a follow up for #395, IDL files with .pro extensions are currently highlighted as Prolog.

My knowledge of ruby is non existent, so is there a chance anyone else can improve the guessing with the new guessing infrastructure introduced lately? Or is there an example on how to do this guessing for another language in this repo? Then I would try to fix this myself.

[2016-07-05 16:01] jneen commented on #506
Hi @malteger,

Is there some signifier in IDL (like a `#lang IDL` declaration or similar) that will allow us to differentiate the two?

[2016-07-05 17:04] malteger commented on #506
No, that is the problem. I had a look at pygments at how they handled this, they used the extension multiple times and checked the mimetype. The problem is: I do not know how they determine these mimetypes, for me the source files just yield `text/plain` as a mimetype.

A difference I spotted between prolog and IDL: prolog programs may have a lot more parantheses, though I have no knowledge in Pro

[2016-07-05 17:13] malteger commented on #506
At a closer look I figured out that `pygments` checks for `:-` in prolog files with weight `1.0`. This check is done also in rouge, but with a `0.1` weight. Maybe this helps.

[2016-07-05 17:41] jneen commented on #506
1.0 is... not appropriate for that check. 1.0 is for things like shebangs or `#lang` declarations.

If it helps for the GitLab case, we've just merged [a feature](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/4606) that will allow you to override the selection in your project.

[2016-07-05 18:16] malteger commented on #506
While we can work around this issue with the mentioned merge request in gitlab, it would certainly nice if this would work out of the box without specifying the language. I will talk to some colleagues with more IDL knowledge tomorrow, maybe we can figure out a way to safely identify IDL source code.

In the context of GitLab: It recognises the language of the project correctly as IDL, so there al

[2016-07-05 18:24] jneen commented on #506
That guessing uses Linguist, which has some other kinds of heuristics, and is also Very Slow.

[2016-07-05 21:30] #500 closed

[2016-07-05 21:32] jneen commented on #408
Hi @stepmuel, I'm happy to fix the `\u....` syntax, but unfortunately we are going to continue highlighting within regular expressions.

[2016-07-06 14:12] pbregener opened #507 "Support for OpenMP in C and Fortran"
Support for OpenMP pragmas would be great!

[code]

[code]

[2016-07-07 23:20] asumaran opened #509 "Broken Hash highlighting on .haml files"
![screen shot 2016-07-07 at 6 12 41 pm](https://cloud.githubusercontent.com/assets/1025173/16672980/b51d5f82-446f-11e6-855a-023ce5066186.png)

`gem 'rouge',         '~> 1.11'`

Live example: https://gitlab.com/gitlab-org/gitlab-ee/blob/master/app/views/admin/users/index.html.haml#L86

[2016-07-08 23:06] marcamillion opened #511 "Rails 5.0 breaks the way `rouge(text, language)` renders in ERB files"
Everything was working with all versions of Rails 5 before the official 5.0 release.

I believe [this issue](https://github.com/rails/rails/issues/24949) is the cause of the problems.

Right now, when I want to call rouge within my `html.erb` file, I simply do:

[code]

But now that doesn't work.

I am not quite sure how to get my code to be formatted properly now.

Thoughts?

**Edit 1**

For a co

[2016-07-11 21:14] jneen commented on #511
Ah. Rouge 1.x and 2.x formatters are not compatible. I'm not sure what's going on with Rails 5, but you will have to, as you did, manually wrap the output with `<pre>` tags. The indentation is likely caused by something in your template engine - spaces, including indentation, within `<pre>` tags are preserved in rendering.

[2016-07-12 18:15] jneen commented on #399
Thanks for the report! Fixed by d173687.

[2016-07-12 18:15] #399 closed

[2016-07-12 18:17] jneen commented on #381
Does your platform use `find_fancy`? If so, you can use `php?start_inline=1`.

[2016-07-12 18:19] jneen commented on #388
Hi @klmr, we don't support nesting tokens, and unfortunately it would complicate the model enough that I don't intend to support them in the future.

[2016-07-12 18:23] klmr commented on #388
Ah, that’s a shame.

[2016-07-12 19:26] #388 closed

[2016-07-12 20:10] parkr commented on #381
We do use `find_fancy`! I'll investigate passing options via the `lang` parameter.

[2016-07-12 21:39] jneen commented on #406
Closed as duplicate of #345. Thanks!

[2016-07-12 21:39] #406 closed

[2016-07-12 22:07] jneen commented on #394
Hi @tcbrindle, we've merged a couple of PRs adding more keywords and some other features - could you re-check which parts of this issue are still an issue?

Thanks!

[2016-07-12 22:09] jneen commented on #393
YAML is a notoriously complicated language to highlight correctly. I will bump this up on my list of things to take care of.

[2016-07-12 22:29] sanderson commented on #393
Yeah, it is. GitHub does a pretty good job, but I don't know which lever they're using. The biggest thing for me would just be highlighting keys differently than their values/arrays.

[2016-07-12 22:36] stanhu commented on #393
+1 for highlighting keys/values.

[2016-07-15 00:14] parkr commented on #381
It does, thank you. This works perfectly with triple backtick code blocks in kramdown.

Thanks, @jneen!

[2016-07-15 00:14] #381 closed

[2016-07-15 18:19] jneen commented on #381
yay, glad to hear it!

[2016-07-15 18:20] #306 closed

[2016-07-15 18:47] #480 closed

[2016-07-15 22:58] stevecrozz opened #513 "liquid tag for rendering rouge css"
Not sure if you'd be interested in adding this to the project or not, but I put this together and found it useful for my Jekyll sites:
https://gist.github.com/stevecrozz/9b0a598223c03b4adacdd73acf2c3315

It's pretty basic, but maybe it'll save folks some time to have it or reference it from the docs.

[2016-07-16 16:44] jimmykeen commented on #285
Any progress in here?

[2016-07-17 15:37] mrzool commented on #393
See also: #341

[2016-07-18 09:13] raymens commented on #285
Yup, in #286 . Waiting for review.

[2016-07-18 18:48] jneen commented on #513
Looks good :]. I'd suggest releasing it as its own gem (`rouge-liquid` or similar) which includes tags for css and highlighting.

[2016-07-22 10:12] janslow opened #516 "TypeScript React support"
It would be great if rouge supported [TypeScript React](https://www.typescriptlang.org/docs/handbook/react-&-webpack.html) syntax (`*.tsx` files).

For example:

[code]

I expect this is probably blocked on #275 / #336, as TSX is a combination of JSX and TS.

[2016-07-28 09:52] redrezo opened #519 "Consider Highlighting Support for exceptions and stacktraces"
in bug trackers you often need to post stacktraces
it would be nice to have for some languages stacktrace support to make them better readable

you could for example introduce an extra language named java-error or java-stacktrace to highlight those

for example:

[code]

uses java highlighting.

while IDEs like eclipse highlight stacktraces like so:

![simplestacktrace](https://cloud.githubusercon

[2016-07-29 11:15] vitalyisaev2 commented on #318
+1

Lacking this on Gitlab

[2016-07-29 15:05] #319 closed

[2016-07-31 02:50] kennyjwilli opened #520 "Add syntax highlighting for *.cljc and *.boot (same as clj and cljs)"
The syntax highlighting for `*.cljc` and `*.boot` files should be the same as `clj` and `cljs`.

[2016-07-31 08:42] ian-kelling opened #521 "Docs give broken example for getting theme by string"
readme claims this works, but it doesn't

Rouge::Theme.find('base16.light')
=> nil

[2016-07-31 08:47] ian-kelling opened #522 "Docs unclear on what "theme" variable is expected."
Docs introduce themes like this:

[code]

Then say you can do this

Rouge::Formatters::HTMLInline.new(theme)

ok, so what exactly do I put as "theme" here? It's quite unclear.
First, I try Rouge::Themes::Base16.mode(:light). No, that leads to an exception
even though it's the most obvious thing from what is documented so far.
Next, I try Rouge::Theme.find('base16.light'),
next, 'base16.light',
nex

[2016-08-01 01:09] abrahamdu opened #523 "Do we have a highlighter for SAS?"
I checked the Wiki and don't find we can use Rouge to highlight [SAS](http://www.sas.com/en_us/home.html). Is there anyone planning to work on that? Thanks!

[2016-08-05 23:16] jneen commented on #520
I believe we do support `.cljc`? And I'm a little wary to add `.boot` (not a fan of libraries creating their own extensions for the same kind of code)... buuuut I'd merge it, and keep it around until it conflicts with something.

[2016-08-07 17:46] kennyjwilli commented on #520
You're right about cljc, I guess I must have been using an old version or something. Understandable about `.boot`. They are using their own extension because it `require`s some functions from boot by default without having an explicit `require`.

[2016-08-08 05:56] #285 closed

[2016-08-09 04:11] mojavelinux commented on #279
The SQL issue was fixed by #360.

[2016-08-10 00:56] stanhu opened #525 "Syntax highlighting spins indefinitely with SQL text"
I think this is similar to https://gitlab.com/gitlab-org/gitlab-ce/issues/17327. I added this comment in GitLab and noticed everything stopped rendering:

[code]

Attached is the raw text:

[bad_note.txt](https://github.com/jneen/rouge/files/410135/bad_note.txt)

[2016-08-10 15:01] aberba opened #526 "Syntax highlighting for vala programming language"
Vala programming language is used for Gnome app and libraries

[2016-08-11 02:24] mpchadwick opened #527 "Syntax highlighting for TICKScript"
[TICKScript](https://docs.influxdata.com/kapacitor/v0.13/tick/#main-nav) is a DSL used by Kapacitor - part of the TICK stack.

For reference

https://github.com/nathanielc/vim-tickscript
https://github.com/bubba-h57/language-tick
https://github.com/anlutro/dotfiles/blob/master/configs/sublime-text/syntaxes/TICKscript.sublime-syntax

[2016-08-11 17:12] jneen commented on #455
Closing, as we support docker as of 2.0.4: https://github.com/jneen/rouge/blob/master/lib/rouge/lexers/docker.rb

[2016-08-11 17:12] #455 closed

[2016-08-12 06:20] mhelmetag opened #528 "Elixir parser is a bit too greedy when parsing regex"
The Elixir parser doesn't seem to close regex highlighting correctly.

As seen in this screenshot (sorry... mobile):
![screenshot_20160811-231547](https://cloud.githubusercontent.com/assets/8609429/17614266/c67cb7b2-6019-11e6-9162-80dd2ec4e793.png)

Also seen in this [issue](https://github.com/exercism/exercism.io/issues/3031).

[2016-08-12 09:01] Insti commented on #528
Here's the relevant code snippet in copy/pasteable format.
[code]

[2016-08-12 09:04] Insti commented on #528
https://github.com/jneen/rouge/blob/master/lib/rouge/lexers/elixir.rb#L49

Would this fix it?

[code]

[2016-08-12 13:41] k3rni commented on #528
Using a verbose regex for clarity:

[code]

See http://www.regexpal.com/?fam=95517 for a "testsuite".

However, this needs to take into account that Elixir sigils (which is what the tilde constructs are named, regex being only one of them) can use one of four different same-character delimiters: `/` `|` `"` `'` and four kinds of parentheses: `()` `[]` `{}` `<>` (see [Sigils](http://elixir-lang.org

[2016-08-12 14:38] Insti commented on #528
As long as your regex doesn't end with a backslash you're ok:
`String.split(~r/hello followed by a backslash\\/) |> Enum.map(&abbreviate_word/1)`

[2016-08-12 15:41] k3rni commented on #528
This case can be handled by including an escaped backlash directly in the alternatives list: `/~r(\/(\\\\|\\\/|[^\/])*\/)/`

[2016-08-13 05:25] mhelmetag commented on #528
I took a look at a [atom elixir langauge pack](https://github.com/elixir-lang/language-elixir/blob/master/grammars/elixir.cson#L146-L449) (more specifically the regex section) and it might be worth basing it around those rules.

[2016-08-13 22:16] F3PiX commented on #488
Is there news on this one? I can't get Rouge working with Rails 5.

[2016-08-14 08:16] Insti commented on #528
@k3rni will make a PR?

[2016-08-17 05:36] jneen commented on #488
Note that in Rouge 2.0, we no longer apply a `<div...>` wrapper, so you are responsible for putting the output in an appropriate context so that your stylesheet will style it, as well as in a `<pre...>` or a context with `white-space: pre`.

You will also have to do some backflips to prevent Rails from re-escaping the HTML that rouge outputs, using `raw` or `.html_safe` or similar.

[2016-08-17 05:38] jneen commented on #488
Unfortunately, I don't have the bandwidth to help you drill down to a solution remotely. I suggest debugging this by:

* trying things out in the console (or `binding.pry`)
* inspecting the HTML output in your browser
* inspecting the CSS you're using, whether from a theme or stylesheet.

[2016-08-17 09:58] F3PiX commented on #488
Hi Jneen, thank you for your suggestions.  I didn't find a solution yet. One last question: do you know of any Rails 5 app that got Rouge working? It would help to know if the problem is in my own code, not in Rails 5.

[2016-08-23 15:07] drobati commented on #275
Looking forward to this. Just setup GitLab's CI and noticed our JSX files weren't detected.

[2016-08-25 18:11] jneen commented on #525
Interestingly, the SQL lexer is not involved here, since it's wrapped in a JSON string. I believe I've resolved this with the last three commits on master here - could you confirm that?

I think there were a couple of things going on:

* A bad regex `/"(\\.|[^"])*"/` was backtracking at every backslash since it could match either the first or the second option. Could be fixed by using `[^\\"]` or

[2016-08-26 21:31] florianjacob opened #535 "syntax highlighting support for CUDA C++ .cu / .cuh files"
I'm a gitlab user (which, to my knowledge, uses rouge to highlight) and noticed it does not highlight `.cu` and `.cuh` files.

Essentially, those files are a superset of `.cpp` and `.hpp`, with some additions to execute code on the GPU.

As far as I know, that's only `__device__`, `__global__`, `__host__` and `__shared__` specifiers written before some functions or variables, and a special syntax

[2016-08-27 13:16] stanhu commented on #525
@jneen Great work!

[2016-08-29 04:07] stanhu commented on #525
@jneen I just had a chance to test out master@8439fd6 with the note in question. It passes with flying colors now! Thank you. Can you release a new version soon?

[2016-09-02 06:14] skx opened #538 "Syntax error in the biml lexer"
We're running biml indirectly, via `gollum`, and we see the following error when running with ruby 1.9.3:

      /opt/gollum/gems/gems/rouge-2.0.5/lib/rouge/lexer.rb:362:in `load': /opt/gollum/gems/gems/rouge-2.0.5/lib/rouge/lexers/biml.rb:16: syntax error, unexpected $undefined (SyntaxError)
              rule %r(<#@\s*)m, Name::Tag, :directive_tag
                         ^
      /opt/gollum/gem

[2016-09-03 18:30] stanhu opened #539 "Perl parser spins indefinitely"
From https://gitlab.com/gitlab-org/gitlab-ce/issues/21787:

Specifying this Perl text appears to be make the Lexer spin indefinitely:

[code]

[2016-09-04 05:44] jneen commented on #539
Okay, I found some slow regexen in the perl lexer, and it seems to be fine as of 63e5bee.

[2016-09-06 17:01] jneen commented on #528
Thanks all for your work! Hopefully we can get #530 merged soon.

[2016-09-06 17:10] jneen commented on #538
Aw, dang, okay, that looks like a bug. I believe I've fixed this for BIML in 2cdf15c - let me know if this is a problem with any other parts of the code.

[2016-09-06 17:15] skx commented on #538
I can confirm escaping the `@` symbols resolves the problem.

Thanks for your prompt attention.  I'll hope for a new release soon, but for the moment we can patch in-place :)

[2016-09-06 17:15] #538 closed

[2016-09-06 23:44] jneen commented on #275
JSX is now supported on master. Thank you all for your work.

[2016-09-06 23:46] joshbuchea commented on #275
@jneen awesome! I've been very anxiously awaiting this feature. Thank you to everyone involved for all of your effort!

[2016-09-14 07:53] Alxandr commented on #285
Any chance of getting this backported for 1.x?

[2016-09-15 10:04] janko-m commented on #471
@jneen I would like to revisit this issue, I want to find out what is the advantage of having method calls preceeded with a dot are highlighted the same as method definitions? Could we have it colorless like the GitHub highlighter?

[code]

The current way isn't semantically consistent, because in the only explicit method calls will be higlighted, methods implicitly called on `self` will stay colo

[2016-09-15 19:26] LukeeeeBennett opened #542 "Incorrect HAML string interpolation highlighting"
I experienced an issue with incorrect HAML highlighting on [this gitlab diff line](https://gitlab.com/gitlab-org/gitlab-ce/blob/9541828e17350bda368ab643e97534b3f5904461/app/views/projects/merge_requests/widget/_heading.html.haml#L8).

![http://i.imgur.com/uXzl9Y6.png](http://i.imgur.com/uXzl9Y6.png)

After playing abou on http://rouge.jneen.net/, I found that the following breaks the highlighting.

[2016-09-16 14:19] pgacv2 opened #543 "Python: Does not recognize backslashes in raw strings in default parameters"
The version of rouge on the project home page (http://rouge.jneen.net/) does not recognize the following Python code:

[code]

The backslashes are incorrectly highlighted:

![image](https://cloud.githubusercontent.com/assets/2688600/18589066/fb8d0b52-7bf6-11e6-88af-6964d1ec2208.png)

[2016-09-20 09:11] JWo1F opened #545 "Add Support for Stylus"
Stylus does introduce a syntax extension for css. Looks like SASS.

Stylus Specs: http://stylus-lang.com/

File extension: .styl

[2016-09-21 14:15] krahllucas opened #546 "Add Support PowerBuilder"
Would be great to have support for PowerBuilder, and this feature would be used on GITLab.com for example.

PBW (Workspace files) [1,500 results](https://github.com/search?utf8=%E2%9C%93&q=NOT+nothack+extension%3Apbw&type=Code&ref=searchresults)

PBT (Target files) [600 results](https://github.com/search?utf8=%E2%9C%93&q=NOT+nothack+extension%3Apbt&type=Code&ref=searchresults)

SRD (DataWindow sou

[2016-09-22 04:21] Arihantar opened #547 "Syntax highlighting for kdb files"
Description:
GitLab doesn't support syntax highlighting for Sublime-q code.

ZD: https://gitlab.zendesk.com/agent/tickets/39768

Related links: https://github.com/kimtang/sublime-q

[2016-09-22 09:42] glensc opened #548 "handle better <script type=""> not javascript"
it's perfectly valid to use `<script>` tag where `type` is not `type="text/javascript"`, in such case the content should not treated as javascript.

it's common to use this technique to insert html templates to page for javascript. for example:

[code]

but it gets rendered ugly, here's screenshot from [demo site](http://rouge.jneen.net/):

![image](https://cloud.githubusercontent.com/assets/19909

[2016-09-22 23:19] Paebbels commented on #428
I looks like VHDL is supported, but why is VHDL not recognized e.g. by GitLab, which passes all parameters to Rouge?

[2016-09-23 07:57] sylvainbaronnet commented on #545
That would be great !

[2016-09-23 08:07] JWo1F commented on #545
BTW, we can use a syntax from "SAAS". I think it looks like Stylus.

[2016-09-23 08:14] sylvainbaronnet commented on #545
With Stylus you can ommit `{` `}` `:` `;` `,` so it could be very different

[2016-09-23 08:28] JWo1F commented on #545
Oh, yes. It's sadly.

[2016-09-26 03:11] brodock commented on #542
It looks to be this rule:

[code]

https://github.com/jneen/rouge/blob/d989f18440335b5098c6955a219b9e6abed8da35/lib/rouge/lexers/haml.rb#L134

I'm not 100% sure how to code that, but should be something like:

it should start a new state with `{` delegate it to ruby and push a check for '}'... while in ruby state, and when it's a string after the last unescaped ", pop!.

[2016-09-26 12:53] brodock commented on #542
With the provided use-case changing the rule to:

[code]

worked, but I'm unsure yet if it's acceptable or not.

[2016-09-29 14:49] josephzidell opened #550 "PHP interpolated string"
[code]

You can see a [screenshot](http://imgur.com/a/hVHke)

Thanks

[2016-10-01 16:21] mueller-ma opened #551 "VimL Comment mistake"
When `"` is used in a `map` command in vimrc or similar files, it is recognized as a comment, but VIM won't take that as comment.
See line 15: https://github.com/mueller-ma/vim-config/blob/master/vimrc

[2016-10-10 20:18] daveho opened #553 "Clojure: trailing comment highlighted incorrectly"
For some reason, trailing Clojure comments are not highlighted as comments.

Example: http://rouge.jneen.net/pastes/llx4

I would have expected the "; => 5.0" part to be highlighted as a comment.

If there is a non-comment construct after the comment (i.e., the comment is not a trailing comment), then it is handled correctly: http://rouge.jneen.net/pastes/9NZ3

[2016-10-12 20:00] corysimmons commented on #343
I'm sure I'm doing something stupid, but adding a stylesheet whatever the correct way is was taking more than 5 minutes. Could someone please add a tip or something on the Rouge website on the preferred way to add stylesheets?

In the meantime: If you're using Jekyll, find a theme you like on https://github.com/richleland/pygments-css (not the 100's of themes you were promised, but whatev), grab t

[2016-10-19 00:32] #377 closed

[2016-10-25 12:56] rongjiecomputer commented on #394
Variadic template does work too http://rouge.jneen.net/pastes/5xmP

[2016-10-25 22:33] johan13 opened #556 "ECMAScript/Typescript decorators highlighted as errors"
The following code is valid Typescript from Angular 2's quick start guide:

[code]

When highlighted with Rouge the `@` is highlighted as an error:
<img width="416" alt="screen shot 2016-10-26 at 00 31 14" src="https://cloud.githubusercontent.com/assets/643284/19706708/af9d3f6e-9b13-11e6-9110-184677f77452.png">

Decorators are currently in stage 2 of ECMAScript's TC39 process and for Typescript de

[2016-10-26 17:38] jandresaedo opened #557 "Add support Apache Pig."
Apache Pig is a high-level platform for creating programs that run on Apache Hadoop

Reference: https://en.wikipedia.org/wiki/Pig_(programming_tool)

File extention: .pig

[2016-10-28 18:10] jandresaedo commented on #557
I'm working on it.
Guys do you have any document or rules for create a new branch and a new pull request?.

Thanks.

[2016-10-30 02:34] pbeshai commented on #379
FYI, I figured out a way to work around this limitation. Since Kramdown accepts [inline attribute list](http://kramdown.gettalong.org/syntax.html#inline-attribute-lists), you can specific the `language-js` class name after your code blocks this way:

[code]

*(ignore the \, I don't know how to escape triple backticks in code blocks)*

Prism will undo the highlighting done by Rouge if you're using

[2016-10-31 06:05] tlongzou opened #558 "Add support vue single file components"
[Vue single file components](http://vuejs.org/guide/single-file-components.html)
File extention: .vue
Someone want to do this？

[2016-11-02 21:27] jneen commented on #542
Oh... this is bad...

So it looks like we can't tell where the end of an interpolation is without parsing the ruby code. Ruby is... a really complicated lexer. We're basically going to have to do a much fancier delegation scheme that... knows about where ruby strings start and end... which is really complicated...

[2016-11-02 21:31] jneen commented on #542
We could do something a bit half-assed to fix 90% of cases though:

[code]

But that doesn't catch triple-quoted strings, %-strings, or heredocs, just to start

[2016-11-02 21:32] jneen commented on #542
Or... hang on lemme see if I can come up with something...

[2016-11-02 21:39] jneen commented on #542
So, to start, ff9bbf6 contains the damage by resetting the ruby lexer at the beginning of each ruby block (so that it doesn't start in the string state as in your example)

[2016-11-02 22:02] jneen commented on #542
Ooookay so I've made a discovery about how HAML itself processes these - it appears to only look for the balanced brace, disregarding string states. So the example you gave is actually an error:

[code]

I think as long as we can replicate the balancing behavior we'll be fine.

[2016-11-02 22:09] jneen commented on #542
Okay I believe I've fixed this in a294eeb, could you confirm?

[2016-11-03 18:13] jneen commented on #553
Hi, thanks for the report! I believe I've just fixed this in 879a8fd, could you confirm?

[2016-11-04 17:23] jneen commented on #558
support added in dfc19b0. thanks!

[2016-11-04 17:23] #558 closed

[2016-11-04 17:34] jneen commented on #551
Hi @mueller-ma - I'm not able to reproduce this in Rouge. If you're referring to the mis-highlight on Github itself, be aware that Github does not use Rouge for its highlighting.

Thanks!

[2016-11-04 20:37] jneen commented on #379
Hi all! This is a Jekyll issue, not a Rouge one - Rouge is only responsible for generating the highlighted HTML - what is done with it beyond that is the library user's responsibility, in this case Jekyll's.

[2016-11-04 20:38] #379 closed

[2016-11-04 20:41] jneen commented on #557
Hi! If you run `rake lex[pig]`, stubs for all the necessary files should be added for you. There's a page in the wiki of this project that gives suggestions for getting set up with ruby, if that's something you need as well.

[2016-11-04 21:02] jneen commented on #556
Hi! Thanks for the suggestion - I believe I've added support in 0d21c54.

[2016-11-04 21:02] #556 closed

[2016-11-04 22:17] jneen commented on #394
Our support for C++11/14 is limited - we have had a few pull requests to add specific pieces of it, but nobody has sat down and attempted to support the entirety of the specs yet.

[2016-11-04 22:19] jneen commented on #394
If you'd like to help, simply adding examples to the stress-test file (`spec/visual/samples/cpp`) would help immensely.

[2016-11-04 22:21] jneen commented on #343
Hi @corysimmons. The distinction between `codehilite` and `highlight` is made by Jekyll, not by Rouge. If you'd like them to change it, I suggest you take it up with them.

[2016-11-04 22:24] jneen commented on #428
Closing since #515 was merged.

[2016-11-04 22:24] #428 closed

[2016-11-04 22:34] jneen commented on #543
Hi! The website does need an update. This was fixed in 2724e35.

[2016-11-04 22:34] #543 closed

[2016-11-04 22:42] jneen commented on #285
Unlikely, no. I suggest upgrading to 2.x anyways, the API is much cleaner - and you can always just sub `HTML` -> `HTMLLegacy` if you're really lazy :].

[2016-11-05 03:18] rongjiecomputer commented on #394
I made a PR in #565!

[2016-11-05 12:38] mueller-ma commented on #551
@jneen Hi,
I'm sorry, I had wrong information about the highlighter github is using.

[2016-11-05 12:38] #551 closed

[2016-11-05 15:11] Alxandr commented on #285
I'm using jekyll, so I'm not sure if I can even get it to use 2.0. I'm completely new to ruby, but from my attempts at least, I couldn't get it working with rouge 2 because it complained about wrong dependencies.

[2016-11-06 09:41] tlongzou commented on #558
@jneen Awesome. 👍 👍 👍

[2016-11-07 15:19] jneen commented on #285
I would suggest opening a ticket over at Jekyll asking them to upgrade.

[2016-11-07 16:49] jandresaedo commented on #557
Got it, Thanks.

[2016-11-07 18:10] #539 closed

[2016-11-10 13:53] daveho commented on #553
Awesome --- let me work on setting up a ruby environment so I can test your fix.  (I noticed the problem in jekyll and github pages.)

[2016-11-10 19:25] daveho commented on #553
I've tested using the HTML formatter and the comment in my original example is marked as class "c1", which as far as I can tell is correct for a single line comment.  Thanks a lot!  (And thanks for rouge!)

[2016-11-10 23:24] jbbr commented on #275
Thanks everyone involved. I think this can be closed now as it's not only in master but also in the release v2.0.6.
Maybe someone will find the time to have a look at JSX support for Typescript too, #516

[2016-11-10 23:24] #275 closed

[2016-11-11 08:14] mkpankov opened #566 "Rust: `?` operator highlighted incorrectly"
From my Jekyll-based site:

![screenshot from 2016-11-11 11 12 19](https://cloud.githubusercontent.com/assets/393741/20208526/ce48ea50-a7ff-11e6-8d1a-32a078ee6b84.png)

I'd expect it to be colored the same as other operators. Or maybe just bold black.

[2016-11-12 21:44] pandeiro commented on #520
I've added `build.boot` to the clojure filenames since the entire filename is the convention used by the [Boot build tool](https://github.com/boot-clj/boot) and would not conflict with other possible uses of the `.boot` extension.

[2016-11-14 02:45] Kovensky opened #569 "JavaScript: multiline template substitution breaks the lexer"
This snippet can demonstrate the issue:

[code]

`function unrelated () {}` is still highlighted as string, as will anything until the next backtick is found.

The problem seems to be caused when the first non-whitespace token in a line is a `}`. Moving the `}` to the end of the previous line fixes the highlighting, even if the backtick remains in the next line.

The following also highlights the

[2016-11-14 08:33] Anahkiasen commented on #472
Any news o,n this one?

[2016-11-14 16:58] LukeeeeBennett opened #572 "Standalone regex highlighting"
I'd love to see standalone regex highlighting!

For example, the expression `/<{7}(?=[\s\S]*?)/g` on regexr.com is shown as...

<img width="214" alt="screen shot 2016-11-14 at 16 54 45" src="https://cloud.githubusercontent.com/assets/5678671/20273987/1f57e56c-aa8b-11e6-8e9e-745d38721991.png">

[2016-11-15 05:01] jneen commented on #472
Still working through the above PR, thanks for the bump though.

[2016-11-15 05:03] #520 closed

[2016-11-15 09:01] Anahkiasen commented on #472
Oh! I didn't see the referenced PR, nice!

[2016-11-16 15:19] szachara opened #573 "Syntax highlighting for vue files"
Vue files are single file components, in this files is html, javascript and css. For start the HTML syntax highlighter would be enough.

Here are docs for vue files and how this files are structured:
https://vuejs.org/v2/guide/single-file-components.html

[2016-11-17 06:10] jneen commented on #573
Interesting timing - I've just merged support for these: https://github.com/jneen/rouge/commit/dfc19b0ba8dbf358cc2e18634c4a17f5def5520a

[2016-11-17 06:10] jneen commented on #573
Should be out in the next release.

[2016-11-17 06:10] #573 closed

[2016-11-17 06:18] jneen commented on #553
Yay, thank you <3

[2016-11-17 06:18] #553 closed

[2016-11-17 06:22] jneen commented on #566
Yep, that's a bug. I think I've fixed it in c3537dd - could you confirm?

[2016-11-17 07:34] szachara commented on #573
:-D great, really funny and quick fix, thx

[2016-11-17 21:50] aucuparia opened #574 "Shell script: incorrect parsing of number sign (#) when used as arithmetic base symbol"
In shell scripts, a number can be interpreted as being in a certain arithmetic base using this syntax: `$((base#number))`. For example, `$((16#0F))` evaluates to 15.

However, Rouge interprets the number sign as the start of a comment.

I found this problem while using Jekyll and I've verified it at http://rouge.jneen.net/.

[2016-11-18 14:19] alexanderkiel opened #575 "Add EBNF Syntax Highlighting"
I would like to have nice EBNF syntax highlighting in GitLab. https://en.wikipedia.org/wiki/Extended_Backus–Naur_form

[2016-11-21 01:57] #569 closed

[2016-11-21 04:26] jneen commented on #574
Hi! I think I've fixed this in e131e2d, could you confirm?

[2016-11-21 04:26] jneen commented on #566
Closing as the above was released in v2.0.7.

[2016-11-21 04:26] #566 closed

[2016-11-21 04:27] jneen commented on #542
Closing as fixed in v2.0.7. Thanks for the report!

[2016-11-21 04:27] #542 closed

[2016-11-21 17:38] LukeeeeBennett commented on #542
I seem to have missed all this conversation but this is **aweeeesome**, thank you!

[2016-11-22 10:47] vser1 opened #577 "C/C++ issue on float suffix highlighting"
Following [cppreference.com](http://en.cppreference.com/w/cpp/language/floating_literal), the suffixes for floats are __f, F, l, L__ while in the following example, rouge 2.0.7 (tested on gitlab 8.14) highlights the suffixes __l, L, u, U__.

[code]

AFAICT this is a bug, isn't? From my analyses of the regexp, there might be other issues, notably with binary literals (C++14) — __edit__ confirmed, o

[2016-11-25 15:41] kjcpaas commented on #375
In relation to this, the decimal point in floats have a different color. The `.` is also not being treated as part of the number in this case. Am I correct?

<img width="482" alt="screen shot 2016-11-25 at 11 36 32 pm" src="https://cloud.githubusercontent.com/assets/3772828/20629746/124a92a8-b368-11e6-967d-754c94ddf64b.png">

I added these cases in `spec/visual/ruby` so the color difference is mor

[2016-11-29 14:43] gaborigloi opened #580 "OCaml: issues with syntax highlighting of brackets"
When brackets are next to certain other characters, they are highlighted in **bold** font for some reason.

* Syntax highlighted with Rouge:
  ![screenshot_2016-11-29_14-35-08](https://cloud.githubusercontent.com/assets/10549240/20713726/53a9dd4a-b641-11e6-8717-d5b11bc764ec.png)
  Here some of the brackets are highlighted in bold for some reason.

* Expected syntax highlighting:
[code]
  Here all

[2016-11-29 14:48] gaborigloi commented on #580
Actually the same issue can happen in anonymous functions as well:
![screenshot_2016-11-29_14-47-21](https://cloud.githubusercontent.com/assets/10549240/20714102/cb4043de-b642-11e6-8027-e00333332b53.png)
http://rouge.jneen.net/pastes/EYNo

[2016-11-29 14:54] gaborigloi opened #581 "OCaml: leading backtick indicating polymorphic variant isn't recognized"
The leading backtick is highlighted in red, but it is valid OCaml syntax:
![screenshot_2016-11-29_14-52-10](https://cloud.githubusercontent.com/assets/10549240/20714284/6e62ae30-b643-11e6-98b3-f51036456764.png)
http://rouge.jneen.net/pastes/v82w

Could be highlighted as:
[code]

[2016-12-01 00:54] blaketmiller commented on #318
+1

[2016-12-02 19:23] jneen commented on #581
Hi, thanks for the report! I believe I've fixed this in 8975a02, can you confirm?

[2016-12-02 23:35] jneen commented on #318
Unfortunately there's no mechanism to add file extension support for this yet, but have you considered trying `jinja?parent=yaml`?

In GitLab, you would use

[code]

[2016-12-02 23:39] gaborigloi commented on #581
Thanks for the fix, I've tested it by changing `lib/rouge/demos/ocaml` and running `rackup`, and now it highlights polymorphic variants correctly :).

[2016-12-03 18:04] AlexWayfer opened #582 "Syntax highlighting for script-tag in ERB-file"
### Summary

I don't understand why `<% %>` (or `<%=`) make all before JavaScript code in `<script>` red (`.err`).

### Steps to reproduce

1. Create `.erb`-file
2. File must contain `<script>`
3. ERB-tags (`<% %>`) inside `<script>`

### Expected behavior

No problems, no errors (maybe warnings? but I don't think so).

### Actual behavior

JavaScript code between start (`<script>`) and first ERB-

[2016-12-03 22:08] jszakmeister opened #583 "Clojure deref (@) is flagged as "err""
I've been trying to convert my website to Jekyll, and a snippet of code I have is rendering with an error because of the deref (@) in the code.  Here's the snippet of code:

[code]

Which contains the following in the final render:

[code]

The "err" is the part that is important here.  The highlighter is incorrect--it's valid Clojure code.

[2016-12-05 02:40] somiaj opened #585 "How to :pop! multiple stacks"
I'm writing a lexer and at one point I need to pop 2 stacks on one trigger. I'm new to ruby so I'm still trying to figure out what everything does but looking though lib/rouge/regex_lexer.rb I notice that there is when :pop! that is used to pop a single stack and using this works just fine.

What I need to do is way to pop 2 (or ideally a variable number and maybe even pop back to root stack) abil

[2016-12-06 08:40] jneen commented on #585
Hi Jaimos!

It looks to me like what you want are block actions. From within the block you can call any method on the lexer, including `pop!`, as many times as you want. For example:

[code]

[2016-12-06 23:49] vning93 opened #586 "GraphQL support"
More companies than ever are starting to use GraphQL. It would be great to have support for the GraphQL language as well.

Thanks!

[2016-12-07 23:07] #581 closed

[2016-12-09 15:34] jiphex opened #589 "Crash on Ruby <2"
Rouge is required as part of Gollum which we're deploying onto Debian Wheezy hosts which come with Ruby 1.9.3.

Attempting to run Gollum in this situation raises the following traceback:

[code]

This can be fixed by escaping the `@` in the regex on the highlighted lines.

Fixed in #588

[2016-12-14 00:37] jneen commented on #582
Hi, good catch! It was a subtle issue where the HTML lexer was delegating in chunks that were too large to be broken apart by ERB. I think I've fixed it in 43fbbfc, could you confirm?

[2016-12-14 03:18] jneen commented on #583
Hi! I think I've fixed this in 14b4b1e - could you confirm?

[2016-12-14 08:21] jszakmeister commented on #583
Thank you for fixing it.  I'm unsure how to test this in my Jekyll environment, but going through rougify it does appear that the problem is fixed.  Thank you!

[2016-12-14 08:21] #583 closed

[2016-12-15 14:38] bluegod opened #592 "Different color for constants in Ruby"
Example:

[code]

Highlights as:

![screen shot 2016-12-15 at 15 37 31](https://cloud.githubusercontent.com/assets/999323/21227990/6de6dff8-c2dc-11e6-8f79-073c28b11949.png)

Using `rouge 2.0`

[2016-12-18 21:00] AlexWayfer commented on #582
Yep! `master` version works good with it.

I can close issue, I guess.

Thank you very much.

[2016-12-18 21:00] #582 closed

[2016-12-18 21:27] AlexWayfer opened #593 "Syntax highlighting for templated tag in ERB-file"
### Summary

I don't understand why `<% %>` (or `<%=`) at the beginning of HTML-tag make `<` of HTML-tag red (`.err`).

### Steps to reproduce

1. Create `.erb`-file
2. File must contain `<% %>` in `< >` (tag)

### Expected behavior

No problems, no errors (maybe warnings? but I don't think so).

### Actual behavior

`<` highlighted as wrong by CSS-class `.err`.

### Relevant logs and/or screensho

[2016-12-20 20:41] matthiasbalke opened #595 "support asciidoc highlighting"
Please add asciidoc(tor) syntax highlighting.

[2016-12-21 20:18] jneen commented on #593
Hi there! This... sigh. I mean in a sense it's a potential error because `<>` isn't valid HTML. The HTML regex looks for `/<\w+/` for an open tag, which isn't matched here. It could be fixed by breaking those up into separate matches I suppose.

[2016-12-21 20:26] #593 closed

[2016-12-21 20:31] AlexWayfer commented on #593
Thank you! Sorry for non-trivial issues 😅

You are very cool! 👏

[2016-12-21 20:49] AlexWayfer opened #596 "Syntax highlighting for `new` keyword in Ruby"
Hello!

Rouge is highlighting `new` in Ruby as keyword without any context now.

Example of problem: [Sequel has method `new?` for models](http://sequel.jeremyevans.net/rdoc/classes/Sequel/Model/InstanceMethods.html#method-i-new-3F), it's not Ruby-keyword, but highlighting as it.

[Rouge paste with code](http://rouge.jneen.net/pastes/m9a1)
[Screenshot of highlighting](https://cloud.githubuserconte

[2016-12-21 21:04] jneen commented on #592
Hi! I've just fixed this in a0549d0. Thanks!

[2016-12-21 21:04] #592 closed

[2016-12-22 08:38] AlexWayfer commented on #596
Today I've discovered another one: [`new` as argument](http://rouge.jneen.net/pastes/laWx).

[2016-12-24 12:29] kellertobi91 opened #599 "Coffeescript Syntax Highlighting: Shows code as comments"
### Summary

After a line with multiple hashtags, code is rendered as multiline comments.

[code]

### Steps to reproduce

See example above

### Expected behavior

All `x=normalCode` lines rendered as code and not comments

### Actual behavior

After more than three hashtags code is rendered as comment.