[2019-05-20 09:36] pyrmont commented on #1047
@bebuch So I take it from your example that two double quotes are interested as an escaped double quote? Are there other escape sequences relevant for double-quote strings?

[2019-05-20 09:41] pyrmont commented on #1045
[Here](http://rouge.jneen.net/pastes/882v) is an example of the formatting bug. @ian-flowhub has identified the problematic line. Will have a look at fixing it.

[2019-05-20 15:20] calini commented on #1097
I could just fix it in my fork but that means whoever is pulling a theme that uses Rouge will deal with the same thing. Should I fix it and do a pull request on it?

[2019-05-20 17:56] pyrmont commented on #1097
I had a look at [the description of the tokens](https://github.com/rouge-ruby/rouge/wiki/List-of-tokens) in the wiki and `Other` is described like this:

Pygments has [the same description](http://pygments.org/docs/tokens/).

To my mind, that's not an accurate description of whitespace in Go. That makes me feel confident that changing the token to `Text` is the proper approach (there is actually a

[2019-05-20 18:30] pyrmont commented on #1043
I've submitted a PR that adds two very simple rules for matching constant names and class names based on Java's naming conventions.

[2019-05-21 00:58] jneen opened #1125 "Feature Request: TeX formatter"
It would be really super nice to be able to output highlighted TeX code for including in papers and such. I don't know much about TeX myself, but if someone wanted to take this on I'd be really happy.

[2019-05-27 07:46] pyrmont commented on #1081
This has been addressed by #1110 and #1128. As discussed in #1115, older versions of Ruby will continue to be part of the CI builds for now.

Thanks for submitting the PR @marius-balteanu! I'm sorry it took so long to get back to you on it.

[2019-05-27 07:46] #1081 closed

[2019-05-27 07:54] marius-balteanu commented on #1081
No problem! thanks for your response.

[2019-05-27 18:22] #1043 closed

[2019-05-27 18:23] #1045 closed

[2019-05-27 18:29] #1097 closed

[2019-05-27 18:30] #1049 closed

[2019-05-27 18:31] #1075 closed

[2019-05-27 18:35] #1076 closed

[2019-05-27 18:37] #1093 closed

[2019-05-27 19:53] #1105 closed

[2019-05-28 17:35] #1056 closed

[2019-05-28 17:53] #1058 closed

[2019-05-28 18:38] #879 closed

[2019-05-28 18:56] pyrmont commented on #1009
Fixed by #1069. Thanks @vidarh!

[2019-05-28 18:56] #1009 closed

[2019-05-28 18:57] pyrmont commented on #1022
This has been fixed by #1068. Thanks @vidarh for getting this one licked :)

[2019-05-28 18:57] #1022 closed

[2019-05-28 18:59] pyrmont commented on #1047
This has been fixed by #1048.

[2019-05-28 18:59] #1047 closed

[2019-05-29 16:38] pyrmont opened #1132 "Plist documentation should warn about alternative formats"
@dblessing wrote ([source](https://github.com/rouge-ruby/rouge/pull/1026#issuecomment-496992999)):

As suggested, there should be comments in the relevant lexers warning about this.

[2019-05-29 16:54] pyrmont commented on #934
@ararslan Is it possible to update your quite helpful to-do list in light of #1024 being merged in. What's left do you think?

[2019-05-29 17:11] ararslan commented on #934
Unfortunately #1024 only checked two of the above boxes, so what's left is the rest of the list. :grimacing:

[2019-05-29 17:14] pyrmont commented on #934
Hey, one step at a time, right? :) Thanks for #1024!

[2019-05-30 04:27] #878 closed

[2019-05-30 04:31] pyrmont opened #1134 "HTML detection should use a case-insensitive regex"
The `detect?` method should use a case-insensitive regular expression to match against an `<html>` tag:

https://github.com/rouge-ruby/rouge/blob/d8cedb39ce3229140f1f808aeedc18b384711e61/lib/rouge/lexers/html.rb#L16

[2019-05-30 06:27] ashmaroli opened #1135 "Lazy-load lexers"
As of Rouge-3.3.0, *all lexers* are loaded into memory via `require 'rouge'`. Now that more and more lexers with numerous `rule`s are being introduced, Rouge is going to bloat the memory unnecessarily.
The chances of a consumer using a major percentage of the bundled lexers are *very low*.

Therefore, I would like to propose *to have the lexers be loaded into memory as necessary* similar to how Ru

[2019-05-30 06:29] pyrmont commented on #1135
Ha! I was wondering about this myself the other day and had it on my list of things to think about the mechanics of doing! :)

Off the top of my head, I'd guess the issue is that there's important information in each lexer that Rouge uses to identify which lexer to choose. You'd still want that to be available. Maybe what's easier is lazy loading of the rules?

[2019-05-30 06:36] ashmaroli commented on #1135
Awesome! :smiley:

I've not familiarized myself with inner workings of Rouge, so I may be way off-track here.
I was thinking more along the lines of using `Rouge::Lexer.find_fancy(language, content)` to determine what lexer to load based on given `language`..

[2019-05-30 06:44] pyrmont commented on #1135
@ashmaroli wrote:

Right, but `language` is 'registered' by each lexer (I think). So if you're going to find the lexer with the matching name, you necessarily need to have the objects loaded in memory to check. I mean you could load each in as you check it but:

1. you'll likely load a lot of lexers before you find the one you're looking for; and

2. the loading of each lexer will still cause all

[2019-05-30 06:48] ashmaroli commented on #1135
If that's the case, we could have the most commonly occurring regexps stashed in named constants under the RegexLexer.. :thinking:

[2019-05-30 06:50] pyrmont commented on #1135
See here:

https://github.com/rouge-ruby/rouge/blob/b1e81b83109f512c6c762acd1e5dae271ab56fa7/lib/rouge/lexer.rb#L33-L77

[2019-05-30 08:51] pyrmont commented on #1135
@ashmaroli wrote:

The `Rouge::RegexpLexer::Rule` objects consist of a regular expression but also a block. Common regular expressions would possibly be helpful but there'd still be a lot of object creation.

Here are some initial thoughts on possible strategies:

1. cache registry of lexer names and aliases (either on our side when we release a gem or on the user side when they run Rouge for the

[2019-05-30 09:04] ashmaroli commented on #1135
I fail to see the point of using a cache registry of lexer names and aliases to selectively load a lexer since they're all unique. What is being cached..? If you want to prevent multiple loading of lexers, it'd make sense to use `require` instead of `load` but IIRC, @jneen was not open to making that switch.

But if you were suggesting a cache for holding *common patterns* in multiple lexers, that

[2019-05-30 09:06] pyrmont commented on #1135
This cache would hold references to the filename for each name and alias. If Rouge was invoked with the name of the language (or its alias), Rouge could look it up in this cache and then load only that lexer.

[2019-05-30 09:12] ashmaroli commented on #1135
Basically what `require` does with `$LOADED_FEATURES`. If invoking a lexer with `:ruby` caused `lib/rouge/lexers/ruby.rb` to be loaded into memory. invoking a lexer with `:rb` would simply return `false`... correct?

[2019-05-30 09:25] pyrmont commented on #1135
Strategy 3 would work like that. In your example, the language specified is `:ruby` and there's a file called `ruby.rb` in `lib/rouge/lexers/` so that'd match and Rouge would load that and only that lexer.

The limitation would be if you used an alias. Since there's no file called `rb.rb` if the language specified was `:rb`, Rouge would have to fall back on loading all lexers so that a complete re

[2019-05-30 09:32] ashmaroli commented on #1135
Oh! I did not realize that.
Now your strategy sounds like a good first-step in the right direction. :+1:

[2019-05-30 10:05] pyrmont commented on #1135
Hmmm, after further review, I think I may have taken us down a rabbit hole. I suspect @jneen has done her best to avoid unnecessary object creation.

If I'm understanding the way it works properly (not certain), here's how I think Rouge starts up:

1. loading `lib/rouge.rb` causes all lexers to be loaded:

   https://github.com/rouge-ruby/rouge/blob/d8cedb39ce3229140f1f808aeedc18b384711e61/lib/rou

[2019-05-30 10:20] ashmaroli commented on #1135
I use a gem called `memory_profiler` to gauge usage locally. Perhaps the following script will help you as well:
[code]

[2019-05-30 14:06] harryhobson opened #1136 "Autohotkey support"
Autohotkey support would be fantastic, a reference implementation exists in [pygments](https://bitbucket.org/birkenfeld/pygments-main/src/default/pygments/lexers/automation.py)

[2019-05-30 17:10] pyrmont commented on #1136
@harryhobson Thanks for filing this issue :) And for the link to the relevant Pygments file!

Rouge mostly relies on the support of our community for new language lexers. We have quite a backlog at the moment but always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. The documentation is a little sparse at the moment but I'm looking t

[2019-05-30 17:23] pyrmont commented on #1096
Sorry it's taken so long to get back to you, @arielvega. Are you still interested in developing this? Please feel free to submit it as a PR!

[2019-05-30 17:32] pyrmont commented on #1067
@vidarh Thanks again for this list. I hope you don't mind but I edited the OP to cross off the items that have been closed. I'll try to keep it up to date as we progress through the backlog :)

[2019-05-30 17:42] pyrmont commented on #1052
The Scala lexer uses the 'class begins with a capital letter' heuristic:

https://github.com/rouge-ruby/rouge/blob/6c7da8adaab1aa9deb4564ba7d40b47e93872524/lib/rouge/lexers/scala.rb#L67

Are you able to add something like this to the Kotlin lexer and submit a PR, @lordcodes?

[2019-05-30 17:45] pyrmont commented on #1106
@mjog I should just note that I'm currently going through the existing backlog of PRs and trying to clear those before looking at feature requests. Of course, please always free to submit a pull request on your own—they're always appreciated!

[2019-05-30 17:46] pyrmont commented on #1108
@Yajo I should just note that I'm currently going through the existing backlog of PRs and trying to clear those before looking at feature requests. Of course, please always free to submit a pull request on your own—they're always appreciated!

[2019-05-30 17:47] pyrmont commented on #1101
@mhham Thanks for filing this issue :) And for the link to the relevant Pygments file!

Rouge mostly relies on the support of our community for new language lexers. We have quite a backlog at the moment but always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. The documentation is a little sparse at the moment but I'm looking to impr

[2019-05-30 17:48] pyrmont commented on #1100
@Jamesking56 Thanks for filing this issue :)

Rouge mostly relies on the support of our community for new language lexers. We have quite a backlog at the moment but always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. The documentation is a little sparse at the moment but I'm looking to improve that. There is [a draft of a new guide

[2019-05-30 17:49] pyrmont commented on #1091
@Insoleet Thanks for filing this issue :) And for the link to the relevant Pygments file!

Rouge mostly relies on the support of our community for new language lexers. We have quite a backlog at the moment but always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. The documentation is a little sparse at the moment but I'm looking to i

[2019-05-30 17:49] pyrmont commented on #1065
@Duckbuster Thanks for filing this issue :)

Rouge mostly relies on the support of our community for new language lexers. We have quite a backlog at the moment but always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. The documentation is a little sparse at the moment but I'm looking to improve that. There is [a draft of a new guide

[2019-05-30 17:50] pyrmont commented on #1054
@MartinPotier Thanks for filing this issue :) Sorry it's taken so long to get back to you!

Rouge mostly relies on the support of our community for new language lexers. We have quite a backlog at the moment but always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. The documentation is a little sparse at the moment but I'm looking to

[2019-05-30 17:56] pyrmont commented on #1135
That's helpful! My initial test showed about 10MB of memory usage in the Rouge gem just from loading. That seems like maybe a lot but maybe not. Were you seeing the same kind of profile?

[2019-05-30 18:06] ashmaroli commented on #1135
Yes. Most of those allocations and retainments are due to loading all the lexers into memory.
For example the string reports will show you that `"root"` has been allocated and retained `x` times where `x` equals the current no. of lexers available.

[2019-05-30 23:37] jneen commented on #1135
That part is interesting and may be a bug - `:root` should be a symbol, which should be shared memory...

[2019-05-30 23:39] jneen commented on #1135
(also iirc Ruby does some memory-sharing magic with strings under a certain length, about 20-something)

[2019-05-30 23:41] pyrmont commented on #1135
@jneen wrote:

Do you think it's because of this?

https://github.com/rouge-ruby/rouge/blob/6c7da8adaab1aa9deb4564ba7d40b47e93872524/lib/rouge/regex_lexer.rb#L186

I saw it as I was writing up the explanation yesterday and my initial thought was that this is going to cause every key to be turned into a string that's then stored in memory.

[2019-05-30 23:43] jneen commented on #1135
Welp, that might be the culprit there. I think I was originally trying to avoid symbol/string ambiguity, but it's definitely not worth the memory bloat for internal use.

[2019-05-30 23:44] pyrmont commented on #1135
I wondered if maybe `to_sym` might be a better alternative in that case? Or do you think not worth worrying about at all, really?

[2019-05-30 23:46] jneen commented on #1135
Since some people may have written their own lexers that aren't part of rouge, I think `to_sym` is a good choice for compatibility's sake. And it's free if it's already a symbol. The only danger with `to_sym` is passing it *user* data, since symbols are never gc'd, but that's not a problem here.

[2019-05-31 00:00] pyrmont commented on #1135
Hmmm, I suppose if we did use symbols as keys, there is one area where user data could leak in. When a user defines a code block in Markdown, they can (depending on the flavour) specify the language and that would then need to be turned into a symbol to check against the `registry`.

The immediate solution that comes to mind is to truncate this language string before turning it into a symbol. Coul

[2019-05-31 08:19] vidarh commented on #1067
@pyrmont Of course - great to see things getting merged. Might have to take a stab at some of the remaining bugs now that things are happening..

[2019-05-31 08:38] jneen commented on #1135
That's true for lexer tags, but state keys should be fully invisible to the user.

[2019-05-31 08:41] pyrmont commented on #1135
B'oh—right you are! Was a bit too sleepy this morning :)

[2019-05-31 23:41] jneen commented on #1135
Since some people may have written their own lexers that aren't part of rouge, I think `to_sym` is a good choice for compatibility's sake. And it's free if it's already a symbol. The only danger with `to_sym` is passing it *user* data, since symbols are never gc'd, but that's not a problem here.

[2019-06-01 06:00] miparnisari commented on #341
This looks fine to me now, can we close this issue @pyrmont ?

![image](https://user-images.githubusercontent.com/5374887/58744435-d11cd800-83f7-11e9-8ebc-36ab2b1dc294.png)

[2019-06-01 06:05] miparnisari commented on #3
This can be closed too @pyrmont

![image](https://user-images.githubusercontent.com/5374887/58744497-7afc6480-83f8-11e9-95b2-f8b09645e519.png)

![image](https://user-images.githubusercontent.com/5374887/58744498-86e82680-83f8-11e9-9d3d-77d0c9b1b4d1.png)

[2019-06-01 06:07] miparnisari commented on #43
@japj 3 years  late, but... checkout the docs at https://github.com/rouge-ruby/rouge/blob/master/docs/LexerDevelopment.md if you're interested in writing the lexer

[2019-06-01 06:11] miparnisari commented on #150
I think this can be closed @pyrmont

![image](https://user-images.githubusercontent.com/5374887/58744556-72585e00-83f9-11e9-94aa-db4be40466de.png)

[2019-06-01 06:15] miparnisari commented on #289
@pyrmont I this can be closed since the code for it is here: https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/lexers/javascript.rb#L269

![image](https://user-images.githubusercontent.com/5374887/58744614-fc082b80-83f9-11e9-9243-5faf015a6847.png)

[2019-06-01 06:19] miparnisari commented on #350
Looks fine to me now.

![image](https://user-images.githubusercontent.com/5374887/58744654-73d65600-83fa-11e9-8dec-3653859cf435.png)

[2019-06-01 06:24] miparnisari commented on #605
This was implemented in https://github.com/rouge-ruby/rouge/blob/f8f229598c15ff88c29c19d263032f34f757ed75/lib/rouge/lexers/csharp.rb#L92

![image](https://user-images.githubusercontent.com/5374887/58744734-3b834780-83fb-11e9-9745-2fa025eb7e8e.png)

We can close this @pyrmont

[2019-06-01 06:26] miparnisari commented on #641
This works for me @ilg-ul @stenmuchow

![image](https://user-images.githubusercontent.com/5374887/58744747-79806b80-83fb-11e9-9d4a-48464460f172.png)

@pyrmont should we close it?

[2019-06-01 07:18] pyrmont commented on #641
Yeah, seems to be displaying fine on [the website](http://rouge.jneen.net/pastes/e0Lk) now. Thanks for the heads up, @miparnisari!

[2019-06-01 07:18] #641 closed

[2019-06-01 07:20] pyrmont commented on #605
Cheers!

[2019-06-01 07:20] #605 closed

[2019-06-01 07:21] pyrmont commented on #350
Thanks!

[2019-06-01 07:21] #350 closed

[2019-06-01 07:23] pyrmont commented on #289
Yep, agreed :)

[2019-06-01 07:23] #289 closed

[2019-06-01 07:24] pyrmont commented on #150
Thanks for the heads up!

[2019-06-01 07:24] #150 closed

[2019-06-01 07:29] pyrmont commented on #43
@miparnisari The good news is that @japj did get that [BIML lexer](https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/lexers/biml.rb) written.

I don't think we ever did get that ASP lexer, though… 🤷‍♂️

[2019-06-01 07:31] pyrmont commented on #3
Thanks @robin850 and @miparnisari :)

[2019-06-01 07:31] #3 closed

[2019-06-01 07:34] pyrmont commented on #341
Ooh, another issue closed :) Thanks @miparnisari!

[2019-06-01 07:34] #341 closed

[2019-06-01 17:43] pyrmont opened #1142 "Possible fix for beginning of line bugs in StringScanner"
_This is mostly for @jneen. I think I've found something significant but I have no idea what to do with this information._

So, first some background. After @miparnisari's [question](https://github.com/rouge-ruby/rouge/pull/1111#issuecomment-497915820) about how Rouge consumes the source input, I was looking at this:

https://github.com/rouge-ruby/rouge/blob/df23679aa1da2374032b4f61ede7a019c04757a

[2019-06-01 18:46] pyrmont opened #1143 "Add reference to Disambiguation class in Lexer"
@jneen [wrote](https://github.com/rouge-ruby/rouge/pull/1111) in #1111:

[2019-06-01 18:59] pyrmont opened #1144 "Add debug documentation"
@miparnisari wrote in [a comment](https://github.com/rouge-ruby/rouge/pull/1111#issuecomment-497915820) in #1111:

[code]

[2019-06-02 01:00] pyrmont opened #1147 "Avoid object instantiation in lexers"
One way to reduce the memory usage of Rouge is to avoid instantiation of objects in individual lexers. Based on the report generated by `rake profile_memory`, it would seem the biggest causes of unnecessary object instantiation in a lexer are:

1. a failure to wrap arrays of keywords in class methods so that you do this:

[code]

   rather than this:

[code]

2. a failure to wrap regexs (especiall

[2019-06-02 01:44] #1082 closed

[2019-06-02 05:23] deadlydog commented on #252
You can see [pygments batch lexer definition here](https://bitbucket.org/birkenfeld/pygments-main/src/default/pygments/lexers/shell.py) for reference. I would love to see this added.

[2019-06-02 05:34] jneen commented on #1147
Yes! And also, as far as possible, reducing the amount of giant regexes we generate by interpolating large arrays would go a long way.

[2019-06-02 06:48] ashmaroli commented on #1147
@pyrmont I have no issues undertaking this task. Optimizing memory will help everyone.
I'll submit PR(s) towards resolving this.

[2019-06-02 07:30] pyrmont commented on #1147
Thanks @ashmaroli!

I've been playing around with seeing the impact of deleting certain lexers. I reduced memory allocation **almost 1.2MB** (!!!) just by deleting all the lexers staring with `L`.

I haven't looked at which lexer in particular was causing problems but if it was because of unnecessary object instantiation, this could be a huge help :)

[2019-06-02 07:32] ashmaroli commented on #1147
Haha! *Trials by Elimination..* :smile:

[2019-06-02 07:34] pyrmont commented on #1147
Deleting `P` and `S` also reduces memory allocation by around 1MB per letter as well. In general, I'd estimate that it was about 300KB or so per letter.

[2019-06-02 07:35] ashmaroli commented on #1147
I see a lot of inconsistencies in the lexers. Some have `keywords =`, while some have `KEYWORDS =`
while some have `def self.keywords;`
I think the first step here would be to decide on a consistent design..

[2019-06-02 07:38] pyrmont commented on #1147
Using a class method was @jneen's [comment](https://github.com/rouge-ruby/rouge/pull/1111#discussion_r287687403) in reviewing the lexer development guide and was the basis for the suggestion above. That feels like idiomatic to me.

[2019-06-02 07:43] ashmaroli commented on #1147
Great. Here's my plan: Convert all `keywords =` and similar that stores arrays to be class methods and all `id =` which is storing simple regexps into CONSTANTS.. whatsay?

[2019-06-02 07:54] pyrmont commented on #1147
As a first pass, my preferred option would be to put _all_ local variables (be they arrays of special words or regular expressions) behind class methods. This has the benefit of not requiring any further editing of lexers that were using local variables (although, as you noted, they weren't all doing that so it's not going to be true universally).

Once that's done, further optimisation could invo

[2019-06-02 13:47] ashmaroli commented on #1147
@pyrmont I won't be able to finish this task. The various lexers are structured differently. Some specs fail on changing `keywords =` to `def self.keywords` or `def keywords`. It is time-consuming to sync spec files and changes in the lexer source..

[2019-06-02 14:26] pyrmont commented on #1147
No problem at all! Thanks for taking a look at it!

[2019-06-02 14:39] pyrmont commented on #252
@deadlydog Thanks for the link to the Pygments batcher; that should be helpful. At this stage, we're mostly doing our best to clear through the backlog of PRs that had built up over the past few months but I'd like to eventually start looking at some of the more popular lexer requests.

In the meantime, we have [a new lexer development guide](https://www.rubydoc.info/github/rouge-ruby/rouge/master

[2019-06-02 14:57] ashmaroli opened #1148 "Allocations in Guessers::Source"
Tracing allocations from Rouge (current `master`) with `memory_profiler` on Jekyll's documentation source-code shows the following:

[code]
The code reported being:
https://github.com/rouge-ruby/rouge/blob/dabd56e19d0429a04d5dcf642d949bc20173a915/lib/rouge/guessers/source.rb#L24-L27

Debugging shows that the lines `#25` have been called a total of **63840 times** during the
`jekyll build` session.

[2019-06-02 17:40] #1148 closed

[2019-06-02 22:37] miparnisari commented on #731
This works for me

![image](https://user-images.githubusercontent.com/5374887/58768205-43063600-854c-11e9-9c2c-2fa5ec0243cb.png)

[2019-06-02 22:39] miparnisari commented on #657
This was fixed and we can close it.

![image](https://user-images.githubusercontent.com/5374887/58768222-88c2fe80-854c-11e9-9db2-e99fc2b3d446.png)

[2019-06-02 22:41] miparnisari commented on #686
I think we can close this one.

![image](https://user-images.githubusercontent.com/5374887/58768237-e8210e80-854c-11e9-81d7-bcfe259b235b.png)

[2019-06-02 23:05] pyrmont commented on #731
[Same here](http://rouge.jneen.net/pastes/XkxM). Thanks @miparnisari :)

[2019-06-02 23:05] #731 closed

[2019-06-02 23:06] pyrmont commented on #657
Thanks @miparnisari!

[2019-06-02 23:06] #657 closed

[2019-06-02 23:10] pyrmont commented on #686
That looks broken in a different way. The text of each list item is appearing outside the relevant `<span>` tag which shouldn't be how it works.

[2019-06-03 00:34] jneen commented on #1148
I wrote this code long enough ago that I don't remember the specifics, but `methods(false).include?(sym)` is *definitely different* from `respond_to?`, and I would appreciate maybe looking into why that was used - there may be hints in the git history.

[2019-06-03 00:35] jneen commented on #1148
In particular `methods(false)` does not include superclass or module methods.

[2019-06-03 00:37] pyrmont commented on #1148
@ashmaroli updated the OP after creating the original issue. The PR memoised `methods(false).include?(:detect?)` not `respond_to?`.

[2019-06-03 01:04] jneen commented on #1148
If the current tests are insufficient (i believe they fail if it's replaced with `respond_to?`) maybe we could add a test that a subclass of a `detectable?` method is not marked as detectable?

[2019-06-03 07:38] jneen commented on #964
Unfortunately, this comes with how we use regular expressions in our DSL. Things like

[code]

raise a warning because Ruby is worried that the first `/` is division.

[2019-06-03 07:43] ashmaroli commented on #1148
@jneen Before I proposed to add `Lexer.detectable?` I realized that the semantics of `respond_to?` was opposite of what `.methods(false)` was returning. Hence dropped the idea of replacing with `respond_to?`
`Lexer.detectable?` does the same thing as `Lexer.methods(false).include?(:detect?)` but it is a memoized method to avoid re-evalutaion from multiple instances of same lexer class.

I've updat

[2019-06-03 07:48] #708 closed

[2019-06-03 07:53] #964 closed

[2019-06-03 15:57] ashmaroli opened #1154 "Bring back CGI.escape_html in Formatters::HTML"
Back when #114 shipped, `CGI.escape_html` was slow. But it has been [made faster since Ruby 2.3.0](https://github.com/ruby/ruby/commit/ce7f7f5e3d6c288b140870fa87c4b11e9a744f62)
[code]
In spite of the `cgi_escape` method escaping quotes, it is `~ 4x faster` than `str_escape`.
Memory profiling above methods shows that `cgi_escape` allocates `4x lesser objects` as well.

[2019-06-03 16:08] jneen commented on #1154
That's new! When we first introduced the table it was orders of magnitude faster than CGI

[2019-06-03 16:12] ashmaroli commented on #1154
I was not aware of the optimization myself until the author himself pointed me to it:
https://bugs.ruby-lang.org/issues/15895

[2019-06-03 22:53] jneen commented on #1154
Yep. And our use of the table comes from #114, which was pre-optimization. +1 from me.

[2019-06-04 10:25] #1084 closed

[2019-06-07 08:19] pyrmont commented on #1147
So I kept playing around and now have [this code](https://github.com/pyrmont/rouge/tree/612b42a9e1977cffde0b8230a787cc0660e84381) as a kind of hacky proof of concept.

### Approach

The important stuff is all in `lib/rouge/lexer.rb`. In short, rather than load in the individual lexer files, it:

1. extracts the class names, tags and aliases from these files;
2. saves these values as keys in a hash

[2019-06-07 08:38] ashmaroli commented on #1147
From the [compare-diff](https://github.com/rouge-ruby/rouge/compare/master..612b42a9e1977cffde0b8230a787cc0660e84381), it looks like your tree hasn't been rebased to the latest `rouge:master` (or it so appears because the recent escaping logic has been removed..?)

[2019-06-07 08:51] pyrmont commented on #1147
Rebased for your [ease of comparison pleasure](https://github.com/rouge-ruby/rouge/compare/master...pyrmont:feature.wrapping-dsl-keywords).

Memory usage is now:

[code]

and for vanilla loading:

[code]

[2019-06-07 08:52] ashmaroli commented on #1147
:stuck_out_tongue_winking_eye:

[2019-06-07 08:55] ashmaroli commented on #1147
*"Vanilla loading"* being the `master`..?

[2019-06-07 08:56] pyrmont commented on #1147
@ashmaroli Vanilla loading means without actually running any highlighting. I introduced a rake task that just loads the library and that's what I mean by vanilla loading.

[2019-06-07 13:03] jneen commented on #1147
Another option that does away with that scary regex: keep the `lexer` keyword, but *do not save the block*. Instead, re-load the file later with a special thread-variable flag set, such that the lexer actually gets populated.

[2019-06-07 13:11] pyrmont commented on #1147
@jneen I feel like I've just been galaxy brained.

[2019-06-07 13:12] jneen commented on #1147
lol maybe. it might be a bit much.

also make sure to update `RougeVersion` in rouge.jneen.net so it can preload everything before removing the global constant (and the files)

[2019-06-08 10:00] labster commented on #981
As far as I can tell, the current rule matches all sorts of things are interpreted as starting a regex:
* The built-in functions `map` and `mkdir`
* A method call, with the method name beginning with the letter `m`
* Any hash key written as a bareword that begins with the letter `m`
* Any bareword in any context beginning with the letter `m`, which are definitely not regular expressions interprete

[2019-06-08 11:38] pyrmont commented on #981
Hi all :) I wanted to apologise for having this be outstanding for so long. We've recently got things moving again on the project but have generally been focusing on PRs. I'm afraid I hadn't noticed this issue until @labster's comment.

I will say the current behaviour sounds pretty bad. I'll have a look myself and try to report back ASAP on what approach looks best to take. Thanks for all the poi

[2019-06-08 14:06] jneen commented on #981
I should also note that in a lexer pretty much every `+` or `*` should be made non-greedy (`+?` or `*?`), since it's very rare that we want to look all the way to the end of a file for the ending delimiter.

[2019-06-09 04:41] pyrmont commented on #981
OK, there's a lot going on here.

**TLDR**: I basically think @labster's suggestion is correct and it's been submitted as PR #1160.

### Problem 1: Regular expressions with arbitrary delimiters

As has been discussed, Perl allows for regular expressions to be defined with arbitrary non-whitespace delimiters. The initial fix for this led to broken behaviour where it would capture certain elements o

[2019-06-09 10:34] labster commented on #981
Thanks for the quick response, at least from my point of view.  I'd have proposed the PR myself, but I still need to learn Ruby, and I'm not quite up for that level of yak shaving today.  I think that in general, there are still improvements to be made to the Perl lexer, which is still about half the length of the Ruby lexer.  I may try out some small PRs there in the future, or maybe even attempt

[2019-06-09 23:45] #981 closed

[2019-06-09 23:48] pyrmont commented on #981
@labster Yeah, definitely think Perl doesn't get much love when it comes to a lot of the syntax highlighting libraries. Hopefully we can make it better :)

My knowledge of Perl is undoubtedly worse than your knowledge of Ruby but please feel free to suggest any changes you think of!

[2019-06-10 05:52] miparnisari opened #1163 "When inside single quotes, Perl tokenizes \ as an error"
Problem:

![image](https://user-images.githubusercontent.com/5374887/59175038-c9041d00-8b08-11e9-98fb-0b8395f98d76.png)

I tried adding the following rule as the 3rd rule of states `:sq` and `:dq` and it fixes it, but of course IDK if this is the right solution.

[code]

![image](https://user-images.githubusercontent.com/5374887/59175071-fbae1580-8b08-11e9-9697-49e3e98fb6df.png)

[2019-06-10 06:10] miparnisari opened #1164 "When "sub" is used as key of a Perl hash, error tokens are rendered"
![image](https://user-images.githubusercontent.com/5374887/59175690-4c267280-8b0b-11e9-9092-0017316a4a7e.png)

When the lexer sees "sub" it thinks a function will follow:

[code]

Maybe a simple negative lookahead is enough?

[code]

[2019-06-10 06:27] pyrmont commented on #1163
B'oh—well that's a silly mistake. I think the fix for `:sq` is right but I'm less sure about `:dq`. When I try a very rudimentary print statement at the command line with Perl then passing a double-quoted string with a single backslash omits from the output the character that was escaped. So we probably want to highlight both the backslash and the immediately following character with the `Str::Esc

[2019-06-10 06:47] pyrmont commented on #1164
Hmmm, it won't necessarily result in an error but I assume any bare word used in a hash will be highlighted incorrectly if it's a keyword, right?
For instance, `package` will have the same issue, won't it?

[2019-06-10 10:59] jneen commented on #1164
I'd be interested in how Perl parses this - does the hash context have specific parsing rules, or does the `=>` retroactively change the meaning of `sub`?

[2019-06-10 14:32] dblessing commented on #828
@pyrmont Would you mind taking a look at this, please? When you get time.

[2019-06-10 16:48] alexkalderimis commented on #1164
`=>` causes bare-words to the left to be interpreted as strings, but is otherwise the same as `,`

[2019-06-10 18:16] pyrmont commented on #1142
I've submitted a fix (ruby/strscan#6) to the StringScanner library. Not sure if it will be accepted—and even if it is, it will be a long time before Rouge can rely on its presence—but at least we can point to that in the future if people ask why Rouge doesn't work properly with anchors .

[2019-06-10 18:17] #1142 closed

[2019-06-10 19:24] #982 closed

[2019-06-10 19:24] #983 closed

[2019-06-10 20:42] #828 closed

[2019-06-10 20:50] fireattack commented on #828
Thanks. Glad someone is taking care of this project again.

[2019-06-11 01:14] jneen commented on #1164
Okay! Then something like `rule /(?=[^\n]*=>)/, :pre_arrow` to put us in the special state where barewords cannot be keywords?

[2019-06-11 01:15] jneen commented on #1164
It means we have to do a kind of big regex on every line though, and also we have to make sure we break regex scans on lines...

[2019-06-11 05:21] pyrmont commented on #1164
Can `=>` only occur inside parentheses? Maybe we need a state for function arguments (or whatever the correct terminology is in Perl for this kind of thing).

[2019-06-11 10:39] stof opened #1166 "Nesting of raw and verbatim is not handled properly for Jinja/Twig"
See https://github.com/rouge-ruby/rouge/pull/1003#discussion_r292374857 for the discussion about it.

[2019-06-11 11:05] zoidbergwill commented on #981
Thank you so much for the fixes, folks. So excited to see this issue closed. 🙏

Can we get a release, so I can make an MR to GitLab to upgrade [their version](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/Gemfile.lock#L770) of rouge?

[2019-06-11 17:39] pyrmont commented on #1166
Thanks for filing the issue, @stof!

[2019-06-11 19:01] pyrmont commented on #981
@zoidbergwill New release just went out :)

[2019-06-11 19:15] miparnisari commented on #1164
@pyrmont no, this is valid as well:

[code]

[2019-06-11 19:45] Peter200lx commented on #937
This is also related to #942, currently the Python string formatting support could use work. The Python f-string support is extra tricky because inside of the `{}` in an f-string most but not all of regular python formatting applies:
https://docs.python.org/3/reference/lexical_analysis.html#f-strings

[2019-06-12 01:25] pyrmont commented on #1164
Good to know. From what I can see, though, the use of the 'fat arrow' here is another special case.

Based on a cursory search, it looks to me like the two cases are in a hash and in a constant pragma (see [here](https://perldoc.perl.org/perldata.html) and [here](https://perldoc.perl.org/constant.html)).

[2019-06-12 02:18] jneen commented on #1164
@miparnisari in your example, are `use` and `constant` interpreted as keywords or barewords?

[2019-06-12 02:20] jneen commented on #1164
Would this also be valid:

[code]

[2019-06-12 02:21] jneen commented on #1164
or more to the point,

[code]

[2019-06-12 02:31] pyrmont commented on #1164
@jneen It wants me to create an account to save a link to the code but the online editor [JDoodle](https://www.jdoodle.com/execute-perl-online) is compiling this and printing a reference to `$x`:

[code]

[2019-06-12 05:55] pyrmont commented on #945
@FalkF @julp I think PR #1172 fixes the problem but please let me know if you spot a mistake.

[2019-06-12 10:02] mojavelinux commented on #1154
The downside of this change is that it will cause a change in the output. In addition to escaping <, >, and &, CGI.escape_html also (unnecessarily) escapes " and ', which is only relevant for attribute values. (I really wish Ruby provided an accelerated method that only escaped the first three).

The alternative is `string.encode xml: :text` (which only does <, >, and &). (You  can make it match C

[2019-06-12 10:12] mojavelinux opened #1175 "Rouge may crash when formatting tokens if options are used with lexer instance"
Rouge will sometimes crash when formatting tokens that were created using a lexer instance that was used with options.

The problem stems from a typo in the Lexer#lex method. Here's the problematic line: https://github.com/rouge-ruby/rouge/blob/6d62ba17dd50cc7dbc94c59c753c82c13a48db6d/lib/rouge/lexer.rb#L421-L424

The code is not actually checking for the `:continue` option, which can send the app

[2019-06-12 10:14] bbatsov commented on #1175
I was just about report this! 😃  Thanks, @mojavelinux!

[2019-06-12 10:18] mojavelinux commented on #1175
Already have a fix too...because I was super curious ;)

[2019-06-12 12:26] ashmaroli commented on #1154
@mojavelinux  That's the reason I haven't submitted a PR for this yet.. :wink:

[2019-06-12 16:52] mojavelinux commented on #1154
I really wish CGI.escape_html wasn't so naive. I'm very glad to see that at least the `String#encode` method has an awareness of XML rules. It's just too bad that method wasn't accelerated too :/

[2019-06-12 20:00] #1175 closed

[2019-06-13 03:11] miparnisari commented on #294
@pyrmont can you close this?

[2019-06-13 03:15] miparnisari commented on #382
This looks OK in version 3.4.1.

![image](https://user-images.githubusercontent.com/5374887/59401217-d7dc1100-8d4e-11e9-9a0e-96871f625eea.png)

[2019-06-13 03:16] #294 closed

[2019-06-13 03:17] pyrmont commented on #382
@miparnisari Yeah, #383 was merged in. Thanks for rooting out these stale issues :)

[2019-06-13 03:17] #382 closed

[2019-06-13 03:24] miparnisari commented on #466
This works fine for me, but I don't understand @jneen's comment. The comment regexes look OK...

[code]

![image](https://user-images.githubusercontent.com/5374887/59401539-e4ad3480-8d4f-11e9-9888-5f68d411ab5e.png)

[2019-06-13 03:27] pyrmont commented on #466
@miparnisari So @jneen's saying that the comment regex (at the time anyway) needed to end in a newline to match. However, if a comment is the last line of a file, there is no new line and so it doesn't match.

This is no longer how the regex works:

https://github.com/rouge-ruby/rouge/blob/ea99dc41e1ceb3d0bb281318560af8ff516296e0/lib/rouge/lexers/csharp.rb#L47

And so you're not seeing the problem

[2019-06-13 03:27] #466 closed

[2019-06-13 03:30] miparnisari commented on #466
Ah! It was fixed in this commit: https://github.com/rouge-ruby/rouge/commit/d022e7ef26c9470ac4d8e2932038eb6bd4ebe314

[2019-06-13 20:45] mojavelinux opened #1186 "Lexer#lex warns even when no options are passed in"
Starting in 3.4.1, the following Rouge code generates a warning in verbose mode about the use of opts with Lexer.lex:

[code]

The following message is printed when invoked using `ruby -w`:

[code]

The problem is that Rouge itself is passing the options, not the user. See https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/lexer.rb#L426-L429.

This warning did not occur in 3.4.0, so it has

[2019-06-13 20:50] jneen commented on #1186
@pyrmont the current state of this method makes no sense to me - I'll open a PR that deals with all the cases shortly.

[2019-06-13 20:53] jneen commented on #1186
In the future let's be a little more cautious about merging things like #1175 - I think there was a lot of confusion generated from an unnecessary sense of urgency.

[2019-06-13 20:59] mojavelinux commented on #1186
To be fair, this was a really difficult situation to reason about, so it's likely a very rare occurrence. For me, the source of the confusion is that Lexer.lex and Lexer#lex use the options *very* differently. Lexer.lex passes the options to the Lexer constructor, while Lexer#lex uses options for an internal concern. This is an easy thing to confuse, IMO.

[2019-06-13 21:04] jneen commented on #1186
Exactly - this is why we are deprecating the use of the options hash for something internal. In the future we may support passing options to `#lex`, but this deprecation step is necessary first.

[2019-06-17 02:43] #945 closed

[2019-06-17 22:18] pyrmont opened #1194 "The keyword endfor is not properly matched in the Liquid lexer"
**Name of the lexer**
Liquid

**Online example**
[rouge.jneen.net](http://rouge.jneen.net) is currently not accepting new pastes at the moment.

**Code sample**
A sample of the code that produces the bug.

[code]

**Additional context**
This was discussed in PR #1192 (see [here](https://github.com/rouge-ruby/rouge/pull/1192#discussion_r294530920)).

[2019-06-17 22:25] ashmaroli commented on #1194
I think you should attach a "visual proof" to corroborate the complaint.

[2019-06-17 22:31] pyrmont commented on #1194
@ashmaroli Yeah. I need to work out what's wrong with [jneen.rouge.net](http://jneen.rouge.net/).

[2019-06-17 22:42] ashmaroli commented on #1194
What do the Heroku logs say?

[2019-06-19 12:09] ashmaroli opened #1201 "HTMLTable formatter doesn't handle folded lines (soft line-breaks) properly"
## Describe the bug

If I have a `div.container` with a fixed-width and nest the markup returned by Rouge's `HTMLTable` formatter within it, then `line_numbers` does not follow long lines that are folded onto the consecutive line.

## To Reproduce
1. Checkout the `v3.4.1` tag on the repository
[code]
2. Start `visual test app`:
[code]
3. Inspect `ruby` lexer:
[code]
4. See error

## Expected behav

[2019-06-19 14:13] stv0g commented on #870
Bump

[2019-06-19 14:20] gcapes commented on #913
@rouge-ruby
Any thoughts on this?

[2019-06-19 15:04] ananace commented on #901
This is still something that I'd like to have - and the PR to implement it has been open for quite a while

[2019-06-19 15:07] ananace commented on #901
( PR is #903 for reference )

[2019-06-19 15:15] fnkr commented on #754
\*additional activity\*

[2019-06-19 15:33] ice1000 commented on #709
Oh no! Please don't

[2019-06-19 15:50] cgonzalez commented on #820
This is not a "contribution" but a request. Please consideer to add syntax highlighting to Cisco configuration files.

[2019-06-19 16:23] ben-albrecht commented on #687
It looks like there's a guide here to follow:

https://www.rubydoc.info/github/rouge-ruby/rouge/file/docs/LexerDevelopment.md

[2019-06-19 16:39] mjpieters commented on #919
I'm surprised that feature / lexer request issues can be considered stale. Should this not be labelled with *lexer-request*?

[2019-06-19 16:51] ashmaroli commented on #919
Requests in FOSS repos can be considered stale if nobody volunteered to implement the request within the window period.

[2019-06-19 17:27] ashmaroli commented on #1201
Looks like this would need a new `Formatter` subclass to avoid changing existing output from `HTMLTable` formatter in Rouge 3.x..

[2019-06-19 18:07] pyrmont commented on #300
It looks like this issue was fixed by #385. Please let me know if that's not the case.

[2019-06-19 18:12] pyrmont commented on #392
Support for Hack has subsequently been added to Rouge. If there are any issues with the implementation, please let us know!

[2019-06-19 18:12] #392 closed

[2019-06-19 18:14] pyrmont commented on #17
This looks like it should have been closed when the SQL lexer was added.

[2019-06-19 18:14] #17 closed

[2019-06-19 18:14] glensc commented on #548
If maintainers don't care for 4 years, I don't care either. No need to threaten with a bot. just close. In fact, I don't even remember why I needed this.

[2019-06-19 18:21] NARKOZ commented on #229
‏‏‎

[2019-06-19 18:22] pyrmont commented on #548
@glensc Sorry that message sounded threatening, that definitely wasn't the intention :( I've only recently joined the project as a maintainer and set up Probot as a way to rationalise a lot of the outstanding issues (we have over 200! O_O).

I just had a look and this error is still there. I'll replace the `stale-issue` label with a `bugfix-request` label. The priority at the moment is to clear th

[2019-06-19 18:26] pyrmont commented on #229
@NARKOZ You commented here and removed the `stale-issue` label. Could you provide more detail on what the issue is at this point?

[2019-06-19 18:31] ashmaroli commented on #300
Correction: This was probably fixed by #301 instead of #385 which is a bug-report ticket

[2019-06-19 18:35] pyrmont commented on #135
@brodock It took five years but @jneen did add [something that lets you do this](https://github.com/rouge-ruby/rouge/pull/1152) :D

[2019-06-19 18:35] #135 closed

[2019-06-19 18:41] pyrmont commented on #309
This is being addressed by #650. I'm afraid we're behind in getting through the PRs but [we are making progress](https://github.com/rouge-ruby/rouge/commits/master).

[2019-06-19 18:50] pyrmont commented on #358
This was in the changelog but has now been added to the README.

[2019-06-19 18:56] pyrmont commented on #456
Sorry, this shouldn't have been marked as stale given the existing PR. Will be getting to this one as we work our way through the backlog >_<

[2019-06-19 19:00] pyrmont commented on #446
This was subsequently added to Rouge. Let us know if there's any issues with it's current implementation!

[2019-06-19 19:00] #446 closed

[2019-06-19 19:01] pyrmont commented on #445
This was subsequently added to Rouge. Please let us know if there are any issues with its implementation!

[2019-06-19 19:01] #445 closed

[2019-06-19 19:07] pyrmont commented on #345
It looks like Nix support was subsequently added to Rouge. Please let us know if there are any problems with its implementation.

[2019-06-19 19:07] #345 closed

[2019-06-19 19:10] glensc commented on #548
looks like there are already attempts to solve: #645, however that solution seems wrong and short-sighted, only blocks with `<script type="javascript">` should get rendered as javascript, everything else should be left unformatted. and in the future more types detected with appropriate hiliting, if they became common.

[2019-06-19 19:13] pyrmont commented on #548
Thanks for checking out #645. Your comment's quite helpful!

[2019-06-19 19:14] brodock commented on #135
awesome ❤️

[2019-06-19 19:20] pyrmont commented on #919
@mjpieters Yeah, I'm afraid our labelling of old issues is pretty spotty. I recently joined Rouge as a maintainer and make sure new ones are labelled correctly but my focus has been on getting through the PRs to date.

I would also note that @ashmaroli is right. We do consider issues as stale if there's no activity for a year. I hope that once we get through the backlog of PRs, we can start lookin

[2019-06-19 19:22] pyrmont commented on #687
@ben-albrecht Yeah, I added that shortly after coming on board as a maintainer. We have a PR (#1145)   with fixes that need to be added but hopefully that's helpful.

[2019-06-19 19:24] pyrmont commented on #398
This was subsequently added to Rouge. If there are issues with its implementation, please let us know!

[2019-06-19 19:24] #398 closed

[2019-06-19 19:24] mojavelinux commented on #595
I don't see a reason for this to stay open unless someone is actually going to do it. While I certainly could, I don't have the time to work on it right now.

If someone is interested, you could also use the simple support in highlight.js to get started. See https://github.com/highlightjs/highlight.js/blob/master/src/languages/asciidoc.js

[2019-06-19 19:32] pyrmont commented on #521
This works for me when running `bundle exec pry` in a clone of the repository. Are you still seeing this problem, @ian-kelling?

[2019-06-19 19:34] pyrmont commented on #577
Sorry, this shouldn't have been marked as stale given the outstanding PR. Will be getting to that one as we work through the backlog. There's quite a bit there but [we are making progress](https://github.com/rouge-ruby/rouge/commits/master)!

[2019-06-19 19:39] pyrmont commented on #432
Hi, I recently joined the project as a maintainer. Looking through the merged PRs, it appears that there are a number of ES6-specific PRs that have been merged in.

Could someone with more knowledge of JavaScript than me let me know where we are with this support?

[2019-06-19 19:44] pyrmont commented on #522
@ian-kelling Thanks for this. One of the things I'm working towards is better documentation and this is a good example of what should go in there. Much appreciated!

[2019-06-19 20:00] pyrmont commented on #820
@cgonzalez Yeah, sorry that wording wasn't great :(

As an open source project, Rouge adds new features from the contributions of its community. There really isn't any particular person or team that could 'consider' this or not.

If there's a highlighter you'd like to see, feel free to make a PR submitting one! We have quite a backlog we're working through but priority is being given to newer PRs.

[2019-06-19 20:05] pyrmont commented on #709
@ice1000 Thanks for letting us know this is something that's still desired. Unfortunately, I should probably warn that Rouge adds features from the contributions of its members and so whether support for this is added or not really depends on what's submitted. Of course, since Rouge is open source, the good news is that the person to submit the lexer could be you!

When I became a maintainer I put

[2019-06-19 20:10] pyrmont commented on #754
Hi :) I just wanted to note that Rouge depends for its feature development on the submissions of its community. There's no particular person or team to 'consider' supporting a particular language; merely the PRs we get from contributors.

The good news is that since Rouge is open source, anyone can contribute. We have quite a backlog of PRs but we give priority to the newer ones so if you submit a

[2019-06-19 20:11] pyrmont commented on #737
Sorry, this has an associated PR open and shouldn't have been marked as stale. That's been fixed.

[2019-06-19 20:15] pyrmont commented on #753
This was subsequently added.

[2019-06-19 20:15] #753 closed

[2019-06-19 20:21] pyrmont commented on #803
@doodlesbykumbi [An escape lexer](https://github.com/rouge-ruby/rouge/pull/1152) has recently been added by @jneen. It looks to me like that's really what you want. The text you're talking about escaping is not shell input text but output text (which isn't really what a lexer is designed to tokenise).

[2019-06-19 20:21] #803 closed

[2019-06-19 20:23] pyrmont commented on #412
Sorry, this issue has an associated PR. It shouldn't have been marked as stale. That's been fixed.

[2019-06-19 20:24] pyrmont commented on #784
Sorry, Probot was a little eager to mark this as stale. It has an associated PR and should have been left as-is. I've fixed this now.

[2019-06-19 20:32] pyrmont commented on #526
This has been subsequently added to Rouge. Please let us know if there are any bugs in its implementation!

[2019-06-19 20:32] #526 closed

[2019-06-19 20:33] pyrmont commented on #786
@neewy Sorry, it's taken a very long time but I've just updated the list. Should be fixed now!

[2019-06-19 20:33] #786 closed

[2019-06-19 20:37] pyrmont commented on #617
Hi everyone :) @jneen added a special [escape lexer](https://github.com/rouge-ruby/rouge/pull/1152) recently that I _think_ might allow this using HTML. I'd suggest checking that out :)

[2019-06-19 20:39] #505 closed

[2019-06-19 20:43] pyrmont commented on #801
@martinkadlec0 The bug no longer looks like it's there when I check on [rouge.jneen.net](http://rouge.jneen.net) (sorry, we've exhausted the free space on Heroku so I'm not currently able to save pastes). Are you still seeing the bug?

[2019-06-19 20:49] pyrmont commented on #810
@mjclemente Is this still an issue for you? You should be able to tweak the display by changing your CSS. If you have a look at [rouge.jneen.net](http://rouge.jneen.net) and inspect the output with your input you can see there are different HTML tags used to wrap the different components (sorry, saved pastes aren't working at the moment so I can't link directly).

That said, you might be having an

[2019-06-19 20:53] pyrmont commented on #812
@kkopper Is this still broken for you? I had only a quick look but it looked all right to me.

[2019-06-19 20:54] pyrmont commented on #440
The Jinja lexer was subsequently added to Rouge. Please let us know if there are any problems with it!

[2019-06-19 20:54] #440 closed

[2019-06-19 20:58] pyrmont commented on #901
I'm sorry, this shouldn't have been marked as stale given the associated PR. Fixed it now (and we're slowly [getting through the backlog of PRs](https://github.com/rouge-ruby/rouge/commits/master) so this should be reviewed soon!).

[2019-06-19 20:59] mjclemente commented on #810
Thanks for checking in on this and all the work you're doing on this project.

The formatting in the newer versions, as seen on rouge.jneen.net, appears better than what I'm getting. So, as you said, at this point the real issue is the outdated Github Pages dependency. I'll close this out.

[2019-06-19 20:59] #810 closed

[2019-06-19 21:06] pyrmont commented on #913
@gcapes Hmmm... seems that although the keywords are defined (see below) they're never used in any of the rules:

https://github.com/rouge-ruby/rouge/blob/a03a3b302875bd70256fce1564944b960e3bd982/lib/rouge/lexers/make.rb#L14-L16

This is clearly a bug in the Make lexer. I don't mean to be the bearer of bad news but I'm afraid that it's unlikely this will get fixed soon without someone submitting a

[2019-06-19 21:07] pyrmont commented on #913
Oh, and for future testing, here's the code I used to test:

[code]

[2019-06-19 21:08] pyrmont commented on #810
No worries. And I'm sorry not to have had a more satisfying answer :(

I will say that one of my goals with the project is that once we have all our ducks in order over here we can have a look at what's causing GitHub to stay on version 2. That seems less than ideal for everyone involved.

[2019-06-19 21:13] pyrmont commented on #870
Thanks for letting us know this is still desired!

Unfortunately, while I wish I had a more satisfying response, I'm sorry to say that this might remain outstanding for some time :( Rouge depends for its feature development on contributions from its community. If you'd like to see a syntax supported, the best thing to do is submit a PR with your new lexer.

When I became a maintainer, I wrote [a g

[2019-06-19 21:15] pyrmont commented on #472
Elm was subsequently added to Rouge. If there are any bugs in its implementation, please let us know!

[2019-06-19 21:15] #472 closed

[2019-06-19 21:18] pyrmont commented on #833
This should have been closed when the PR was merged. Sorry for the message about the issue being marked stale! I've closed it now :)

[2019-06-19 21:18] #833 closed

[2019-06-19 21:20] pyrmont commented on #841
I can confirm this bug is still there.

[2019-06-19 21:21] pyrmont commented on #847
Sorry, marking this as stale was a mistake. The issue has an associated PR and should remain open. I'm sorry it's taking a while but we are slowly making our way through the backlog and will get to #848.

[2019-06-19 21:24] pyrmont commented on #850
This shouldn't have been marked stale as it has an associated PR (#852). Sorry about that :(

[2019-06-19 21:26] pyrmont commented on #857
I'm sorry, this has an associated PR and shouldn't have been marked as stale. I've fixed it. (We are slowly getting through the backlog of PRs and will get to it!)

[2019-06-19 21:28] pyrmont commented on #860
Sorry, this has an associated PR (#893) and should not have been marked as stale. That's been fixed.

[2019-06-19 21:30] pyrmont commented on #865
@splincode I don't think that syntax is valid HTML. That's why it's being highlighted as an error by Rouge.

[2019-06-19 21:39] pyrmont commented on #824
Sorry, this has an associated PR and should not have been marked as stale. The PR is currently under review and should hopefully be merged soon :)

[2019-06-19 21:41] pyrmont commented on #881
Support for `raw` has been added via #1003. Please let us know if there are any problems with it!

[2019-06-19 21:41] #881 closed

[2019-06-19 21:46] pyrmont commented on #887
@Draio An [escape lexer](https://github.com/rouge-ruby/rouge/pull/1152) has recently been added that can allow you to interrupt the syntax highlighting. There are two problems:

1. while this has been added to Rouge as of 3.4.0, GitHub Pages is still on [version 2.2.1](https://pages.github.com/versions/) (as of the time of writing); and
2. syntax escape like this represents a security risk and may

[2019-06-19 21:46] #887 closed

[2019-06-19 21:49] pyrmont commented on #348
Sorry, this has an associated PR and should not have been closed. That's been fixed.

[2019-06-19 21:50] pyrmont commented on #895
Sorry, this has an associated PR and should not have been marked as stale. Fixed now.

[2019-06-19 21:53] pyrmont commented on #929
@dblessing I don't think it should be a problem if samples include an error. Not sure if @jneen or @gfx feel differently.

[2019-06-19 21:55] #930 closed

[2019-06-19 22:53] TWiStErRob commented on #361
@jneen if rouge is outputting the language class for unknown languages, it should be possible to output it for known as well for consistency. Who's generating the wrapping div/code/pre?

[2019-06-19 22:59] pyrmont commented on #361
@TWiStErRob Without more information, it's difficult to know who is producing the HTML. Rouge provides formatters but it's possible that Jekyll is providing its own. Do you have the code you're using accessible somewhere? That would make it easier to examine.

As a point of comparison, I use Jekyll for my blog and as you can see in [this post](https://articles.inqk.net/2019/05/06/how-to-time-machi

[2019-06-19 23:15] #358 closed

[2019-06-20 00:06] jneen commented on #919
This also now exists with the more flexible `console` lexer.

[2019-06-20 00:08] pyrmont commented on #919
@mjpieters That's good news from @jneen! Let us know if there are any problems with it :)

[2019-06-20 00:08] jneen commented on #919
[code]

[2019-06-20 00:08] jneen commented on #919
so for python you might specify `console?lang=python&prompt=>>>`

[2019-06-20 00:50] TWiStErRob commented on #361
Hmm, that's interesting @pyrmont, looks like it's been indeed fixed. But I'm not sure by whom or where.
My latest website indeed has all the `language-*` classes, but I went back to the timestamp of my [+1 comment above](https://github.com/rouge-ruby/rouge/issues/361#issuecomment-184401867) in my repo (https://github.com/TWiStErRob/twisterrob.github.io/commit/84375d4ed40922323d5062ced66ce595b83bf2

[2019-06-20 01:03] pyrmont commented on #361
Hmmm, yeah, not sure. Good it's resolved in the end, though! I'll close this one now :)

[2019-06-20 01:03] #361 closed

[2019-06-20 01:33] MaxMansfield commented on #183
Wow, I feel terrible that I completely forgot about this. I must have missed the initial email for your response. Not that it matters now but, yes, the issue is resolved.

[2019-06-20 02:11] pyrmont commented on #183
@MaxMansfield Don't feel bad—that's great it's fixed :) Thanks for getting in touch!

[2019-06-20 02:11] #183 closed

[2019-06-20 03:59] puggan commented on #338
Looks like it's solved already.

[2019-06-20 03:59] #338 closed

[2019-06-20 06:29] NARKOZ commented on #229
I can't see solarized in themes https://github.com/rouge-ruby/rouge/tree/master/lib/rouge/themes

[2019-06-20 07:05] pyrmont commented on #229
@NARKOZ Thanks, got it :)

I realise it's been a long time since your original issue and so this will be disappointing but at this point Rouge relies primarily on its community for feature development and so absent a pull request, this will most likely remained unfulfilled.

That said, we do really welcome contributions! While we're currently working through the backlog of PRs, we give priority to

[2019-06-20 07:08] nguillaumin commented on #947
I think it would still bring value to have this page in the wiki.

[2019-06-20 07:15] pyrmont commented on #947
@nguillaumin Thanks for replying and letting us know this is still active :)

I'm actually looking to move things from the wiki to documents in the `/docs` directory. Would you be interested in forking the repo, creating a branch, putting your instructions inside the `/docs` directory and then submitting a PR back? That would be helpful for me and would ensure your work has the appropriate credit

[2019-06-20 07:35] Draio commented on #887
No problem.

Thank you for your work
Dario

[2019-06-20 08:01] #572 closed

[2019-06-20 10:20] ashmaroli commented on #1201
@jneen Can I get your thoughts on this..?

[2019-06-20 13:30] jneen commented on #1201
We would need a new formatter subclass with a completely different approach

[2019-06-20 13:36] ashmaroli commented on #1201
I went ahead to wrote a subclass that's hybrid between current `HTMLTable` and `HTMLLinewise`. It works as I expect but falls short *visually* because of the following code in the library:
https://github.com/rouge-ruby/rouge/blob/ab369162fe1c2b515bf3879ec15d6531c28ef43b/lib/rouge/theme.rb#L164-L174

[2019-06-20 13:43] gmckeown opened #1208 "PowerShell lexer highlights built-in names used as hashtable keys"
**Name of the lexer**
PowerShell

**Online example**
Not currently able to do this due to an error on the rouge.jneen.net site.

**Code sample**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/22765233/59853696-4e899780-9369-11e9-9a37-2071d37957e2.png)

**Additional context**
I believe the lexer is not recognising the hashtable definition construct ```@{ }```, inside wh

[2019-06-20 14:15] gmckeown opened #1209 "PowerShell Lexer -- built-ins definition can be simplified"
PowerShell doesn't have a fixed set of built-in functions; rather, it uses cmdlets that follow a ```Verb-Noun``` naming format. The PowerShell lexer currently identifies each of the standard cmdlets by name, which amounts to some 1900 built-ins. This won't correctly highlight any other cmdlet that correctly follows the ```Verb-Noun``` format.

One option would be to highlight anything that matches

[2019-06-20 14:20] aaroneg commented on #1209
You're certainly welcome to give it a shot, just keep in mind that not even
Microsoft sticks to their approved verb list. The version I put forward was
only ever meant to be quick and dirty since creating lexers isn't really a
skill of mine. I wonder if anything can be gained by seeing how the vscode
ps extension lexer works.

On Thu, Jun 20, 2019, 9:15 AM Gordon Mckeown <notifications@github.com>

[2019-06-20 14:29] martinkadlec0 commented on #801
On rouge.jneen.net it works fine for me as well. It is still broken on our gitlab but it uses rouge-3.3.0 so it might have been fixed since then.

[2019-06-20 14:47] gmckeown commented on #1209
@aaroneg Indeed, there are some non-standard prefixes in my pull-request, and they're for standard "special-case" cmdlets (e.g. ```Sort-Object``` and ```Tee-Object```)!! Also, a few to cover cmdlets that are in the current list, despite not using standard verbs (e.g. ```Apply-WindowsUnattend```).

Your quick'n'dirty lexer has been doing a pretty decent job for a few years now, with only a few twea

[2019-06-20 14:56] pyrmont commented on #801
B'oh—it was _my_ commit that fixed this and I somehow forgot I'd done it! See [here](https://github.com/rouge-ruby/rouge/pull/1123/). It was an oversight on my part not to close this issue at the time of the merge.

[2019-06-20 14:56] #801 closed

[2019-06-20 15:20] pyrmont commented on #1208
I agree. The lexer needs a new rule in here somewhere, I think:

https://github.com/rouge-ruby/rouge/blob/ab369162fe1c2b515bf3879ec15d6531c28ef43b/lib/rouge/lexers/powershell.rb#L650-L665

[2019-06-20 15:27] aaroneg commented on #1209
Looks like this is the newest release : https://github.com/PowerShell/vscode-powershell/releases/tag/v2019.5.0

[2019-06-20 15:34] aaroneg commented on #1209
So it looks like it's a seperate project: https://github.com/powershell/editorsyntax

[2019-06-20 15:35] aaroneg commented on #1209
And here is the file that makes the rules, it looks like:
https://github.com/PowerShell/EditorSyntax/blob/master/PowerShellSyntax.tmLanguage

[2019-06-20 15:42] gmckeown commented on #1209
That would make sense -- VSCode grammar files are [in TextMate format](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#textmate-grammars).

[2019-06-20 15:54] aaroneg commented on #1209
Interesting. I'm not sure how to make a good development environment for this - I only use rouge through gitlab. I think the first time i'd just take the gem and smash it into a gitlab omnibus install. Might do that again.

[2019-06-20 16:16] martinkadlec0 commented on #801
Great, thank you!

[2019-06-20 16:33] gmckeown commented on #1209
There is a way to test Rouge directly I think -- granted it has been a few years since I last did any work on it, but I'm pretty sure there was a way to generate a HTML page directly from Rouge on the command-line, thus avoiding the need to mess with GitLab...

Yeah, looks like it's [explained in the Rouge Wiki](https://github.com/rouge-ruby/rouge/wiki/Adding-a-new-lexer).

[2019-06-20 21:52] aaroneg commented on #1209
I've started here : https://github.com/aaroneg/rouge/tree/feature/upgrade-powershell
Have some basics done but not much. Could probably use help understanding the states.

[2019-06-20 23:00] gmckeown commented on #1209
Does this help? https://www.rubydoc.info/github/rouge-ruby/rouge/file/docs/LexerDevelopment.md

[2019-06-21 00:01] aaroneg commented on #1209
sortof. working through it by understanding the shell lexer a little better.

[2019-06-21 01:05] pyrmont commented on #1209
Hi guys :) Looks like you're basically past this point already but I wrote up a new document explaining how to set up your development environment. It's not yet merged into master but you can read the first draft [here](https://github.com/pyrmont/rouge/blob/87ffad9e8974bc83d653f653041a42a29b9a8ab7/docs/DevEnvironment.md). It's PR #1212 so if you have any comments on it, please put them there :)

[2019-06-21 01:35] pyrmont commented on #1209
In terms of the lexer design itself, the basic idea of the Shell lexer (of which the PowerShell lexer is a subclass) is that you have the 'basic' commands (covered by the rules in the `:basic` state) and 'data' (covered by the rules in the `:data` state).

The PowerShell lexer builds on top of the Shell lexer by adding rules to `:basic` (it puts these rules at the front by `prepend`ing then) and b

[2019-06-21 02:20] aaroneg commented on #1209
Thanks Michael!
That does provide some clarity. I wrote the powershell lexer long enough
ago that I forgot most of it.

Mostly the stuff I needed today was related to how to create a new state,
mix other states in, and exit cleanly. I used the shell lexer pretty
heavily for examples. I think I came up with some acceptable solutions.
Have a look at the PR referenced in the thread and see if you agr

[2019-06-21 03:13] aaroneg commented on #640
This was addresses by #660 and can be closed.

[2019-06-21 03:18] #640 closed

[2019-06-22 12:56] mjpieters commented on #919
This works!

I had to use `console?lang=python,prompt=>>>,...` because Python has a continuation prompt, but clearly the `console` lexer supports this.

This clearly covers my needs, and is a much better solution than a dedicated lexer just for Python consoles. This is the first time I've come across Rouge's support for configurable and nestable lexers, and I *like* this idea, a lot!

There is a m

[2019-06-22 12:56] #919 closed

[2019-06-22 15:33] nguillaumin commented on #947
Done.

[2019-06-23 04:32] #1186 closed

[2019-06-24 10:41] kkopper commented on #812
Quickly checking, the following line is still not highlighted correctly:
[code]

[2019-06-25 04:31] pyrmont opened #1217 "Remove hard-coded CSS for tables"
**Is your enhancement request related to a problem? Please describe.**
Rouge 3.0 hard codes CSS for certain table elements into the theming output. Specifically:

https://github.com/rouge-ruby/rouge/blob/ab369162fe1c2b515bf3879ec15d6531c28ef43b/lib/rouge/theme.rb#L164-L174

**Describe the solution you'd like**
Rouge should not output these CSS rules. It should be left for the stylesheet.

**Additi

[2019-06-25 09:32] #812 closed

[2019-06-25 11:43] ashmaroli opened #1218 "Inconsistent constructor API for formatters"
## Summary

The various formatters are initialized inconsistently and therefore a downstream factory method needs to be unnecessarily complicated.

Formatter class | constructor
--- | ---
**`Formatter`**    | **`initialize(opts = {})`**
**`HTML`**         | **`initialize(opts = {})`**
**`HTMLInline`**   | **`initialize(theme)`**
**`HTMLLegacy`**   | **`initialize(opts = {})`**
**`HTMLLinewise`** |

[2019-06-25 20:48] jpmarceau opened #1221 "Powershell Error in 3.5.0"
I used to be able to highlight powershell scripts but with the 3.5.0 update this afternoon, even very simple code samples now seem to fail. Example:

[code]

00:02:39.671  [31m  Conversion error: Jekyll::Converters::Markdown encountered an error while converting 'collections/mydocument.md':[0m
00:02:39.671  [31m                    unknown state: :paren[0m
00:02:39.671  jekyll 3.7.0 | Error:  u

[2019-06-25 21:17] pyrmont commented on #1221
@jpmarceau Sorry about that. I'm pretty sure this is from a change to the Shell superclass. I think I know how to fix the PowerShell lexer to use the new states. I'll test and update.

[2019-06-25 21:31] pyrmont commented on #1221
@jpmarceau The problem was in #1216. The PowerShell lexer needed to be updated to use the new `:paren_interp` state. I've got a fix coming.

[2019-06-25 21:32] jpmarceau commented on #1221
@pyrmont thanks for the quick follow-up!

[2019-06-25 21:39] #1221 closed

[2019-06-25 22:01] pyrmont commented on #1221
@jpmarceau v3.5.1 has now been pushed to RubyGems and should fix this. Sorry about the trouble!

[2019-06-26 03:43] #1194 closed

[2019-06-26 07:25] pnlph opened #1226 "Rouge lexer request for agda"
Hi, i see that you already support haskell in rouge.

Maybe it would be not so difficult to support also Agda, a dependently typed functional programming language and proof assistant.

There is already a [pigments class](http://pygments.org/docs/lexers/) `pygments.lexers.haskell.AgdaLexer`

[2019-06-26 07:38] pyrmont commented on #1226
Thanks for the interest in Rouge, @pnlph :)

There's an existing request for Agda support (PR #709) but I'm afraid this is the kind of thing where we're largely dependent on the community. If you'd like to try your hand at making a lexer for Agda, have a look at [the lexer development guide](https://www.rubydoc.info/github/rouge-ruby/rouge/master/file/docs/LexerDevelopment.md).

I'll close this is

[2019-06-26 07:38] #1226 closed

[2019-06-26 08:00] pnlph commented on #709
There is already a [pygments class](https://github.com/mhaberler/pygments/blob/master/pygments/lexers/haskell.py), but also for Idris and other haskell-related languages. Is this helping for having a new lexer or it must be built from scratch?

[code]

[2019-06-26 08:50] pyrmont commented on #709
@pnlph The Pygments class is helpful as a guide but it's written in Python and Rouge is a Ruby library. It doesn't by itself provide a means to add this functionality; it merely could assist someone writing a lexer in Ruby.

[2019-06-28 01:48] #966 closed

[2019-06-28 01:48] #1208 closed

[2019-06-28 01:48] #1209 closed

[2019-06-28 02:10] aaroneg commented on #1025
@pyrmont was this one fixed by that PR as well?

[2019-06-28 03:46] pyrmont commented on #966
@markroloff I'm sorry this took so long to address but we've updated Rouge with a new PowerShell lexer. The example you gave above lexes correctly now but if you see any problems, please let us know!

[2019-06-28 07:35] pyrmont commented on #1025
@aaroneg Thanks for pinging me!

@vexx32 This should be fixed with the new PowerShell lexer that was merged via #1213. Your examples look good to me but please let us know if you're still having problems. Sorry it took so long! >_<

[2019-06-28 07:35] #1025 closed

[2019-06-28 07:38] pyrmont commented on #1041
@SetTrend Sorry, this was marked as being closed by #1213 but that was a mistake. I'm reopening while having a look more closely at this issue.

[2019-06-28 10:12] vexx32 commented on #1025
Not at all, thank you guys for taking care of it! :blush:

[2019-06-29 00:19] pyrmont opened #1230 "Use Similarity tester to fail builds"
**Is your enhancement request related to a problem? Please describe.**
Sometimes lexers that are submitted are created by copying and pasting existing lexers. While this is not a bad way to begin development, a lexer should not be sufficiently differentiated from existing lexers. In #1206, @jneen added a mechanism to test the similarity of lexers.

**Describe the solution you'd like**
As part of T

[2019-06-29 00:25] pyrmont opened #1231 "Add instructions on custom settings for Rack"
**Is your enhancement request related to a problem? Please describe.**
By default, running `rackup` to load the visual testing app will make a web server available to local clients. If you want to access the server over a network, you need to bind the server to `0.0.0.0`.

**Describe the solution you'd like**
Update the Rouge documentation to explain how to customise the server settings.

**Additi

[2019-06-29 00:39] SetTrend commented on #1041
Thanks, @pyrmont ! I'm looking forward to your findings.

[2019-06-30 01:36] pyrmont commented on #1041
@SetTrend I think I've fixed it now. Let me know if the latest PR has it working right for you.

[2019-06-30 18:34] pyrmont opened #1236 "Better explain how to run single tests"
**Describe the error**
The README refers to running single tests but it's not clear from the instructions precisely how to do this.

**Affected document**
[README.md](https://github.com/rouge-ruby/rouge/blob/00e472f433908d2f681c07f27b5316da5beadf9f/README.md)

**Additional context**
This was discussed in #1233.

[2019-06-30 18:55] pyrmont opened #1237 "Fix inconsistent use of template tag highlighting"
**Name of the lexer**
Handlebars, JSP, Smarty (possibly others).

**Online example**
N/A

**Code sample**
N/A

**Additional context**
The above-mentioned lexers are template lexers that do not use `Comment::Preproc` as the token for their template tags. This was identified by @miparnisari in [this comment](https://github.com/rouge-ruby/rouge/pull/838#discussion_r298787821).

[2019-07-01 09:15] miparnisari commented on #1237
Note that `Comment::Preproc` prints text in italics which might be undesirable. E.g. if you try to highlight `<&|` it will look like `<&/`

[2019-07-01 09:25] pyrmont commented on #1237
As noted in the discussion in the PR, the token doesn't impact the way the text appears, that's the stylesheet. Any token will have the problem you're describing if the CSS rule for that token causes it to display with italics.

[2019-07-01 12:36] saveman71 commented on #307
Commenting to keep this open! I just had the need of `ejs` highlighting for a blog article i'm writing using jekyll. Hopefully it can happen one day!

[2019-07-01 15:20] jneen commented on #307
I would like to accomplish this more or less generically, something along the lines of

[code]

[2019-07-01 16:05] saveman71 commented on #307
Just adding a note that javascript inside `ejs` tags may not be "syntactically" correct on their own. The concatenation of all the tags should be, however.

Example (from https://ejs.co/):

[code]

I don't know how this affects the javascript lexer (i.e. it should not highlight the first `{` in red because it "looks unmatched").

[2019-07-01 16:08] jneen commented on #307
That's handled generically in other lexers by using the internal `continue_lex` API (accessible through the DSL via `delegate`). Also, lexing does not usually check for things like balanced braces.

[2019-07-01 20:09] ashmaroli opened #1241 "Ruby lexer does not detect `defined?` as a keyword for parenthesized argument"
### **Name of the lexer**
ruby

### **Code sample**

[code]

### **Screenshots**

![Ruby Visual Test](https://user-images.githubusercontent.com/12479464/60463297-3703b600-9c69-11e9-9657-db31b0547515.png)

### Additional context

Unlike other keywords which are usually flanked by whitespace, `defined?` is mostly used with parentheses.

[2019-07-01 20:12] ashmaroli commented on #1241
Note: `super` is another keyword that may also be called with parenthesis, albeit resulting in different semantics.

[2019-07-02 09:28] #1236 closed

[2019-07-02 18:01] jneen commented on #1217
This will need to be on a major version release, as it will definitely break styling on people's websites.

[2019-07-03 14:28] #155 closed

[2019-07-03 14:28] #832 closed

[2019-07-03 14:28] #855 closed

[2019-07-03 14:28] #889 closed

[2019-07-03 14:28] #914 closed

[2019-07-03 14:28] #933 closed

[2019-07-03 14:28] #944 closed

[2019-07-03 15:28] #557 closed

[2019-07-03 15:28] #742 closed

[2019-07-03 15:28] #740 closed

[2019-07-03 15:28] #747 closed

[2019-07-03 15:28] #745 closed

[2019-07-03 15:28] #752 closed

[2019-07-03 15:28] #726 closed

[2019-07-03 15:28] #758 closed

[2019-07-03 15:28] #769 closed

[2019-07-03 15:28] #766 closed

[2019-07-03 15:28] #790 closed

[2019-07-03 15:28] #802 closed

[2019-07-03 15:28] #813 closed

[2019-07-03 15:28] #821 closed

[2019-07-03 16:25] ashmaroli commented on #155
@pyrmont This is still reproducible on current `master`

[2019-07-03 16:26] pyrmont commented on #155
@ashmaroli Yeah, the issues are closed by Probot if there's no activity for a year. It doesn't necessarily mean the problem is no longer reproducible.

[2019-07-03 16:28] #507 closed

[2019-07-03 16:28] #393 closed

[2019-07-03 16:28] #513 closed

[2019-07-03 16:28] #318 closed

[2019-07-03 16:28] #434 closed

[2019-07-03 16:28] #596 closed

[2019-07-03 16:28] #638 closed

[2019-07-03 16:28] #403 closed

[2019-07-03 16:28] #635 closed

[2019-07-03 16:28] #677 closed

[2019-07-03 16:28] #711 closed

[2019-07-03 16:28] #720 closed

[2019-07-03 16:28] #527 closed

[2019-07-03 16:28] #535 closed

[2019-07-03 16:28] #547 closed

[2019-07-03 16:28] #575 closed

[2019-07-03 16:28] #546 closed

[2019-07-03 16:28] ashmaroli commented on #155
I know that. I left a comment as a reminder so that you may reopen if you wish

[2019-07-03 16:32] pyrmont commented on #155
@ashmaroli Cheers!

[2019-07-03 17:12] NobbZ commented on #829
Sorry, I missed this when stale-bot tagged this issue.

The issue seems to be still there.

[2019-07-03 17:14] pyrmont commented on #829
No worries :)

[2019-07-03 17:28] #373 closed

[2019-07-03 17:28] #340 closed

[2019-07-03 17:28] #38 closed

[2019-07-03 17:28] #117 closed

[2019-07-03 17:28] #287 closed

[2019-07-03 17:28] #464 closed

[2019-07-03 17:28] #346 closed

[2019-07-03 17:28] #461 closed

[2019-07-03 17:28] #458 closed

[2019-07-03 17:28] #429 closed

[2019-07-03 17:28] #418 closed

[2019-07-03 17:28] #478 closed

[2019-07-03 17:28] #474 closed

[2019-07-03 17:28] #437 closed

[2019-07-03 17:28] #462 closed

[2019-07-03 17:28] #506 closed

[2019-07-03 17:28] #408 closed

[2019-07-03 17:28] #407 closed

[2019-07-03 17:28] #509 closed

[2019-07-03 17:28] #511 closed

[2019-07-03 18:28] #25 closed

[2019-07-03 18:28] #50 closed

[2019-07-03 18:28] #58 closed

[2019-07-03 18:28] #51 closed

[2019-07-03 18:28] #78 closed

[2019-07-03 18:28] #149 closed

[2019-07-03 18:28] #160 closed

[2019-07-03 18:28] #154 closed

[2019-07-03 18:28] #179 closed

[2019-07-03 18:28] #189 closed

[2019-07-03 18:28] #192 closed

[2019-07-03 18:28] #284 closed

[2019-07-03 18:28] #322 closed

[2019-07-03 18:28] #359 closed

[2019-07-03 19:28] #76 closed

[2019-07-04 05:55] psifertex opened #1249 "minimum lines before enabling line numbering"
I'm interested in a feature where I could enabling line numbers only for snippets longer than some minimum number of lines. I'd like to be able to manually use block codes and for small snippets (one or two lines in my case) not enable line numbers and automatically enable them for larger snippets.

This is of course manually solvable by specifying lineos on each block (or at least it will be for

[2019-07-04 07:47] jneen commented on #1249
This sort of feature seems more appropriate for Jekyll than for Rouge.

[2019-07-04 10:01] ashmaroli commented on #1154
Closing this for now since quotes shouldn't be escaped in Rouge 3.x and because the issue has been partially optimized via https://github.com/rouge-ruby/rouge/commit/43615a64746f35ebffee82f8fd57b515feae689f

[2019-07-04 10:21] ashmaroli commented on #1249
@psifertex How do you write code-blocks in your pages? If you're using triplets (i.e. enclosed within pairs of either <code>\`\`\`</code> or `~~~`), then the rendering would be handled by `kramdown`. Or if you use the Liquid tag,
`{% highlight %}`, then the rendering is handled by Jekyll itself.

Since Rouge will only provide formatters for a limited set of basic use-cases, the best route would be

[2019-07-04 11:24] noraj commented on #855
Sadly.

[2019-07-04 11:26] ashmaroli commented on #855
@noraj Were you able to make any progress on this?
What's the current status of highlighting in YARD..?

[2019-07-04 14:25] psifertex commented on #1249
I'm usually using pairs of triple backticks, so I will go follow up with kramdown. Thanks for the quick response!

[2019-07-04 14:25] #1249 closed

[2019-07-04 23:47] jneen commented on #1154
This is still the approach I would like to take for Rouge 4.x. We did once escape quotes as well - and while there's not strictly a need for it, it can be useful in some cases.

[2019-07-05 00:04] mojavelinux commented on #1154
Which cases?

[2019-07-05 03:29] jneen commented on #1154
In case you're passing formatted content in a `data-...="..."` attribute, for example.

[2019-07-05 03:32] ashmaroli commented on #1154
@jneen Can you add this to a `Rouge 4.0` Milestone so that it can be easily accessed in the future.
Thanks

[2019-07-05 07:27] mojavelinux commented on #1154
@jneen Thanks for that information. I agree it would be useful for that case.

[2019-07-05 18:29] noraj commented on #855
@ashmaroli I'm not using Yard very often, so I never started the dev of this feature.

[2019-07-08 06:46] #1241 closed

[2019-07-08 23:46] #1041 closed

[2019-07-09 04:31] #1201 closed

[2019-07-10 19:49] aldreth opened #1260 "Add async & await to rust lexer"
The `async` & `await` keywords have been added to rust (see http://smallcultfollowing.com/babysteps/blog/2019/07/08/async-await-status-report-2/).

[2019-07-10 22:51] gferreira commented on #1063
OpenTypeFeature lexer #864 should also be ready to merge… thanks!

[2019-07-10 23:55] #1260 closed

[2019-07-11 00:42] pyrmont commented on #1063
@gferreira I've reviewed that PR (sorry, it fell victim to the fact I'm going through them in reverse chronological order) and have left some feedback for the author. Will wait to see how they respond.

[2019-07-11 18:47] #824 closed

[2019-07-11 19:24] pyrmont opened #1262 "Allow HOCON files to register the *.conf filename glob"
**Is your enhancement request related to a problem? Please describe.**
The HOCON lexer should register the `*.conf` filename glob.

**Describe the solution you'd like**
It should be possible to register `*.conf* filename globs to the HOCON lexer while not conflicting with that glob also being registered by the Conf lexer.

[2019-07-12 01:14] pyrmont commented on #955
I think the way to fix this might be to have a rule like [this one](https://github.com/rouge-ruby/rouge/pull/1253#discussion_r301955555) from the HOCON lexer.

[2019-07-17 01:28] #1112 closed

[2019-07-17 01:55] pyrmont commented on #1112
Oops, forgot to close this. Thanks @goolord!

[2019-07-17 09:19] nirbheek commented on #1106
In case it helps someone wanting to work on this, here's a few implementations:

1.  GitHub's linguist PR for meson: https://github.com/github/linguist/pull/3463 ([language grammar](https://github.com/TingPing/language-meson), also used by [Atom](https://atom.io/packages/language-meson), [VS Code](https://github.com/asabil/vscode-meson), Sublime, TextMate, etc)
2. Vim: https://github.com/mesonbuil

[2019-07-18 18:19] pyrmont commented on #535
@florianjacob I realise it's been a very long time but we've just merged a lexer for CUDA into the master branch. Rouge is currently on a two-week release cadence as we clear the backlog of outstanding pull requests. I suspect you probably don't need this any more but just in case it's still something you'd like to use: a gem with the CUDA lexer will be available when 3.7.0 is released next Tuesda

[2019-07-18 19:25] #1016 closed

[2019-07-18 21:02] pyrmont commented on #737
This has been fixed via #899.

[2019-07-18 21:02] #737 closed

[2019-07-20 14:56] miromarchi opened #1266 "Request for Cypher query language lexer"
**The name of the language**
*Cypher*

**Resources**
Cypher resources at the [openCypher initiative](http://www.opencypher.org/resources), including style guide, grammar specification, and others.
Cypher chapter in the [Neo4j developer manual](https://neo4j.com/docs/developer-manual/3.3/cypher/)

**Implementation in other libraries**
[Cypher for Pigment](http://pygments.org/docs/lexers/?highlight=

[2019-07-20 14:59] miromarchi commented on #832
hi. I opened a proper lexer request for Cypher.

[2019-07-20 23:47] #954 closed

[2019-07-21 10:43] eliaskosunen commented on #932
Issue still reproducible on GitLab

[2019-07-21 11:57] pyrmont commented on #932
Thanks @robin850—I'm sorry to be attending to this so late but that's been very helpful.

Based on those tests, it does look like switching to C++ lexer for `*.h` globs would be the simplest solution. It also looks like a few of those mismatches (eg. floating point literals) are really errors in the lexer that should be corrected.

I'll try to get a PR together sometime this week to address this.

[2019-07-21 15:22] pyrmont commented on #725
#907 has been merged into master and should address this. Sorry it took so long! >_<

[2019-07-21 15:22] #725 closed

[2019-07-22 18:29] pyrmont commented on #932
@eliaskosunen I had a bit more of a think about the problem and it didn't feel right to treat all files as C++ when the header files may not be C++.

My alternative solution is to provide a disambiguation that detects files as C++ based on the presence of certain keywords. This is the approach that Rouge already takes with Objective-C (which has a similar problem since its header files also use th

[2019-07-22 19:08] pyrmont commented on #1266
@miromarchi Thanks for taking the time to add an issue!

First, I want to set realistic expectations. Rouge is a library maintained by a group of volunteers. The vast majority of time spent by the maintainers is on fixing bugs and reviewing pull requests. It's unfortunately unlikely that the maintainers will create lexers based on requests :( Why have the issue template? We want to let members of

[2019-07-23 07:13] pyrmont commented on #1147
I spent some time doing more experimentation today and I'm sorry to say that the 'don't save the block' approach didn't greatly reduce memory usage. It does reduce the total number of objects retained but only by a little and does not really reduce the number of objects allocated.

Here are the results from wrapping the `state` methods in the ABAP lexer.

### Current Approach

[code]

### Unsaved

[2019-07-23 07:18] jneen commented on #1147
The last resort is to use a Rake task to generate an index, then use `const_missing` to dynamically load classes. In this case I would like to have a `require 'rouge/all'` option to load them all in, for applications that expect to use them all.

[2019-07-24 03:29] jneen opened #1274 "New table lexer does not allow for selection of code"
I have suddenly remembered the reason we used the single-row table approach. While the new table lexer does allow for wrapping of lines, when a user attempts to select code, the line numbers become included in the selection. I'm not sure if there is a way around this, but I would like to look into it sometime in the near future.

[2019-07-24 03:29] jneen commented on #1274
cc @ashmaroli

[2019-07-24 03:38] ashmaroli commented on #1274
I believe this can be easily overcome by CSS:
[code]

[2019-07-24 04:46] jneen commented on #1274
Is there a way to include this in the default configuration? I would honestly be okay inlining this sort of thing.

[2019-07-24 06:41] pyrmont commented on #1274
Perhaps somewhere around here?

https://github.com/rouge-ruby/rouge/blob/73662c9d26167533eb8b715f3949de8625a1a308/lib/rouge/theme.rb#L171-L173

[2019-07-24 06:57] ashmaroli commented on #1274
@pyrmont I think the styles above should be inlined only for the `HTMLLineTable` formatter and not for all formatters / themes..

[2019-07-24 07:48] pyrmont commented on #1274
@ashmaroli If the above rules are inserted regardless of whether the formatter is inserting a table or not, why not also insert rules about line selection?

[2019-07-24 08:50] ashmaroli commented on #1274
@pyrmont There are couple of reasons:
- The above code (the lines you've linked to) will [*probably* be removed in Rouge 4.0](https://github.com/rouge-ruby/rouge/issues/1217) (even though there hasn't been an official decision yet).
- We're aiming to disable selection of line-number cell only and since the **cells' classname is configurable**, we'd have to select the cell(s) by the element tags (i

[2019-07-24 18:22] #932 closed

[2019-07-25 04:05] pyrmont commented on #1274
@ashmaroli These are good counterarguments. My objection is simply the fact that this feels like a breaking change. If I use this formatter, I cannot now get out of this behaviour.

That said, while I think that's technically true I do acknowledge:

1. this formatter is unlikely to be in widespread use given when it was added;
2. the proposed rules are very narrow and unlikely to cause unintended

[2019-07-25 05:23] ashmaroli commented on #1274
Thanks Michael. And I wouldn't consider it a breaking-change. Just enhancing / fixing a very recently released feature. ( It is subjective to how the situation is perceived :wink: ).

[2019-07-25 05:26] pyrmont commented on #1274
Again, it's somewhat academic given the scope of the changes but I strongly disagree. Using this formatter previously allowed content in the gutter to be selected. Now that functionality is both gone and _cannot be enabled_ as the CSS rules are to be inserted inline and so cannot be overridden.

[2019-07-25 05:27] ashmaroli commented on #1274
Ah! That's true, indeed!

[2019-07-28 20:02] #1274 closed

[2019-07-30 09:51] #901 closed

[2019-07-30 21:29] pyrmont opened #1290 "Support string interpolation in Puppet"
**Is your enhancement request related to a problem? Please describe.**
The Puppet lexer does not support string interpolation (see [this comment](https://github.com/rouge-ruby/rouge/pull/1288#issuecomment-516270580)).

**Describe the solution you'd like**
The Puppet lexer would support string interpolation. The below example should be lexed correctly:

[code]

[2019-07-30 22:53] pyrmont commented on #895
Fixed in #896.

[2019-07-30 22:53] #895 closed

[2019-07-31 21:07] iamed2 opened #1291 "Julia lexer generates bad text output on `mutable struct`"
**Name of the lexer**
julia

**Online example**
The site couldn't save the example so I took a screenshot (posted below).

**Code sample**
A sample of the code that produces the bug.

[code]
produces
[code]

**Screenshots**
https://www.dropbox.com/s/56uywbyaojq3vv3/Screenshot%202019-07-31%2015.16.15.png?dl=0

**Additional context**
This is basic Julia syntax that's been around since Julia 0.6 (sup

[2019-07-31 22:41] pyrmont commented on #1291
@iamed2 Thanks for the report and sorry for the trouble >_< I'm pretty sure I see how this happened. It's a mistake in the regex pattern here:

https://github.com/rouge-ruby/rouge/blob/7836be9cd8757e8c300b058a3eb84bcd5b6000a0/lib/rouge/lexers/julia.rb#L201-L206

I'll look at putting a fix together we can roll out in the next version.

[2019-07-31 23:32] pyrmont commented on #1291
I've got a fix submitted. This will be merged into master and will come out in v3.8.0. That's due for release next Tuesday.

Sorry again for the trouble—I missed the bug when I did my original review! Will try to make sure that doesn't happen again!

[2019-08-01 02:05] iamed2 commented on #1291
Wow, great, thanks! Amazing response time!

[2019-08-01 14:38] MedvedTMN commented on #1063
ISBL lexer [#891](https://github.com/rouge-ruby/rouge/pull/891) should also be ready to merge… thanks!

[2019-08-01 18:03] pyrmont commented on #1063
@MedvedTMN I've addressed #891 more fully on the discussion page for the PR.

[2019-08-02 19:07] #252 closed

[2019-08-02 19:22] #1291 closed

[2019-08-02 21:49] #860 closed

[2019-08-03 12:40] lordcodes commented on #1051
A regular function call will have parentheses, except when using trailing closure syntax. I.e. when the only argument is a closure, you can omit parentheses.

Also there is method reference syntax, but that could be treated as a separate thing.

[2019-08-03 12:42] lordcodes commented on #1052
Yes, I think this is a fair assumption and is very commonly used as a rule for matching class names in other highlighters and lexers I believe.

Sure thing, will add when I get a chance.

[2019-08-03 22:45] pyrmont commented on #1051
In that case, you should be able to identify it with a positive lookahead like this: `/...(?=\s*[({])/`

[2019-08-05 22:07] robatwilliams opened #1295 "Support HTTP/2"
**Is your enhancement request related to a problem? Please describe.**
Highlighting a HTTP/2 response just makes all of it red.

**Describe the solution you'd like**
Support responses starting with e.g. `HTTP/2 200 OK`

**Additional context**
Regex here needs modifying https://github.com/rouge-ruby/rouge/blob/ba2bfba6e01963d3d05dd2c1ebde6fccf0e9e957/lib/rouge/lexers/http.rb#L43

[2019-08-08 20:40] gautammohan opened #1299 "Rust unsafe keyword should be highlighted differently"
**Is your enhancement request related to a problem? Please describe.**

Unsafe blocks are uncommon and should be very loudly highlighted in Rust. Most Rust syntax highlighters make the `unsafe` keyword bright red, however it seems that Rouge groups it with other keywords.

**Describe the solution you'd like**

Is there a way to capture the "unsafe" keyword and highlight it differently?

**Addition

[2019-08-08 21:03] pyrmont commented on #1299
@gautammohan Can you provide some examples of the other syntax highlighters you're talking about? I'm curious how they're tokenising `unsafe`.

[2019-08-08 21:08] gautammohan commented on #1299
I use emacs normally, and `rust-mode` puts `unsafe` in a warning/error font face. I may have been overzealous in my statement of "most" syntax highlighters, as I just tried Vim and by default it did not differentiate between `unsafe`and other keywords as far as highlighting. Let me dial it back to say that Emacs does it, and I think it's a good idea (provided it doesn't take too much effort to imp

[2019-08-08 21:18] pyrmont commented on #1299
Hmmm... the problem is that there's not really a token that would be appropriate for `unsafe` other than the `Keyword` token we're currently using. Rouge uses [the same tokens](http://pygments.org/docs/tokens/) as Pygments and that system isn't really designed to provide the kind of support for which you're looking.

What's the use case? Are you wanting to have the same kind of highlighting in a b

[2019-08-08 21:44] gautammohan commented on #1299
Yep, highlighting in a blog post is precisely the use case. A potential workaround (for my case) would probably be to create a special tag and amend my css files.

I wasn't sure if it was an easy fix or not, but it looks like it might not be trivial. I'm not even sure if the Rust community agrees on a canonical syntax highlighting style. If it turns out that many of the tools treat `unsafe` differ

[2019-08-09 00:03] #1295 closed

[2019-08-09 02:50] pyrmont commented on #1299
I don't know how much control you have over the server but you might be interested in looking into the Escape lexer that was added in v3.4.0 of Rouge. If you have a formatter that has escaping enabled, you should be able to insert HTML into your source code that will be 'ignored' by Rouge and passed straight through to your blogging engine.

We need to document its use better and so you might pref

[2019-08-09 19:27] pyrmont commented on #96
Woohoo! It's been checked in as https://github.com/rouge-ruby/rouge/commit/669dc1e21070bf742550f755e2bd6d8171ac632d :D

[2019-08-09 19:27] #96 closed

[2019-08-10 18:31] #962 closed

[2019-08-12 08:54] #1299 closed

[2019-08-14 07:06] sashee opened #1301 "Support first-class expressions for Terraform 0.12"
**Name of the lexer**
Terraform

**Online example**
Sorry, I couldn't save the paste. The server returned an error when I clicked "Save this"

**Code sample**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/82075/63000772-42eeb480-be72-11e9-91f7-ec946d5448f2.png)

**Additional context**
Terraform 0.12 adds support for [first-class expressions](https://www.hashicorp.com/

[2019-08-14 09:52] a-recknagel opened #1302 "plaintext with linewrap"
**Not an actual language**

**Additional context**
Issues like [this one](https://gitlab.com/gitlab-org/gitlab-ce/issues/25850) occasionally pop up for markdown rendering. My current usecase is pasting a token into an .md file. I can't add newlines by hand, since it will lead to errors when users copy-paste it. Adding the a `wrap` "lexer" (as is suggested in the linked issue) or a `wrap` modifier

[2019-08-14 10:26] ashmaroli commented on #1302
Technically speaking, this has nothing to do with lexing.

Rouge-3.6.0 has introduced a new table-formatter that allows soft linebreaks. But this render will have line-numbers next to it. You will have to use CSS to hide the line-numbers if you don't want them to be visible.

[2019-08-14 14:39] pyrmont commented on #1302
@a-recknagel I'm trying to approach this with an open mind but this really looks to me to be an issue for the consuming library to implement.

In the GitLab issues to which you link, the general proposal is for (1) the Markdown parser to recognise the word 'wrap' in a codeblock's language identifier; and (2) a CSS rule to apply `white-space: pre-wrap` to codeblocks that include the word 'wrap' in

[2019-08-15 07:55] sashee opened #1304 "Regexp error in Terraform"
**Name of the lexer**
Terraform

**Online example**
Got an error when saving the paste

**Code sample**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/82075/63080949-a5af8100-bf42-11e9-8742-61a3d9d8f2e7.png)

**Additional context**

The ```$``` in the regexp is reported as error, but it is valid.

[2019-08-15 08:08] pyrmont commented on #1304
@sashee Sorry about the fact it's not possible to save pastes. That's on my list of things to fix (should probably move it higher up).

[2019-08-15 08:09] sashee commented on #1304
No worries:) A screenshot is trivial to make

[2019-08-15 09:32] #1301 closed

[2019-08-15 09:48] a-recknagel commented on #1302
@pyrmont It does, and it's also not surprising that it's something that would be awkward to handle in rouge. I mainly wanted to make sure that it isn't, against expectations, a simple issue on your part. If you want you can close this, and in the future I can link this in all "maybe this can be fixed in rouge" discussions that I see.

Also thanks for giving a thorough explanation instead of just s

[2019-08-15 14:55] pyrmont commented on #1302
@a-recknagel Not a problem! And that'd be most helpful if you could do that—thanks! :)

[2019-08-15 14:55] #1302 closed

[2019-08-19 09:54] pyrmont opened #1306 "Lexing of # in Elixir lexer"
**Name of the lexer**
Elixir

**Code sample**
A sample of the code that produces the bug.

[code]

**Additional context**
This bug was discovered when reviewing the EEX lexer submission (#874). The problem is here:

https://github.com/rouge-ruby/rouge/blob/59624c143eccd72b5d9a823888de3cfcea3f175d/lib/rouge/lexers/elixir.rb#L80-L83

[2019-08-19 13:34] VahanPWNS commented on #198
👍

[2019-08-19 17:43] pyrmont commented on #198
This is an old issue but, as is evident from @VahanPWNS's comment and the reactions to it, there's clearly interest in a Less lexer being added to Rouge.

To that end, I wanted to deliver the admittedly unsatisfying news that it's unlikely such a lexer will be added by the maintainers themselves :( At this stage in Rouge's development, we really look to the community for new lexers.

There was a f

[2019-08-19 19:14] #857 closed

[2019-08-19 23:20] #1306 closed

[2019-08-19 23:38] #412 closed

[2019-08-21 02:20] travisdowns opened #1310 "NASM addressing lexing fails on most types of addresses"
**Name of the lexer**
nasm

**Online example**
I tried, but the "Save this" button seems broken, giving this error:

![image](https://user-images.githubusercontent.com/2403521/63397235-8c1d9780-c38f-11e9-85fc-d448df8b5952.png)

Here's a screenshot of the code:

![image](https://user-images.githubusercontent.com/2403521/63397309-bff8bd00-c38f-11e9-83de-b888ff82e674.png)

Note that all but the first

[2019-08-21 02:26] travisdowns opened #1311 ""Save this" button fails on http://rouge.jneen.net"
_Please note: This is for non-lexer bugs._

**Describe the bug**

"Save this" button fails on [rouge.jneen.net](rouge.jneen.net), at least for nasm language.

**To Reproduce**

1. Go to [rouge.jneen.net](rouge.jneen.net)
2. Enter some nasm like `add eax, eax` or just leave the box empty, in the "Try some code" field. Like this:

![image](https://user-images.githubusercontent.com/2403521/63397593-a

[2019-08-21 02:32] pyrmont commented on #1311
@travisdowns Thanks for the bug report. We've exceeded our current capacity on Heroku which is why you see the error. I have it on my list of things to fix >_<

[2019-08-21 02:34] travisdowns commented on #1311
Thanks @pyrmont - oddly I didn't see the error when I tried it with another language (XML which was just randomly selected for me), but I guess it may be an on-or-off problem.

[2019-08-21 02:35] pyrmont commented on #1311
@travisdowns Hmmm... not sure why that would have happened. It should occur for any language.

[2019-08-21 02:36] travisdowns commented on #1311
@pyrmont - I tried it again and it failed this time. Maybe the XML examples was already saved so was cached somewhere, dunno.

[2019-08-21 02:38] pyrmont commented on #1311
@travisdowns Yeah, that could be it!

[2019-08-21 02:49] pyrmont commented on #1310
The 'problem' is that the rule to match expressions inside brackets only works for contiguous letters and numbers:

https://github.com/rouge-ruby/rouge/blob/8533fea3caff19a1506467fed6526e32cdf377fb/lib/rouge/lexers/nasm.rb#L167

The simplest thing to do might be just to match `[` and `]` independently rather than trying to match `[...]`.

[2019-08-21 02:59] travisdowns commented on #1310
@pyrmont - so that rule will match a whole `[...]` group and put it in the Punctuation category? We could also just match `[.*]`.

[2019-08-21 03:02] pyrmont commented on #1310
@travisdowns Yeah. But that seems obviously wrong to me. It shouldn't all be lexed as `Punctuation`. Forgive me for leaning on you a bit, but you could explain what exactly the following represents?

[code]

It looks to me from GitHub's highlighting that `mov` is a function but I'm a bit lost on the rest.

[2019-08-21 03:08] travisdowns commented on #1310
All of those are assembly instructions, in this case `mov` meaning "move the RHS to the LHS".

`eax` is the name of a CPU register. The `[ ... ]` expressions are addressing expresions, which means "read this from memory".

So `mov eax, [eax]` means "move 4 bytes from the memory pointed by `eax` (that's the `[eax]` part) into the CPU register `eax`. Basically it's a pointer-chasing step, like `ptr

[2019-08-21 03:12] pyrmont commented on #1310
@travisdowns Thanks, that's very helpful. Are the names of the registers fixed? Or do they follow a pattern? Or is it all ad hoc?

[2019-08-21 03:17] travisdowns commented on #1310
They are fixed. They "kind of" follow a pattern. Here's a list:

https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/x64-architecture

You can kind of see there are several patterns there, for example a regex like `(r|e)?[abcd]x` would capture the top left quadrant, but it might be simplest to just list them all?

[2019-08-21 03:19] travisdowns commented on #1310
A regex for the bottom part of the list would be like `r(8|9|(1[012345]))[dwb]?`.

[2019-08-21 03:19] pyrmont commented on #1310
@travisdowns We try to avoid defining too many reserved words as each one requires memory to be allocated but it doesn't look like there are all that many so listing them all might be the best idea.

[2019-08-21 18:21] afeinman commented on #865
The issue here is that Rouge thinks the file is stock HTML, but it's actually (valid) Angular HTML. Is there a lexer for Angular's HTML variant?

[2019-08-21 19:22] pyrmont commented on #865
@afeinman Apologies—I should have updated this issue back in July. We merged in #907 and that's fixed the issue (you can see that [the snippet](http://rouge.jneen.net/pastes/6ZRO) in the OP no longer shows errors).

[2019-08-21 19:22] #865 closed

[2019-08-22 04:43] afeinman commented on #865
Thanks! Now it's up to GitLab to integrate the change...

[2019-08-22 22:40] Huxpro opened #1312 "Unicode highlight in Coq (or other lang)"
<img width="1228" alt="Screen Shot 2019-08-22 at 3 37 38 PM" src="https://user-images.githubusercontent.com/5563315/63554635-00248080-c4f3-11e9-84d0-609c5969e2cb.png">

This issue is similar to #621 or #831 where the Unicodes are highlighted with a bold concrete background (I guess it's an error?).
It looks like #621 is fixed by manually accepting more alphabet symbols.
Could there be a unified fi

[2019-08-22 23:58] pyrmont commented on #1312
@Huxpro Yeah, a way to deemphasise errors is an interesting idea. The difficulty is how to do that? The simplest way I can think of would be to insert an additional class into the generated HTML that users could then use to affect the styling.

Oh, and could you copy and paste the example text you tried to lex? Sorry the dingus isn't accepting new saves at the moment :(

[2019-08-23 00:20] Huxpro commented on #1312
Thx @pyrmont. I guess brutely highlight ".highlight .err" as whatever in user-land could workaround but I agreed how to do it elegantly is tricky.

here is the code:

[code]

[2019-08-23 16:25] pyrmont commented on #1312
@Huxpro I would also like to have a fix for the Coq lexer that allows the types of characters commonly used in the community.

The difficulty I'm having is finding a regular expression that doesn't match symbols that are used as punctuation or as operators (there are alternatives to this approach but this is my preferred solution). [The ∀ character](https://www.compart.com/en/unicode/U+2200), for

[2019-08-23 16:43] jneen commented on #1312
you can actually put those characters literally in a regex, if they're common enough we may want to add them to haskell/coq.

[2019-08-23 16:53] pyrmont commented on #1312
@jneen Yeah, that's kind of where my mind was going too :)

[2019-08-24 05:12] travisdowns commented on #1310
@pyrmont - makes sense. Are you asking about register names because you want to highlight them specially?

I am happy to answer any questions about x86 nasm syntax, please don't hesitate to ask.

[2019-08-25 00:01] Huxpro commented on #1312
@pyrmont Coq has some meta-programming power so it might be tricky to cover all cases... essentially, math symbols commonly used in logic and set theory are most used and might be sufficient:

A tentative list could be
- def/implications `⇒` `→` `↔` `⇔` `≔` `≡`
- quantification `∀``∃`
- logical connectives `/\` `\/` `∧` `∨` `¬`
- top/bottom `⊤` `⊥`
- proof/entail `⊢` `⊨`
- set `∈`...

A code examp

[2019-08-26 00:09] pyrmont commented on #977
I was just updating the HTTP lexer. This doesn't look like something that should be very difficult.

[2019-08-29 16:12] #968 closed

[2019-08-30 16:20] #977 closed

[2019-09-03 19:23] pyrmont commented on #947
I just noticed this hadn't been closed automatically when #1214 was merged. This has now been addressed.

[2019-09-03 19:23] #947 closed

[2019-09-04 02:46] pyrmont commented on #548
I've still got a large number of PRs to get through before I reach #645 but I came across [this SO answer](https://stackoverflow.com/questions/14323376/do-html5-script-tag-need-type-javascript#14323399) coincidentally and wanted to put it down here so I don't forget it for later.

[2019-09-07 11:19] lordcodes commented on #927
Kotlin Script files are supported to same extend as regular Kotlin files. The issue mentioned in the previous comment is a separate issue and is about the fact back-ticked identifiers aren't recognised when they are standalone. E.g.

[code]

Back-ticked identifiers are supported in function names, but not standalone as above. This can be very noticeable when highlighting kts script files or build.

[2019-09-07 18:37] pyrmont opened #1324 "Rationalise regular expressions in Kotlin lexer"
**Name of the lexer**
Kotlin

**Code sample**
https://github.com/rouge-ruby/rouge/blob/7b876784f61444da6d3a9a8ada0a2ace8b13621a/lib/rouge/lexers/kotlin.rb#L27-L30

**Additional context**
Does `id` have any purpose? It's used throughout the lexer rather than `name` but as best as I can tell is just `name` inside a capture group. The capture group is never used, which seems wasteful.

Directing this

[2019-09-07 18:40] lordcodes commented on #1324
No, I had exactly the same thought when making changes to the Kotlin lexer. `name_backtick` can be used instead.

[2019-09-07 18:43] pyrmont commented on #1324
Perhaps this is going overboard but is it worth simply putting the backticks into the `name` regex as optional matches? It's a non-goal of Rouge to check syntax and so the fact this would allow: (1) backticks in places they shouldn't be; and (2) 'unbalanced' backticks, doesn't seem problematic to me. But what do you think? Perhaps overrationalising things?

[2019-09-07 18:46] lordcodes commented on #1324
Can be done, I am assume name and name_backtick were kept separate to make the regexes easier to read.
I will have a look in more detail soon.

[2019-09-07 19:00] pyrmont commented on #1324
Yeah, if they were combined it's probably a good idea to include a code comment explaining that backticks are being included but will result in some technically false positives.

[2019-09-07 19:10] pyrmont opened #1325 "Hyphen support in Kotlin scripts"
@napperly [wrote](https://github.com/rouge-ruby/rouge/issues/927#issuecomment-429742486):

The original issue as filed was for Kotlin script support. This issue is really about the use of hyphens [as noted](https://github.com/rouge-ruby/rouge/issues/927#issuecomment-529099030) by @lordcodes.

[2019-09-07 19:15] pyrmont commented on #927
I agree with @lordcodes. Basic Kotlin script was provided by #906. I've filed a new issue in #1325 to address hyphen support.

[2019-09-07 19:15] #927 closed

[2019-09-09 09:43] #1051 closed

[2019-09-09 09:43] #1052 closed

[2019-09-09 23:38] #1324 closed

[2019-09-10 07:55] pyrmont commented on #965
@jugglinmike Hi, I saw this issue as a result of the stale[bot] notification from earlier. Since there wasn't ever a reply to your last message, I wanted to provide a fuller response.

First, I'm sorry it's taken so long to respond and I'm sorry that the initial response was the stale[bot] notification. I joined the group of maintainers a couple of months back and felt that the best way to identif

[2019-09-10 08:19] #1325 closed

[2019-09-10 10:09] pyrmont opened #1328 "Swift: Passing Lambdas to Functions"
**Name of the lexer**
Swift

**Code sample**
A sample of the code that produces the bug.

[code]

**Screenshots**
![3ABBA849-5CAA-404C-8332-CC691977D754](https://user-images.githubusercontent.com/41152/64605033-396b5480-d3fe-11e9-9717-8e59474de096.jpeg)

**Additional context**
It may not be possible to tokenise the identifier `funcWithLambdaArg` when a lambda is the only argument because of other

[2019-09-10 10:12] lordcodes commented on #1328
I have thought about this one for the Kotlin lexer too. However, I do think funcWithLambdaArg should be able to be highlighted in first 2 cases. I believe this issue applies to the Kotlin lexer as well.

[2019-09-16 13:36] stanhu opened #1330 "JSON lexer spins in infinite loop"
**Name of the lexer**

JSON in Rouge v3.10.0

**Code sample**

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**

Calling `rb_backtrace()` in GDB shows this output:

[code]

This problem appears to have started in Rouge v3.8.0. v3.7.0 works fine.

[2019-09-16 14:06] stanhu commented on #1330
Reverting https://github.com/rouge-ruby/rouge/pull/1297/files seems to fix this problem.

[2019-09-16 14:09] stanhu commented on #1330
@pyrmont Thanks for your work on this gem! It looks like we're going to revert to v3.7.0 until this bug is fixed.

[2019-09-16 14:38] pyrmont commented on #1330
@stanhu I'm a little unclear as to what precisely the source text is. Is the problem all the text you copied and pasted (notwithstanding that it's the output of diff) or is the problem the text in the diff'd sample?

[2019-09-16 14:39] stanhu commented on #1330
@pyrmont It's the latter. The `diff` just is the reproduction case.

[2019-09-16 14:44] pyrmont commented on #1330
@stanhu Forgive me but could you paste below just the source that's the problem?

[2019-09-16 14:54] stanhu commented on #1330
@pyrmont Sure, I think it's this:

[code]

[2019-09-16 14:56] pyrmont commented on #1330
Ta! Will start investigating!

[2019-09-16 16:54] pyrmont commented on #1330
@stanhu I think #1331 solves the problem. The issue looked to be caused by the fact that a certain combination of backslashes and a colon could cause a string to be incorrectly matched by one of the patterns in the `:name` state. (I believe this occurred in v3.8.0 as a result of the change made by #1297.)

The fix was to include `\\` in the class of escaped characters. This prevents the problemati

[2019-09-16 17:01] stanhu commented on #1330
@pyrmont That looks like it did the trick. Thanks for the quick fix!

[2019-09-16 17:04] pyrmont commented on #1330
@stanhu Great! We're currently on a two-week cadence for releases and the next one is due on Tuesday so this fix will roll out in v3.11.0. Sorry for the trouble! >_<

[2019-09-16 23:55] pyrmont opened #1333 "Swift: Tidy up rules and tokens"
**Name of the lexer**
Swift

**Code sample**

https://github.com/rouge-ruby/rouge/blob/e3f26ee53faf804d50045b2d6f7684d045f97e90/lib/rouge/lexers/swift.rb#L31-L33

https://github.com/rouge-ruby/rouge/blob/e3f26ee53faf804d50045b2d6f7684d045f97e90/lib/rouge/lexers/swift.rb#L85-L91

**Additional context**
The local variables should be behind functions and I'm not sure why we are so specifically assign

[2019-09-17 00:03] #1330 closed

[2019-09-23 10:05] #704 closed

[2019-09-30 09:17] michele-carignani commented on #462
Hi @jneen,

we would like to help adding TTCN-3 syntax to the project. Could the issue be re-opened or better if we create a new one?

Thanks

[2019-09-30 09:38] pyrmont commented on #462
Hi @michele-carignani :) It's been a while since the original issue was opened and the maintainers team is no longer developing lexers in response to requests. I'm sorry about that :(

If you'd like a lexer to be part of Rouge, the best thing to do is submit a pull request with your attempt at it. We have [a guide](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) on lexer development

[2019-09-30 10:03] ayberkt commented on #709
I've just [learned from GitLab people](https://gitlab.com/gitlab-org/gitlab/issues/32861#note_223607381) that this issue is what needs to be resolved to get GitLab to syntax-highlight Agda code.

@pyrmont Is the only thing that's needed an Agda lexer? I will be happy to work on that if it will resolve this issue although I don't know much about Ruby. What is the standard [lexer generator](https://

[2019-09-30 15:16] michele-carignani commented on #462
Hi @pyrmont , thank you for the quick answer. Working on a pull request sounds good, we will give it a shot even though we are not Ruby devs :( your review and help will be greatly appreciated!

[2019-10-01 01:25] pyrmont commented on #709
@ayberkt Rouge follows a similar approach to earlier syntax highlighting libraries like [Pygments](http://pygments.org/) which rely on handwritten lexers. It's true that these can include errors but for the uses Rouge is put to (typically improving the readability of documentation), this hasn't ever been a significant problem. There is no 'standard lexer generator' for Ruby as far as I'm aware.

[2019-10-01 05:50] YannGarcia opened #1336 "Add TTCN-3 testing language lexer"
**The name of the language**
TTCN-3 testing language is standardized by ETSI. Latest TTCN-3 core language standard can be found [here](https://www.etsi.org/deliver/etsi_es/201800_201899/20187301/04.11.01_60/es_20187301v041101p.pdf).
This language is used to develop conformance and interoperability test suites for variety of protocols such as Intelligent Transport System protocols, Telco's protocol

[2019-10-01 05:58] pyrmont commented on #1336
@YannGarcia Can you submit this as a pull request? Instructions on how to do that are [here](https://help.github.com/en/articles/creating-a-pull-request).

[2019-10-01 06:00] YannGarcia commented on #1336
Unfortunately not, permission issues :(
Yann
Best regards,

Yann Garcia
Senior Software Engineer
Microsoft MCAD.net Certified
**************************************
FSCOM SARL
Le Montespan B2
6,
<https://maps.google.com/?q=6,%C2%A0+Avenue+des+Alpes&entry=gmail&source=g>
  Avenue des Alpes
<https://maps.google.com/?q=6,%C2%A0+Avenue+des+Alpes&entry=gmail&source=g>
F-06600 Antibes, FRANCE
**********

[2019-10-01 06:01] pyrmont commented on #1336
I'm not sure what you mean. We don't have any settings enabled that would prevent a PR.

[2019-10-01 06:05] YannGarcia commented on #1336
I follow the procedure, but when I tried to push my branch, my Github
authentication was rejected.
Yann
Best regards,

Yann Garcia
Senior Software Engineer
Microsoft MCAD.net Certified
**************************************
FSCOM SARL
Le Montespan B2
6,
<https://maps.google.com/?q=6,%C2%A0+Avenue+des+Alpes&entry=gmail&source=g>
  Avenue des Alpes
<https://maps.google.com/?q=6,%C2%A0+Avenue+des+Alp

[2019-10-01 06:08] pyrmont commented on #1336
A pull request is different to a push to the main repository. If you want to do that from the command line, you need to download GitHub's [hub tool](https://hub.github.com/). However, you can submit the PR using the GitHub website if you prefer. The instructions are in the previous link.

[2019-10-01 06:10] #1336 closed

[2019-10-01 06:11] YannGarcia commented on #1336
Oups, my apologies for my misunderstanding,
it's done
Thanks a lot,
Best regards,
Yann

[2019-10-01 06:14] pyrmont commented on #1336
No worries :)

[2019-10-03 14:35] Progdrasil opened #1339 "Support for "Concise Data Definition Language", or CDDL"
**Describe the solution you'd like**
It would be useful to add syntax highlighting support for CDDL as defined by [RFC 8610](https://tools.ietf.org/html/rfc8610). It is a definition language similar to [Protobuf](), [Cap’n Proto](), [FlatBuffers](https://google.github.io/flatbuffers/index.html), [Json Schema](https://json-schema.org/), etc. but for the [CBOR](https://cbor.io/) data format.

**Addi

[2019-10-04 08:13] marcoXbresciani opened #1340 "Support for EditorConfig configuration language"
**EditorConfig**
See https://editorconfig.org/ for a general description and https://editorconfig-specification.readthedocs.io/en/latest/ for a formal specification

**Implementation in other libraries**
There is an implementation in Python: https://docs.python.org/2/library/configparser.html

[2019-10-05 17:04] Krinkle opened #1341 "Underscore in Markdown attribute starts italic sequence"
**Name of the lexer**: Markdown

**Code sample**

[code]

**Screenshots**

<img width="716" alt="Screenshot 2019-10-05 at 18 03 57" src="https://user-images.githubusercontent.com/156867/66258229-7c6cdd80-e79a-11e9-9748-baf1106bbca3.png">

**Additional context**

This uses Kramdown-style attributes, as used by Jekyll and GitHub Pages.

See also https://github.com/sublimehq/Packages/issues/2117.

[2019-10-05 17:34] yukulele commented on #953
up

[2019-10-08 00:12] pyrmont commented on #1339
@Progdrasil Thanks for filing the issue!

Rouge relies on the support of our community for new language lexers. We always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. [This guide](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) is a good place to start :)

[2019-10-08 00:13] pyrmont commented on #1340
Thanks for filing the issue, @marcoXbresciani!

Rouge relies on the support of our community for new language lexers. We always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. [This guide](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) is a good place to start :)

[2019-10-08 00:17] pyrmont commented on #953
The guide that @miparnisari referenced has been superseded by [this one](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html). Rouge relies on the support of our community for new language lexers. For those interested in Pug support being added to Rouge, please have a look at submitting a PR—I'd be more than happy to review it!

[2019-10-08 01:48] pyrmont commented on #1341
Thanks for filing the issue, @Krinkle. This is a tricky one. As your issue alludes to, this isn't really a failure of the lexer to parse Markdown's emphasis syntax correctly; it's really a failure to parse Kramdown's attributes syntax. This is something they've added to their Markdown implementation, not something part of Markdown itself.

The Markdown lexer does include two custom elements that a

[2019-10-09 14:43] johnfairh opened #1343 "Redcarpet plugin not handling Guesser::Ambiguous"
Looking for some advice on how best to fix -- discussion after the form.

**Describe the bug**
If the Rouge Redcarpet plugin tries to guess the code language and the guess is ambiguous then it propagates an exception back up the stack which abandons the entire document.

**To Reproduce**
1. Set up Redcarpet with Rouge plugin.
2. Pass markdown through Redcarpet:
<pre>
[code]
</pre>
(without the spa

[2019-10-09 23:28] pyrmont commented on #1343
@miparnisari It seems a mistake to have the Mason lexer match against all documents with a doctype (excepting HTML and XML doctypes). I'm strongly inclined to remove this. Do you remember why it was done this way?

[2019-10-09 23:32] pyrmont commented on #1343
@johnfairh Mason is a Perl templating language. I'm not sure why it matches against almost all doctypes; that definitely seems like a mistake. @miparnisari did the hard work of adding Mason to Rouge (and I know she uses the lexer) so will check in with her :)

[2019-10-10 04:03] miparnisari commented on #1343
@pyrmont hmm no I can't remember. Feel free to remove it,

[2019-10-10 08:39] johnfairh commented on #1343
Ok, will remove that and add exception handling.

[2019-10-14 01:18] pyrmont commented on #1343
This has been fixed by #1348 and #1349. Thanks @johnfairh!

[2019-10-14 01:18] #1343 closed

[2019-10-28 19:12] detj commented on #956
Facing this issue. Since, JSX is supported it should correctly syntax highlight. Anyone writing JavaScript with React code will encounter this issue.

Any idea how involved is the fix?

[2019-10-29 08:05] pyrmont commented on #956
@detj I'm not seeing the issue in the latest version of Rouge. What version are you running and what is the text you're trying to lex?

[2019-10-29 08:34] pyrmont commented on #956
Unfortunately, the shared linking is broken in the online dingus but if you copy and paste, you can see the text lexing correctly [here](http://rouge.jneen.net/).

[2019-10-29 21:52] jneen commented on #1023
Unfortunately, the lexer layer is completely separated from HTML - it's only the formatter that can create HTML.

It *would* be possible to use an `Escape` lexer to accomplish this, but it would require effort on the part of the content editor.

[2019-10-29 21:54] jneen commented on #1023
You can also rely on the fact that the prompt receives the `Generic::Prompt` styling, so it's in a `<span>` tag with class `gp`. You can set this to be unselectable with CSS:

[code]

[2019-10-31 23:12] Merikanto opened #1352 "Rouge Support for Assembly"
Hello,

Does Rouge support syntax highlight for assembly in markdown texts?

I tried the keywords "asm", "x86asm", "armasm", and none of them works.

Thanks!

[2019-10-31 23:26] pyrmont commented on #1352
@Merikanto You can see all of the lexers available in [the `lexers` directory](https://github.com/rouge-ruby/rouge/tree/master/lib/rouge/lexers). Rouge has an ArmAsm lexer and a Nasm lexer that might be what you're looking for. You can also see these in [the online dingus](http://rouge.jneen.net/).

Do you know what version of Rouge you're running? If you're running an older version, you might not

[2019-10-31 23:28] #1341 closed

[2019-11-01 03:22] Merikanto commented on #1352
I'll give it try, thanks!

[2019-11-01 03:24] #1352 closed

[2019-11-03 11:43] HypeMC opened #1353 "PHP multiple use statements combined not highlighted properly"
**Name of the lexer**
PHP

**Code sample**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/2445045/68084511-dd89de80-fe36-11e9-92fa-5894b05fa2b7.png)

[2019-11-03 22:47] pyrmont commented on #1353
@HypeMC Thanks for the report! This sounds pretty straightforward to fix. I'll have a look at the PHP lexer and see what's breaking :)

[2019-11-05 09:34] detj commented on #956
@pyrmont You're right. Apologies. This is a non-issue in the latest version. I was testing GitLab CE edition & the version they are using has this issue. So, it's on them.

[2019-11-05 10:31] #956 closed

[2019-11-09 15:17] ph03 opened #1357 "Support for BibTeX"
**BibTeX**
Syntax format description: http://www.bibtex.org/Format

**Implementation in other libraries**
Pygments implementation: https://bitbucket.org/birkenfeld/pygments-main/src/default/pygments/lexers/bibtex.py

[2019-11-09 23:57] pyrmont commented on #1357
Thanks for filing the issue, @ph03!

Rouge relies on the support of our community for new language lexers. We always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. [This guide](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) is a good place to start :)

[2019-11-12 13:28] Progdrasil commented on #826
this is still an issue, I use toml snippets in GitLab and it shows up similarly to the linked image
<img width="1242" alt="Screen Shot 2019-11-12 at 08 26 47" src="https://user-images.githubusercontent.com/11562522/68675674-5c150900-0526-11ea-9cc7-c7567e069027.png">

[2019-11-13 00:21] pyrmont commented on #826
@Progdrasil I've submitted a PR that adds support for inline tables. Can you check if it looks like it works for you?

[2019-11-13 17:14] Progdrasil commented on #826
seems to work when i use `rackup`

[2019-11-13 17:14] Progdrasil commented on #826
is there a way to test your branch on http://rouge.jneen.net/ ?

[2019-11-14 18:42] pyrmont commented on #826
@Progdrasil There isn't, no, but if you've got the test site working with `rackup`, you can change the text that's displayed in the TOML visual sample by adding whatever you want to display to `spec/visual/sample/toml`.

[2019-11-14 23:41] HypeMC opened #1361 "PHP traits not always highlighted properly"
**Name of the lexer**
PHP

**Code sample**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/2445045/68905146-7cb8ab00-0740-11ea-9f41-680f7d2ce2cd.png)

[2019-11-14 23:42] pyrmont commented on #1361
@HypeMC That definitely doesn't look right, does it? I'll have a look at the lexer and see where it's going wrong.

[2019-11-14 23:55] HypeMC opened #1362 "PHP alternative syntax not always highlighted properly"
**Name of the lexer**
PHP

**Code sample**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/2445045/68905630-26e50280-0742-11ea-9d64-de66290b3ce8.png)

**Additional context**
The bug occurs when there's no space between the colon & the closing php tag, eg `:?>`.

[2019-11-15 00:04] pyrmont commented on #1362
@HypeMC It's a non-goal of Rouge to check syntax. Lexers do sometimes report errors but  but it's not a require

[2019-11-15 00:11] HypeMC commented on #1362
@pyrmont Hi, tnx for your response, but I'm not sure I understood you. Just to be clear, this is valid PHP syntax that works, it's only highlighted incorrectly.

[2019-11-15 00:12] pyrmont commented on #1362
Argh, sorry—I misunderstood the bug!

[2019-11-15 00:14] HypeMC commented on #1362
@pyrmont Np, I probably could've explained it better tbh, tnx.

[2019-11-17 03:58] louisrli opened #1363 "TSX not highlighting parts"
**Name of the lexer**
tsx
**Code sample**
A sample of the code that produces the bug.

[code]

Last two exports don't get highlighted.
**Screenshots**
![image](https://user-images.githubusercontent.com/1303401/69002832-1a6ece80-0929-11ea-9c4a-aac976e7c47f.png)

**Additional context**
Deleting the whole variable `withAuthRedirect` in the example above fixes the issue.

[2019-11-19 00:23] miparnisari commented on #1017
This is still an issue..

[2019-11-19 23:08] Progdrasil commented on #826
Yes that is what i did, seems to work

[2019-11-20 03:25] pyrmont commented on #826
@Progdrasil Great. That should be enough. I'll merge it in.

[2019-11-20 03:27] #826 closed

[2019-11-20 12:14] zablvit opened #1366 "CQL support"
I would apprecaite CQL support in rouge :)

**The name of the language**
Cassandra Query Language or CQL

**Implementation in other libraries**
[Chroma implementation](https://github.com/alecthomas/chroma/blob/master/lexers/c/cql.go)

[2019-11-20 15:34] pyrmont commented on #1366
Thanks for taking the time to file an issue, @zablvit. At this stage in its life, Rouge relies on the support of our community for new language lexers. We always encourage new language lexer submissions to be submitted via PR. If you'd like to contribute, please feel free. [This guide](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) helps explain how to write a lexer (the Chroma lexe

[2019-11-21 12:27] #985 closed

[2019-11-26 18:06] zoidbergwill opened #1368 "Support for Bazel/Starlark"
**The name of the language**
Bazel's [BUILD files](https://docs.bazel.build/versions/master/build-ref.html#BUILD_files) use [starlark](https://github.com/bazelbuild/starlark/), which is a subset of Python, so we could potentially just use the Python lexer.

The necessary filenames to match are `*.bazel`, `*.bzl`, `BUILD`, and `WORKSPACE`.

**Implementation in other libraries**
pygments treats [sta

[2019-11-26 18:09] zoidbergwill commented on #1368
I plan on taking a look at this when I get a chance.

[2019-11-27 00:31] #1032 closed

[2019-11-30 15:58] dleidert opened #1370 "Please document usage of console options (e.g. ?prompt, ?root, etc.)"
I'm trying to make use of the console lexxer option as described at <https://github.com/rouge-ruby/rouge/blob/master/CHANGELOG.md> and <https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers>. But whatever I do, I don't see any difference and I even don't have any clue, when and what they would alter. I presume, that the usage is

But it doesn't change anything, e.g. both

[2019-12-01 08:11] pyrmont commented on #1370
@dleidert Sorry for the confusion. There's a couple of things happening here and the documentation isn't clear.

The short answer is that the parsing of options associated with Markdown code blocks is something that's handled by your Markdown parser and, as far as I'm aware, there are no Markdown parsers that support what you're looking for. I'm afraid that means there's not much you can do.

The

[2019-12-01 16:02] johnfairh commented on #1370
Rouge is designed to accept language requests with options, coming in to the `Lexer.find_fancy()` method - see doc comments there.  The Redcarpet plugin, which I suppose is the reference implementation for markdown engines to invoke Rouge, uses this to pass through options from the user without the markdown layer knowing about them.

The brief docs for the console lexer are available in the source

[2019-12-01 18:18] jneen commented on #1370
@pyrmont i think @johnfairh is correct here, and while we do have documentation for those options (...right?) this appears to be a bug.

[2019-12-01 18:19] jneen commented on #1370
these are the options for the console lexer (available in `rougify list`):

[code]

[2019-12-01 18:20] jneen commented on #1370
I think the issue is that there is no `root=...` option. But you should be able to pass `prompt=#`.

[2019-12-02 01:25] dleidert commented on #1370
When I read #636 I got the impression, that these options can be passed somehow (and are expected to be used in Markdown). How or where would you pass `?comments=1` for example?

I did wonder why `\`\`\`shell?comments=1` and `\`\`\`shell` both produce the same results, whereas `\`\`\`shells` is unrecorgnized. In case of ruby-kramdown (which is used by Jekyll) I cannot even find any string comparis

[2019-12-02 04:12] jneen commented on #1370
Yes, you should be able to pass options like that. You can use `rougify list` to see which ones are available, and some documentation about them. In this case, `?root=true` is not a valid option, so it is being ignored.

[2019-12-02 04:14] jneen commented on #1370
@pyrmont for future reference, our markdown does do recursive lexing, here: https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/lexers/markdown.rb#L39

[2019-12-02 18:46] jneen commented on #1370
Oh! I should also say, the `shell` lexer is for shell scripts. If you want a console session, you should use the `console` lexer. `console?prompt=#` is a lot more likely to give you what you want.

[2019-12-02 20:01] dleidert commented on #1370
Ok. I've tested via command line and also created a Jekyll test post. Seems `?prompt=...` is working. But `?comments=...` seems dysfunctional. Independent of its value a `#` always seems to be interpreted as prompt. The value I assign to `?lang=` also doesn't seem to make any difference. Is it possible to create some test cases for the console lexer to check if the options are working?

[2019-12-05 23:50] pyrmont commented on #1370
@dleidert Good thing @johnfairh and @jneen were paying attention otherwise I would have led you astray! I've learnt something too! I'll try to have a play around over the weekend with the tests for the appropriate lexer and see how it goes.

@jneen Yeah, I should have checked the behaviour of the Markdown plugins more closely. I knew the options were something that could be passed to Rouge; I just

[2019-12-10 00:01] pyrmont commented on #1370
@dleidert Just wanted to give an update (somewhat unsatisfyingly) that I am exploring things but haven't got a fix yet. I've replicated the behaviour you described and am looking at adding a spec that will fail when the options aren't producing the right results.

[2019-12-10 04:32] jholewinski opened #1372 "LLVM lexer does not handle addrspace or addrspacecast"
**Name of the lexer**
LLVM

**Code sample**

[code]

**Screenshots**
<img width="427" alt="Screen Shot 2019-12-09 at 11 30 24 PM" src="https://user-images.githubusercontent.com/246931/70495626-21c66980-1adc-11ea-975e-c52149b54105.png">

**Additional context**

[2019-12-10 05:05] #856 closed

[2019-12-11 00:09] ajnisbet opened #1374 ". shouldn't be an operator in Python"
**Name of the lexer**
python.rb

**Code sample**
A sample of the code that produces the bug.

[code]

**Additional context**
In rouge (and Pygments) `.` is treated as an operator

https://github.com/rouge-ruby/rouge/blob/7e04388a1222bf26ddb660778744eab82a6ea847/lib/rouge/lexers/python.rb#L86

resulting in e.g. pink dots in Monokai

![image](https://user-images.githubusercontent.com/10361305/705790

[2019-12-12 01:35] pyrmont commented on #1372
Thanks for the report, @jholewinski. I haven't had a chance to look yet at the LLVM lexer but merely from the error, it looks like it should be a simple fix. I should be able to make that soon :)

[2019-12-15 04:39] saagarjha commented on #27
Hi, apologies for commenting on a long-closed issue but I was wondering if Rouge ever got Objective-C++ support. If it did, how can I turn it on? If not, is there I anything I can do to help get this added (should I file a lexer request?) I want to put some snippets in Objective-C++ on my blog and would like that to be highlighted too :)

[2019-12-15 05:43] pyrmont commented on #27
@saagarjha Rouge has an Objective-C lexer, it was added in version 0.5.2 so will in all likelihood be in the version you're using.

With GitHub-style code blocks that look like ` ```<some_lang> `, you can tell Rouge to use the Objective-C lexer by replacing `<some_lang>` with `objc` (or `objective_c`, `obj-c` or any of the alternatives [here](https://github.com/rouge-ruby/rouge/blob/7e04388a1222bf

[2019-12-15 05:46] saagarjha commented on #27
Right, that's what I'm using now. But that one doesn't "get" C++ like an actual Objective-C++ lexer would, so it leaves large blocks of my code unhighlighted.

[2019-12-15 05:48] pyrmont commented on #27
Oh sorry—I didn't catch that it was Objective-C++. I'm afraid no, we don't have a lexer for that. You can look at how the Objective-C lexer is implemented if you'd like to try making an Objective-C++ lexer.

[2019-12-15 19:19] saagarjha commented on #27
So I took a look and it looks like there's some sort of ["`load_lexer`" functionality](https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/lexers/objective_c.rb#L6)? Could we implement this with an e.g. "_objective_c.rb" that contains all the Objective-C stuff, then an "objective_c.rb" that includes "c.rb" an "_objective_c.rb", while "objective_cpp.rb" includes "cpp.rb" and "_objective_c.rb"

[2019-12-15 19:31] jneen commented on #27
It's possible - it has a lot of room for bugs though. See sass/scss, which both extend from css, for an example.

[2019-12-15 19:32] jneen commented on #27
I'm actually astounded that such a language exists, and that somebody took the time to write a parser for it to be honest.

[2019-12-15 19:36] saagarjha commented on #27
Hey, once you have one C++ parser, you try to get as much milage out of it as you can ;) I'll take a look at factoring out the Objective-C parts and see how it works out.

[2019-12-15 20:51] jneen commented on #27
Another example worth looking at is TSX, a combination of typescript and JSX, which are both extensions of javascript.

[2019-12-15 21:31] saagarjha commented on #27
Hmm, so I'm having some difficulty with subclassing, and I unfortunately don't know Ruby well enough to figure it out. AFAIK Ruby doesn't do multiple inheritance, so what I'm trying to do is have `ObjectiveC` subclass `C`, and `ObjectiveCpp` subclass `Cpp`, but put all the common parsing stuff in `ObjectiveCCommon` (which inherits from `Lexer`. But unlike `TSX` the common parser has state-related

[2019-12-15 23:03] jneen commented on #27
Yes, since there is no multiple inheritance, you will need to move existing code around in order to implement this. Look into how `TypescriptCommon` does it, as well as the `self.inherited` hook that Ruby provides to modules.

[2019-12-15 23:05] pyrmont commented on #27
@saagarjha I suggest you move this into a new issue or (better yet) a PR; this isn't really related to the original issue.

[2019-12-15 23:44] #1372 closed

[2019-12-17 07:41] saagarjha commented on #27
Thanks for the help; I filed #1378 with a rough attempt at getting this to work.

[2019-12-19 00:26] pyrmont opened #1380 "CGI-style parameter set to false isn't recognised as false"
**Describe the bug**
When passing an option to a lexer as a CGI-style parameter, `parameter=false` does not result in parameter being set to `false`.

**To Reproduce**
Steps to reproduce the behavior:
1. Specify the language string to a GFM code block as `console?comments=false`
2. The resulting `ConsoleLexer` will have the option for comments enabled.

**Expected behavior**
The parameter value wi

[2019-12-19 14:48] jneen commented on #1380
lexer.rb, line 321 should do it :]

[2019-12-19 15:16] jneen opened #1381 "Allow passing options to sub-lexers."
**Is your enhancement request related to a problem? Please describe.**
Currently, there is no way to specify rich lexers with options. For example, ERB in a configuration file, with escaped content - we would need to pass `?lang=erb` to the `escape` lexer, and `?parent=conf` to the erb lexer.

**Describe the solution you'd like**
I would propose the syntax `?lang=erb&lang.parent=conf` - there may

[2019-12-19 15:51] jneen commented on #1381
The implementation would happen in `Lexer#lexer_option`, to extract the relevant options from the options hash and pass them into `Lexer#as_lexer`.

[2019-12-19 22:29] dvf commented on #937
Just wanted to bump on this to see if anyone is working on it.

[2019-12-21 06:33] z4cH3r commented on #800
is there any news?

[2019-12-21 22:03] pyrmont commented on #937
@dvf I had a look into it around the time it was filed and it looked a little difficult (for the reasons @Peter200lx identified in an earlier message).

If you look at [Pygments] (https://github.com/pygments/pygments/blob/95cd525bc6a4fdcfaff243f70ee03d07124ed0cb/pygments/lexers/python.py#L123-129) or [Chroma](https://github.com/alecthomas/chroma/blob/a41c89767d07cc9bd9dce4c5ba2541bbe715f050/lexers

[2019-12-21 23:09] pyrmont commented on #800
@z4cH3r At this stage of its development, Rouge depends on the contributions of its users for new lexers. If you're interested in developing a lexer, we have [a guide](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) in the documentation that's a great place to start. Hope that helps!

[2019-12-23 15:04] #1370 closed

[2019-12-23 15:10] pyrmont commented on #1380
Aww yiss :)

Thanks @jneen!

[2020-01-04 19:27] hugopeixoto commented on #1381
I was trying to use the `console` lexer and specifying the `output` option, which itself accepts a `token` option. The documentation says that `output` defaults to `plaintext?token=Generic.Output`, but I'm unable to override it, which I think is the same scenario that you're mentioning.

I got this working by changing `#as_lexer`:

[code]

This allows me to specify the `output.token`:

[code]

Wou

[2020-01-05 01:11] #1380 closed

[2020-01-05 11:34] hugopeixoto commented on #1381
I did the change locally and tests pass:
https://github.com/hugopeixoto/rouge/commit/f28eeea9240b0209131631c0c8fce473b96c84a5

`#find_fancy` accepts additional options to be merged, so that solves that issue. This didn't impact the test results, though. I'll see if I can add some tests.

[2020-01-05 16:08] jneen commented on #1381
That may work for now, but it's important to be able to distinguish between options for the parent lexer and options for other lexers - that's why I wanted to be able to use, in this case, `output=plaintext&output.token=text`.

[2020-01-05 16:09] jneen commented on #1381
(This will probably have to be a breaking change unfortunately, since we unwisely passed the flat options everywhere...)

[2020-01-06 14:30] hugopeixoto commented on #1381
I agree. The patch I shared allows you to do something similar to your suggestion, but with a different syntax:

[code]

The `token` param would only get passed to the `output` lexer, not to the `console` one. The `%3f` is an escaped `?`, making the `output` value `plaintext?token=Text`, which w ould then be picked up by `find_fancy` in `as_lexer`.

I mentioned the `@options` being passed from par

[2020-01-06 19:20] jneen commented on #1381
oh..... yeah I think I'd rather avoid using the escape syntax if at all possible.

[2020-01-12 11:13] #1368 closed

[2020-01-14 06:53] mojavelinux opened #1388 "First segment of Java package namespace is not highlighted"
**Lexer**: Java

**Sample code:**

[code]

**Screenshot:**

![java-lexer-bug](https://user-images.githubusercontent.com/79351/72320624-525f6d00-365f-11ea-87a8-5b1fad57c59d.png)

**Additional details:**

It doesn't matter what the first segment of the package namespace is named (e.g., com, org, io, etc), or how many segments are in the namespace, the first segment isn't highlighted using the same c

[2020-01-14 06:55] pyrmont commented on #1388
@mojavelinux Definitely looks broken. Will take a look.

[2020-01-14 20:35] aaronadamsTO opened #1391 "TypeScript interface optional properties are not recognized"
**Name of the lexer**
Typescript

**Code sample**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/1505561/72380019-8def4b00-36e2-11ea-9b05-4ee8352fe9ec.png)

Notice how Rouge correctly highlights required property name `greeting`, but does not highlight optional property names `duration` and `color` due to the trailing `?`.

**Additional context**
This is an official exa

[2020-01-14 21:31] evanw555 opened #1392 "Defining local custom lexers"
**Is your enhancement request related to a problem? Please describe.**
No particular problem.

**Describe the solution you'd like**
I'd like to be able to define my own custom lexer locally to be used by my specific use case.

**Additional context**
My online documentation contains code snippets in a custom homemade language. I'm not sure if it's appropriate or worth the effort to get it reviewed

[2020-01-14 21:51] jneen commented on #1392
Rouge is specifically engineered to allow this! I do it all the time when giving presentations about language design - talking about languages that don't and probably won't ever exist. All you've got to do is:

[code]

[2020-01-14 21:53] jneen commented on #1392
The `tag` and `aliases` invocations will register your lexer with the rouge language resolver. However - this isn't even necessary. If you want it to be *entirely* isolated from Rouge's global state, just leave those out, and do `MyLexer.new(opts).lex(string)`. This will return a token stream that you can pass to any instance of `Rouge::Formatter` through the `.format(stream)` method.

[2020-01-16 01:17] travisdowns commented on #1310
@pyrmont - I've run into enough other limitations (e.g., many instructions are missing) that I'm willing to learn a bit of ruby to work on this.

Is there a standard way to test the syntax highters, e.g., so I can try my changes on a bunch of representative asm quickly?

[2020-01-16 01:21] pyrmont commented on #1310
Argh! Sorry, @travisdowns! I somehow forgot we halfway through discussing this. I'm out at the moment but will get back to you on this ASAP (the short answer is 'not really'; you can copy and paste the code into the visual sample in `spec/visual/sample` and inspect it that way but it's not great).

[2020-01-16 01:23] travisdowns commented on #1310
@pyrmont - I mean I guess a simple way would just be to run Jekyll against a markdown file with various samples and inspect the output. It doesn't have to be _super_ fast iteration, I just don't want to spend hours setting up the basics :).

[2020-01-16 02:44] evanw555 commented on #1392
Thanks so much, this is exactly what I was looking for. So after you responded, I went ahead and developed my lexer and wired it into my Jekyll build process. You can see the lexer here: https://github.com/linkedin/rest.li/blob/gh-pages/_plugins/pdl_highlighter.rb

The lexer is meant to be used with the open-source schema definition format used at LinkedIn called PDL. You can see our documentation

[2020-01-16 06:04] jneen commented on #1392
I'm glad it worked locally at least!

While I think there are broader discussions to be had about when a language is "mainstream" enough to be included in Rouge core, I think I would highly recommend pushing HTML directly to github pages. Even if we were to merge that lexer today, we have found it very difficult to get github to run an up-to-date version of rouge, so I suspect it would take quite

[2020-01-16 06:09] pyrmont commented on #1392
I should add GitHub has greatly improved things of late. They were stuck forever with a version 2 release but did eventually upgrade it to 3.11.0 and then in December bumped it again and are [now on 3.13.0](https://pages.github.com/versions/).

[2020-01-16 06:10] jneen commented on #1392
That's really good news! (though I still think it's less of a headache to just push HTML, then you get to control your own versions of things)

[2020-01-17 18:51] #1388 closed

[2020-01-18 23:48] pyrmont commented on #1038
This definitely looks like a messy area. Consider:

[code]

In `irb` (in 2.7.0), Ruby doesn't treat `:c` as a symbol but rather as `:` and `c`. I think @jneen's sense that an intermediate state is necessary might be correct.

[2020-01-20 11:23] xfix opened #1398 "Rust lexer doesn't handle r# strings"
**Name of the lexer**
Rust

**Code sample**
A sample of the code that produces the bug.

[code]

**Screenshots**

![Screenshot_20200120_122143](https://user-images.githubusercontent.com/1297598/72722781-751de400-3b7f-11ea-8bb1-8d68ca1d7686.png)

**Additional context**

Text after `"` is highlighted as if it was a string. In Rust, `r#"` strings need to end with `"#` (and similarly, `r##"` strings h

[2020-01-21 13:02] VADemon opened #1401 "Lua lexer handles escape string in regex incorrectly"
**Lua**

**Code sample:**
[code]
All lines following the reg expression are considered to be part of a string (e.g. the "end" statement). This regex probably triggers a bug in [string_escape](https://github.com/rouge-ruby/rouge/blob/a2af6e5b26a9cb4ae694d24effc5569e920f8b53/lib/rouge/lexers/lua.rb#L111)

Looks like Github's highlighter doesn't have this problem ;)

**Screenshots**
![Above code samp

[2020-01-22 05:23] #1398 closed

[2020-01-22 07:52] pyrmont commented on #1392
@evanw555 Can this be closed?

[2020-01-22 19:22] evanw555 commented on #1392
@pyrmont Sorry for the delay here. Yes, this can be closed. Thanks for helping me to figure out how to set this up and pointing me in the right direction.

[2020-01-22 22:53] #1392 closed

[2020-01-23 02:04] #1391 closed

[2020-01-24 01:42] pyrmont commented on #819
This was added via #1029. It was released in v3.7.0. Apologies for the lack of notice!

[2020-01-24 01:42] #819 closed

[2020-01-24 13:40] flipcc opened #1407 "PowerShell lexer treats lines after variable expansion wrong"
**PowerShell lexer**
The following shows a bug that was discovered after commiting a PowerShell script and reviewing it within GitLab's web interface.

**Code sample**
[code]

**Screenshots**
![powershell_lexer_bug](https://user-images.githubusercontent.com/16879827/73073007-ad426100-3eb6-11ea-868e-690c03b486d8.png)

As you can see, that bug behavior is similar to forgetting to close a String.

**

[2020-01-24 21:29] Cartoonman opened #1409 "Heredoc with double quoted delimiter not properly handled"
**Name of the lexer**
Shell Lexer

**Code sample**
[code]

**Screenshots**
Real example of this bug can be seen in my original bug report for Gitlab [here](https://gitlab.com/gitlab-org/gitlab/issues/198447).

**Additional context**
Issue seems to stem from this line:
https://github.com/rouge-ruby/rouge/blob/09c2b8b467d7355126006668b12aaec4f8f31629/lib/rouge/lexers/shell.rb#L67

Double quotes are

[2020-01-24 22:07] shoorick opened #1410 "rougify prints \e instead of corresponding character"
`rougify` prints wrong ANSI sequences: literally `\e` intead of special character `^[` (`0x1b`): all lines except first one begin with `\e[38;5;230m` and end with `\e[39m`

May be these sequences are unnecessary because colors are shown as expected.

**To Reproduce**

1. Open terminal
2. Execute `path/to/rougify some-file.ext`

**Expected behavior**

Expected output must not contain unnecessary ch

[2020-01-24 22:20] pyrmont commented on #1410
@shoorick I think this was fixed by #1402 and #1404. Could you test against the current master?

[2020-01-24 23:16] pyrmont commented on #1407
@flipcc I think the problem is here (specifically line 104):

https://github.com/rouge-ruby/rouge/blob/09c2b8b467d7355126006668b12aaec4f8f31629/lib/rouge/lexers/powershell.rb#L101-L110

Have to have a think about how to fix this.

[2020-01-24 23:35] #1409 closed

[2020-01-24 23:53] shoorick commented on #1410
I've tested again — it works, thank you.

![rouge-no-error](https://user-images.githubusercontent.com/190892/73112006-760f9680-3f2e-11ea-9e49-e3aa656013cc.png)

[2020-01-24 23:53] #1410 closed

[2020-01-24 23:55] pyrmont commented on #1410
@shoorick Great! All credit to @jneen; she came across this just before you did it would appear :D

We push out new versions of Rouge on a monthly cadence at the moment. The version with this fix (v3.16.0) is scheduled to go out on Tuesday 11 February.

[2020-01-25 00:30] shoorick commented on #1410
@pyrmont Fine! I’m glad that Rouge is live and goes on.
I've made [pull request for Gettext lexer](https://github.com/rouge-ruby/rouge/pull/1405) and right now I'm working on [LilyPond lexer](https://github.com/shoorick/rouge/tree/lilypond) (its syntax is more complicated than Gettext). I hope I’ll finish this work shortly.
![rouge-lilypond-with-errors](https://user-images.githubusercontent.com/19

[2020-01-25 00:36] pyrmont commented on #1410
@shoorick Yep, I've got that PR on my radar. Will try to get to it soon!

[2020-01-26 23:47] pyrmont commented on #831
This should be something relatively easy to fix. I'll take a look.

[2020-01-27 03:23] jneen commented on #831
Comes down to these: Replace them with `[:upper:]` and `[:lower:]` and it should work out

[2020-01-27 03:24] pyrmont commented on #831
Thanks @jneen! Will submit a bug fix soon!

[2020-01-29 13:55] wsdjeg opened #1417 "The toml code block highlight is wrong"
**Name of the lexer**
the toml code hight is wrong.

**Code sample**

put following code into markdow file, then generate the page.

[code]

**Screenshots**

![toml](https://user-images.githubusercontent.com/13142418/73362420-c5184b80-42e1-11ea-816d-c56648574073.png)

**Additional context**

**Literal strings** are surrounded by single quotes. Like basic strings, they must appear on a single line:

[2020-01-29 22:33] codebutler opened #1420 "TypeScript: Issue with optional chaining inside templated string"
**Name of the lexer**
TypeScript

**Code sample**

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3827/73403353-414c6800-42bd-11ea-9298-2f36670fae3e.png)

[2020-01-31 19:15] bernardosulzbach commented on #483
Bad bot. This is still valid AFAIK and there are probably more people still interested in this.

[2020-01-31 19:51] bernardosulzbach commented on #483
Well, I will try to make this issue more specific. There certainly is some support for assembly languages in the current master. Therefore, the issue is about the incomplete or inexisting support for some types of assembly languages.

On "VIM - Vi IMproved 8.2 (2019 Dec 12)", these syntax files are included:
[code]

As of af801f8cba9d79faa6f5b853be9cfa0bda7ea841, there is support for nasm ([here](

[2020-02-01 02:19] #831 closed

[2020-02-01 02:21] #1401 closed

[2020-02-01 02:31] #1417 closed

[2020-02-01 02:33] pyrmont commented on #1417
@wsdjeg Thanks for the bug report!

[2020-02-03 09:04] mojavelinux commented on #264
The related issues have been addressed, so I'll see if I can dig up my patch and submit it.

[2020-02-05 09:51] mojavelinux commented on #264
I submitted a PR. In the PR, I'm proposing both a new formatter (HTMLLineHighligher) and an enhancement to the HTMLLinewise formatter. The difference is that the HTMLLineHighlighter only wraps the lines specified by the highlight_lines option, whereas the HTMLLinewise formatter wraps all lines (as it currently does) and only adds the additional highlight line class to the highlighted lines. If you

[2020-02-05 09:51] mojavelinux commented on #264
Since Rouge works in the API space, I felt it was most appropriate for the option (`highlight_lines`) to be a numeric array.

[2020-02-05 17:46] #882 closed

[2020-02-05 17:48] pyrmont opened #1427 "GNU Assembler (GAS) Support"
**The name of the language**
[GNU Assembler](https://en.wikipedia.org/wiki/GNU_Assembler) (sometimes referred to as 'GAS', 'gas', 'as' or 'asm'). Details of the syntax in [Wikibooks](https://en.wikibooks.org/wiki/X86_Assembly/GAS_Syntax).

**Implementation in other libraries**
Other implementations:
- [Pygments](https://github.com/pygments/pygments/blob/master/pygments/lexers/asm.py)
- [Chroma](ht

[2020-02-05 17:52] pyrmont commented on #483
Two points in response to Bernardo's comment above:

- The broken brackets error is still a problem in NASM ([link](http://rouge.jneen.net/v3.15.0/nasm/bW92IGVheCwgW2VheF0KbW92IGVheCwgW2VheCArIGVieF0KbW92IGVheCwgW2VheCArIGVieCoyXQptb3YgZWF4LCBbZWF4ICsgMTBdCm1vdiBlYXgsIFtlYXggKyBlYngqMiArIDEwXQ)). I'm trying to fix that at the moment.

- The lack of support for GAS is still an issue. As discussion

[2020-02-05 18:19] bernardosulzbach commented on #483
Interestingly, the samples should include expressions within brackets then, I suppose. I just assumed they worked in general because they are rendered OK when there is just one token inside them.

[2020-02-05 18:31] pyrmont commented on #1310
@travisdowns That's definitely one way. I think the simplest, though, is to add what you want to test to the visual sample. You can see how I did that in #1428.

I should note that Rouge is architected such that you don't need to stop the Rack server to see changes to your Ruby code when looking at visual samples. If you save an update you've made to the relevant lexer's code, refreshing the page

[2020-02-05 20:12] abellis2 commented on #421
This issue is still reproducible.

The following text:
```--header 'Authorization: Bearer {token}''{endpoint}' 'Authorization: Bearer {token}```

Shows up as follows in Slate documentation:
![image](https://user-images.githubusercontent.com/6974342/73879104-b9acaf00-4810-11ea-811e-17437e9f6f6f.png)

[2020-02-05 20:51] pyrmont commented on #1420
@codebutler I think what's happening here is that the lexer is treating the `?` after the `a` as a ternary operator. What does `a?` represent? Is it just a name?

[2020-02-05 20:55] jneen commented on #1420
As far as I can tell this is a stage 4 draft, not yet part of the spec: https://tc39.es/proposal-optional-chaining/

[2020-02-05 20:57] codebutler commented on #1420
yes, this is the optional chaining operator. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

@jneen optional chaining is in wide use. it was added to typescript last year: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html

[2020-02-06 19:23] rhbvkleef opened #1432 "New lexer: RelaxNG compact notation"
**The name of the language**
RelaxNG Compact Notation

* https://relaxng.org/
* https://relaxng.org/compact-tutorial-20030326.html

**Implementation in other libraries**

* https://pygments.org/docs/lexers/#lexer-for-relax-ng-compact-syntax

**Additional context**
RelaxNG is a XML validation language that is starting to get traction. I think that it would be very beneficial that tools such as Roug

[2020-02-11 16:16] RyPeck opened #1435 "Support for Rego"
[Rego](https://www.openpolicyagent.org/docs/latest/#rego) is a high level declarative language built for expressing policy over hierarchical data structures. Used in [Open Policy Agent](https://www.openpolicyagent.org/).

`cson` for Atom in the OPA project -
https://github.com/open-policy-agent/opa/blob/master/misc/syntax/atom/language-rego/grammars/rego.cson

[2020-02-11 16:32] pyrmont commented on #586
GraphQL support was added via #634. The `extend` keyword support was added via #1261.

[2020-02-11 16:32] #586 closed

[2020-02-11 16:37] pyrmont commented on #421
Is the issue here that that the tokens are correct but that the theme doesn't define colours that are legible for these tokens? The problem can be avoided by choosing an alternative theme, right?

[2020-02-11 16:51] abellis2 commented on #421
@pyrmont You're 100% correct. It mostly seemed odd that the **default** theme for background as well as shell block code were very similar.

[2020-02-11 18:41] #1407 closed

[2020-02-11 18:55] pyrmont commented on #1420
@codebutler Is your use case using it with the TypeScript lexer? This could be added specifically to that lexer (and then moved into the JavaScript one once it receives broader adoption and/or becomes part of the spec).

[2020-02-11 18:58] pyrmont commented on #1432
@rhbvkleef Thanks for filing an issue :) At this point in Rouge's development, we predominantly rely on new lexer submissions from the community. If you'd like to give it a crack, we have [documentation](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) that might help.

[2020-02-11 19:00] pyrmont commented on #1435
@RyPeck Thanks for filing the request about Rego :) At this stage in its development, Rouge predominantly relies on submissions from its community for new lexers. If you'd like to give it a shot, we have [documentation](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) about how to do that.

[2020-02-11 19:28] pyrmont commented on #545
Apologies for the automated message. I've changed the setting on how GitHub reviews issue to disable adding `stale-issue` to lexer requests.

That said, to set expectations appropriately, I should note that Rouge is at a stage in its development where it relies predominantly on its community to submit new lexers as PRs. If anyone in this thread wants to give it a shot, we have [documentation](http

[2020-02-11 19:46] codebutler commented on #1420
Yes, we are specifically seeing this with Typescript. I didn't realize it was a separate lexer.

[2020-02-11 19:59] pyrmont commented on #421
@abellis2 I think things might have changed since this issue was filed. The default theme we use in the internal visual sample tool is 'Thankful Eyes' and the default theme now used in the online dingus is 'Tomorrow' (see [part of the code sample](http://rouge.jneen.net/v3.16.0/shell/IyBQcm9kdWNlIGEgbWFjaGluZSBpbWFnZSBmb3IgdGhlIHNlbGVjdGVkIGJ1aWxkZXIgYW5kIGtlZXAgdGhlIGxvZ3M6CiMgTm90ZSB0aGF0IHRoaXM

[2020-02-11 20:01] pyrmont commented on #1420
@codebutler No worries. Thanks for filing the bug! Will have a look into it!

[2020-02-11 21:18] abellis2 commented on #421
@pyrmont Fair enough. At any rate, we adjusted themes until we got something that worked.

Thanks!

[2020-02-11 21:19] pyrmont commented on #421
@abellis2 No worries! Thanks for replying so quickly to my questions :)

[2020-02-11 21:19] #421 closed

[2020-02-12 00:37] anthony-cros commented on #374
This is still an issue as of today (the closing brackets is colored improperly), at least as used from Jekyll

[2020-02-12 00:50] pyrmont commented on #374
Pretty sure the `[^']` is the bug:

https://github.com/rouge-ruby/rouge/blob/20da6514cbeab9fd2a10c3ea6ee47f4686a934af/lib/rouge/lexers/scala.rb#L43

I'm guessing that it's there to avoid matching against single-quoted strings but should probably be a negative lookahead.

[2020-02-12 07:11] Ravlen opened #1439 "Bug/Request: quad-backtick code blocks in markdown lexer"
The markdown lexer should allow code blocks that have quad backticks, which is used when you need to encapsulate a triple backtick codeblock. For example, you can see it works fine in GitHub:

[code]

As you can see, it doesn't work with Rouge:

<img width="1182" alt="Screen Shot 2020-02-12 at 16 09 26" src="https://user-images.githubusercontent.com/36979740/74311133-12042380-4db2-11ea-9a04-200356

[2020-02-12 07:18] pyrmont commented on #1439
I think this should probably be marked as a bug. The CommonMark† spec provides that [fenced code blocks](https://spec.commonmark.org/0.29/#fenced-code-blocks) can contain more than 3 tildes.

_† I realise that CommonMark and Markdown are technically different but since CommonMark is the one with a proper spec, it seems logical to use it when trying to write a lexer._

[2020-02-12 07:28] Ravlen commented on #1439
Yeah, after I clicked submit I realized I should have started with the bug template, thanks for updating it for me!

[2020-02-16 05:22] pyrmont commented on #1023
@jneen's solution is the correct one. CSS is the appropriate place to handle this.

[2020-02-16 05:22] #1023 closed

[2020-02-16 05:23] #965 closed

[2020-02-16 05:33] pyrmont commented on #778
@aplowman I realise it's been a long time since this bug was originally filed but just wanted to confirm that this is a bug. Your example uses [valid plain style scalars](https://yaml.org/spec/1.2/spec.html#id2788859).

[2020-02-16 05:37] #300 closed

[2020-02-16 22:33] #374 closed

[2020-02-16 22:36] #483 closed

[2020-02-16 22:36] #1310 closed

[2020-02-16 22:38] pyrmont commented on #1311
@travisdowns [The new dingus](https://github.com/rouge-ruby/dingus) no longer has this problem. Thanks for the report!

[2020-02-16 22:38] #1311 closed

[2020-02-18 01:07] jugglinmike commented on #965
No worries about the delay. I'm a maintainer myself, so I know how demanding issue triage can be. Thanks for the thoughtful explanation--I eventually decided that testing lexers is a bit out-of-scope for Test262, also: http://mikepennisi.com/blog/2019/just-call-me-johnny-262-seed/

[2020-02-18 05:35] pyrmont commented on #965
Wow—after reading that post, I'm amazed at how much work you've done! Thanks again :)

[2020-02-19 03:42] #1439 closed

[2020-02-19 14:02] josemalena opened #1443 "Please include support for PL/SQL!"
Please include support for PL/SQL! Is very simple! Is just an upgrade to the SLQ highlighter
See: [](https://en.wikipedia.org/wiki/PL/SQL)
Check out the basic missing syntax
[code]

If you add those it will be much more complete!

[2020-02-19 22:40] pyrmont commented on #1443
@josemalena Thanks for filing the request about PL/SQL. At this stage in its development, Rouge predominantly relies on submissions from its community for new lexers. If you'd like to give it a shot, we have [documentation](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html) about how to do that.

[2020-02-20 00:43] josemalena commented on #1443
Thanks! I’m glad to help!

On Wed, Feb 19, 2020 at 6:40 PM Michael Camilleri <notifications@github.com>
wrote:

--
José Alberto de la Cruz Malena
(829) 696-6336

[2020-02-20 05:35] Ravlen opened #1444 "Markdown lexer edge case with links and square brackets (rare)"
**Name of the lexer**
Markdown

This might be too rare to bother put effort into it, but this is something I run into from time to time as some of our engineers like linking to TOML section examples, and the section names are usually `[section]` or `[[section]]`.

I'm raising the issue because::

- It renders correctly with our markdown renderer (Kramdown): https://docs.gitlab.com/runner/configura

[2020-02-20 05:39] pyrmont commented on #1444
Agreed this should parse. It works fine [in CommonMark](https://spec.commonmark.org/dingus/?text=%5BThis%20is%20a%20link%20%60with%20backticks%60%5D(example.com)%20%20%0A%5BThis%20is%20a%20link%20to%20a%20TOML%20section%20%60%5Bwith%20brackets%5D%60%20(and%20backticks)%5D(example.com)%20%20%0A%5BThis%20is%20a%20link%20to%20a%20TOML%20section%20%60%5B%5Bwith%20double%20brackets%5D%5D%60%20(and%20ba

[2020-02-20 05:46] pyrmont commented on #1444
The problem is with how the regex uses non-greedy matching in rules like this:

https://github.com/rouge-ruby/rouge/blob/65207be96258926ef73da611a6a5c3e052019ca8/lib/rouge/lexers/markdown.rb#L105

The problem that I can imagine is that a more complex set of rules potentially leads you to a state where it's difficult to know on an initial pass whether you're in a link or not.

[2020-02-20 06:02] Ravlen commented on #1444
@pyrmont Would it be crazy to add the opening bracket for the link, as a way to identify the full link-text section?

[code]

<img width="1086" alt="Screen Shot 2020-02-20 at 15 00 48" src="https://user-images.githubusercontent.com/36979740/74905572-d8ef3300-53f1-11ea-9d35-66d717f85c0e.png">
<img width="1086" alt="Screen Shot 2020-02-20 at 15 00 54" src="https://user-images.githubusercontent.com/3

[2020-02-20 06:04] pyrmont commented on #1444
It would need to be either a `(` or a `[` (since you can have inline links and reference links) and it might be preferable to do it as a lookahead so that the rest of the lexing logic stays the same.

[2020-02-20 06:05] Ravlen commented on #1444
(Sidenote, I just noticed you and jneen are both in Japan, which is funny because I'm in Kagoshima!)

[2020-02-20 06:11] Ravlen commented on #1444
@pyrmont I struggle with lookahead logic and never got a good grasp of it, but I could easily add a `(` OR `[`:

[code]

<img width="1086" alt="Screen Shot 2020-02-20 at 15 09 56" src="https://user-images.githubusercontent.com/36979740/74906017-17d1b880-53f3-11ea-8137-adf87e7f4c92.png">

[2020-02-20 06:15] pyrmont commented on #1444
You can think of a lookahead as a special kind of 'group' (using `(?=...)`). So in this case: `(!?\[)(#{edot}*?)(?=\][\[(])`. It's difficult to read because of all the escaping but in plain English, that's a `]` and then a character class consisting of either `[` or `(`.

[2020-02-20 07:04] Ravlen commented on #1444
@pyrmont I read through some regex docs and I'm starting to grasp it, but with the tool I was using your example wasn't working, though a slight modification worked. Does this make sense?

[code]

<img width="1086" alt="Screen Shot 2020-02-20 at 16 03 18" src="https://user-images.githubusercontent.com/36979740/74908946-8bc38f00-53fa-11ea-8cf4-0bb48148297e.png">

Once I got that working, I started

[2020-02-20 07:29] Ravlen commented on #1444
I got it working now, turns out the online tool was just buggy and I had to refresh and it just started working again. I'll add the lookahead to the PR.

[2020-02-21 14:28] lkinasiewicz opened #1446 "BrightScript lexer"
BrightScript is a language used to develop TV apps for Roku - one of the leading TV streaming platforms in the U.S.

https://developer.roku.com/en-gb/docs/references/brightscript/language/brightscript-language-reference.md

**Implementation in other libraries**
This is an implementation for code editors in a textmate bundle format:
https://github.com/cmink/BrightScript.tmbundle/blob/master/Syntaxe

[2020-02-21 23:10] pyrmont commented on #1446
Thanks for filing the issue. At this stage in its development, Rouge predominantly relies on submissions from its community for new lexers. I realise you're got experience with the LiveScript one as well so you're familiar with the process but if you do have any questions, feel free to file a PR with where you get up to and I'd be happy to help with a review or any answers I can provide.

[2020-02-22 20:55] rjopek opened #1447 "Harbour"
Hi.

What should I do?
I would appreciate Harbour support in rouge.

* [Harbour on GitHub](https://github.com/harbour/core)
* [Harbour Wikipedia](https://en.wikipedia.org/wiki/Harbour_(programming_language))

[2020-02-22 23:58] pyrmont commented on #1447
@rjopek Submit a pull request with a lexer! In addition to the information in the [README](https://rouge-ruby.github.io/docs/index.html), we have documentation on setting up a development environment ([here](https://rouge-ruby.github.io/docs/file.DevEnvironment.html)) and on developing a lexer ([here](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html)).

[2020-02-23 00:18] #1444 closed

[2020-02-24 20:27] #1447 closed

[2020-02-27 21:24] IanLee1521 commented on #870
I would be interested in this feature too.

[2020-03-02 05:46] Ravlen opened #1448 "Edge case in markdown lexer regarding links followed by parens"
**Name of the lexer**
Markdown Lexer.

The markdown lexer seems to incorrectly color the first word after a link if it follows an opening parenthesis. I'll see if I can submit a fix myself.

**Code sample**

[code]

Rendered on the Rouge dingus:
<img width="1168" alt="Screen Shot 2020-03-02 at 14 41 13" src="https://user-images.githubusercontent.com/36979740/75648732-4e7dbd80-5c94-11ea-8e41-3e7fd5

[2020-03-04 06:26] Ravlen opened #1450 "Markdown lexer does not allow link text over two lines"
**Name of the lexer**
Markdown Lexer

**Code sample**
A sample of the code that produces the bug.

[code]

Rouge Dingus:

<img width="948" alt="Screen Shot 2020-03-04 at 15 25 00" src="https://user-images.githubusercontent.com/36979740/75851179-5a03ec80-5e2c-11ea-845e-6007bbcbf27d.png">

Renderers consider it valid (though GitHub keeps the line break, GitLab and Commonmark dingus do not, but all s

[2020-03-06 11:19] danilaml opened #1452 "CMake syntax highlight gets confused by the naked escaped quote"
**Name of the lexer**
CMake

**Code sample**

Here's how GitHub lexes it:

[code]

And [here](http://rouge.jneen.net/v3.16.0/cmake/Y21ha2VfbWluaW11bV9yZXF1aXJlZChWRVJTSU9OIDIuOC4zKQoKcHJvamVjdChmb28gQykKCmFkZF9leGVjdXRhYmxlKGZvbyB1dGlscy5jICJmb28uYyIpCgpsaXN0KEFQUEVORCBDRkxBR1MgLWZvbz1cIiR7Q01BS0VfQ1VSUkVOVF9TT1VSQ0VfRElSfS9iYXJcIikKCnRhcmdldF9saW5rX2xpYnJhcmllcyhmb28gJHtMSUJSQVJJRVN9KQ) is how Ro

[2020-03-07 12:19] pddzaic opened #1455 "rouge not loaded"
Since today I have the following error message when trying to use the rouge-gem.

[code]

Its seems, that the value of the variable "relpath" is the absolute path:

[code]

I could track the error to line 55 in rouge.rb (puts added by by me):

[code]

Changing to `Dir.glob(lexer_dir('*rb')).each { |f| Rouge::Lexers.load_lexer(f.sub(lexer_dir, '')) }` to
`Dir.glob(lexer_dir('*rb')).each { |f| Rouge

[2020-03-07 16:13] ashmaroli commented on #1455
Why do you have two different Ruby directories:
- `C:/PortableApps/Ruby/Ruby26/`
- `C:/PortableApps/Ruby/ruby26/`

[2020-03-08 07:50] pyrmont commented on #1455
@pddzaic I haven't looked into the code closely but it looks like the issue is being caused by Rouge not distinguishing between uppercase and lowercase letters in your directory names. Ash's question got at this but do you have two directories, `C:\PortableApps\Ruby\Ruby26\` and `C:\PortableApps\Ruby\Ruby26\`?

[2020-03-08 09:11] pddzaic commented on #1455
Now I understood the problem. I'am using Windows and have added Ruby to the PATH-variable as `C:\PortableApps\Ruby\Ruby26\`, but the real folder name is `C:\PortableApps\Ruby\ruby26\` .

Windows is not case-sensitive, but string comparison in Ruby is. :-)

I am not sure if this behavior in rouge can be considered a bug. If not, please delete my post.

Thank you very much for your help!

[2020-03-08 09:35] ashmaroli commented on #1455
@pddzaic Technically, it is a bug. But one that cannot be fixed easily. (Not impossible, just not simple and straight-forward either). If this whole issue can be resolved by *correcting* the PATH variable at your end, then I believe that would be a win-win situation for both parties.

*After your make the correction at your end, you can run `gem env` to get insight on all paths that may have an ef

[2020-03-08 10:11] pyrmont commented on #1455
@pddzaic Yeah, I think while this is probably technically a bug, since it doesn't seem to have had much of an impact broadly I'll close it for now. We'll reevaluate our response if we see more people experiencing a similar issue.

Thanks @ashmaroli for your help!

[2020-03-08 10:11] #1455 closed

[2020-03-08 20:24] gribok opened #1457 "Add lexer for YANG"
_Please note: New lexers are contributed to Rouge from the community. Your request will help the community in developing a lexer but it does not mean that anyone **will** develop the lexer._

**The name of the language**
A lexer for modeling language **YANG**.
Documentation and BNF definiton under [RFC7950](https://tools.ietf.org/html/rfc7950#page-184)

**Implementation in other libraries**
I have

[2020-03-08 20:36] pyrmont commented on #1457
Thanks @gribok!

[2020-03-10 08:40] iovw opened #1459 "Add dracula theme"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of the problem. Eg. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want to add a [dracula theme!](https://draculatheme.com)
**Additional context**
Add any other context or screenshots about the enhancement reque

[2020-03-11 03:15] iovw commented on #1459
My version look like:
![image](https://user-images.githubusercontent.com/24983369/76378886-9a61ee00-6389-11ea-9c35-30ea55606402.png)

[2020-03-11 03:18] pyrmont commented on #1459
I'm sorry not to have written sooner—particularly before you put this theme together—but at this stage of Rouge's evolution, we're not really looking to add more themes. We think this is an area better left to users to add as they see fit rather than be something that should be bundled together with the library.

Again, my apologies for not communicating that more quickly :(

[2020-03-11 03:32] iovw commented on #1459
But how?
How can users add theme but don't add code to this library? Write css? It's really ugly.
May need separate the theme generator from rouge if you think so.

[2020-03-11 03:42] pyrmont commented on #1459
What's the context in which you want to use the theme?

[2020-03-11 04:35] iovw commented on #1459
In my jekyll static blog.

[2020-03-11 04:46] pyrmont commented on #1459
In that case, CSS really seems like the appropriate place to define the theme.

If you really don't want to do that, you can throw your plugin into the `_plugins` directory of your Jekyll site and it will be like it was defined in Rouge itself.

[2020-03-11 05:13] iovw commented on #1459
Where introduced the `_plugins` directory?
I haven't found it at https://jekyllrb.com/docs/structure/

[2020-03-11 05:15] pyrmont commented on #1459
It's a directory you make. See [here](https://jekyllrb.com/docs/plugins/installation/).

[2020-03-11 05:20] iovw commented on #1459
Thank you.

[2020-03-11 05:20] #1459 closed

[2020-03-11 05:23] pyrmont commented on #1459
It looks like your site is done through GitHub Pages. You won't be able to use the `_plugins` directory in that case. I'm sorry but in that case, the appropriate place to add the theme is via CSS.

[2020-03-13 21:08] asbjornu opened #1463 "Find current lexer in formatter"
I have defined a lexer for PlantUML diagrams as such:

[code]

I've also subclassed `Rouge::Formatters::HTML` so I can replace the plain text diagram with rendered SVG when a `plantuml` codefence is found. I'm stuck, though, since I can't figure out which lexer the `tokens` I'm passed have been lexed by:
[code]

The result from `p tokens.inspect` is:

[code]

So I can see from the inspection that

[2020-03-13 21:36] jneen commented on #1463
Hi! You should not use Rouge for rendering PlantUml. Instead, add a condition to your Markdown processor.

[2020-03-13 21:38] jneen commented on #1463
In simpler terms, when a PlantUML section is encountered, you should take steps to prevent it from even getting to a Rouge layer. This is the approach GitLab takes with both PlantUML and embedded LaTeX.

[2020-03-13 21:53] jneen commented on #1463
If you are using the built-in Redcarpet plugin, you can try:

[code]
  end
[code]

[2020-03-13 23:15] asbjornu commented on #1463
Thank you so much for the lightning speed of your reply and the accuracy and wealth of information you provide, @jneen! ⚡️  Much, much appreciated! 🙏

I don't think I'm currently using Redcarpet, unless that's included by default in Jekyll somehow. I think I'm just using the default `markdown: kramdown` configuration. I'm also unsuccessful getting your code to execute. I called my module `Redplant

[2020-03-13 23:34] jneen commented on #1463
I would ask for support over on the Jekyll side. They almost 100% will have some kind of plugin that you can inject code into.

[2020-03-13 23:34] jneen commented on #1463
(kramdown and redcarpet are competing implementations of markdown, so you'll have to do this in kramdown instead)

[2020-03-13 23:54] jneen commented on #1463
Okay, looking at it more closely, it appears that kramdown is optimized for speed at the cost of flexibility - you might want to switch to redcarpet for this. If you *really* want to stick to kramdown you may have to take a monkey-patching approach like in this (unmaintained) project: https://github.com/tmthrgd/jekyll-graphs/blob/master/jekyll-graphs.rb#L547

[2020-03-13 23:55] asbjornu commented on #1463
I see. Thank you so much for your pointers, knowledge and time, @jneen! :pray: I have no idea what I lose or gain by changing from kramdown to redcarpet, but I wouldn't mind changing if I get this to work. The problem is that I have the dependency error even after configuring `markdown: redcarpet` or `markdown: redplant`.

[2020-03-13 23:56] jneen commented on #1463
As for your errors, I'm not sure I would be able to say much without seeing your code. I am not a user or maintainer of Jekyll, and I do know they do a significant amount of black magic that can cause surprising behaviour.

[2020-03-14 00:00] asbjornu commented on #1463
This is how my class looks like right now:

[code]

This code resides in a `redplant.rb` file within Jekyll's `_plugins` folder. Your guess is as good as mine, but if you insist this is a Jekyll problem, I'll move over there with my questions.

[2020-03-14 13:34] asbjornu commented on #1463
Thanks to your tip about monkeypatching Kramdown, I've now gotten the following to work:

[code]

Thank you so much! 🙏 ❤️

[2020-03-14 13:34] #1463 closed

[2020-03-23 01:58] ice1000 commented on #519
I think this should be useful

[2020-03-23 23:46] chuck-confluent opened #1467 "json lexer: How do I disable the highlighting introduced by mismatching braces, brackets, parentheses?"
I'm using asciidoctor-pdf for slides, and I'd like to split json across two pages. Two code blocks. One the second code block, Rouge highlights the braces '}' that don't have a matching '{'. How do I suppress this? The documentation is terribly hard for me to parse

[2020-03-24 01:46] pyrmont commented on #1467
@chuck-confluent I'm afraid that I don't know Asciidoctor-PDF so I don't know if this suggestion makes sense but if this were a webpage you could specify a CSS rule that did nothing for errors (since you presumably don't want to highlight those). Perhaps you can do something similar here?

Other options:

1. You could subclass the JSON lexer and edit the brace matching rule to not highlight unmatc

[2020-03-24 12:51] jneen commented on #1467
@pyrmont Oddly, I think @chuck-confluent has the right idea about the desired behaviour of lexers: our goal is not to highlight all errors, but to make the user's input look nice. I know it can be complex, but I think it's a reasonable goal to be able to highlight partial JSON files.

[2020-03-24 14:22] chuck-confluent commented on #1467
Thanks all for responding! Unfortunately asciidoctor treats codeblocks as indivisible units that are meant to fit on one page. If the block is big enough, it will nicely break to a second page, but in a way I can't control.

Since there's a CSS rule that suppresses error highlighting, I suspect it's also possible in asciidoctor pdf. I'll ask over there.

[2020-03-24 17:53] pyrmont commented on #1467
@chuck-confluent It's definitely the case that checking syntactical correctness is a non-goal of Rouge so @jneen is right to say that the JSON lexer could be made to support your use case in a way that wouldn't be inconsistent with Rouge's philosophical approach.

I'd need to test it against your example but it might be the case that simply adding a rule for closing braces here to the `:root` stat

[2020-03-24 18:33] pyrmont commented on #519
@ice1000 At this stage in its development, Rouge predominantly relies on submissions from its community for new lexers. We certainly encourage new submissions, although I am sometimes a little slow to review them!

Documentation on writing a lexer is available [here](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html).

[2020-03-24 18:35] pyrmont commented on #519
I should just note that we've changed the policy for marking issues as stale from when this was originally closed last year. Issues tagged as `lexer-request` are now exempt. I've reopened this and tagged it appropriately.

[2020-03-24 18:36] chuck-confluent commented on #1467
Thanks, I've got an issue asking for help over on the asciidoctor github https://github.com/asciidoctor/asciidoctor/issues/3605

[2020-03-25 06:10] #1450 closed

[2020-03-25 06:18] pyrmont commented on #1452
@danilaml I'm not especially familiar with CMake so allow me to check my understanding. What should happen is that both `\"` in the first line should not be treated as double quotes that would otherwise begin or end a string (as they do in the second line)?

[2020-03-25 09:58] danilaml commented on #1452
@pyrmont yes, see how GitHub parses it.
Basically, CMake can support differntly quoted arguments as well as [unquoted](https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#unquoted-argument), in which case `\"` is still treated as escaped double quote, instead of the `\` followed by the start of the new string as it appears to be interpreted by rouge.

[2020-03-27 17:26] ashmaroli opened #1469 "Incorrect tokenization of compact Ruby class names"
## Name of the lexer
`Rouge::Lexers::Ruby`

## Code sample
A sample of the code that produces the bug.

[code]
## Sample screenshot

![Screenshot_2020-03-27 ruby Visual Test](https://user-images.githubusercontent.com/12479464/77782779-d1b8e600-707d-11ea-9260-92d2baf15de5.png)

The class name **`Ruby`** has a different color in the two scenarios

[2020-03-27 18:41] jneen commented on #1469
Would you be willing to make a branch with this added to the sample file?

[2020-03-28 16:38] travisdowns commented on #1311
Thanks @pyrmont - the "new dingus" (is that a technical term?) looks great!

[2020-03-30 18:01] yugenekr opened #1471 "Racket number sign (hashtag) highlighting"
I'm experiencing issues with Racket language number signs (hashtags) highlighting.

**Name of the lexer**
Racket.

**Code sample**
Sample 1.
[code]
Sample 2.
[code]
[Demo on Gitlab](https://gitlab.com/yugenekr/test-markdown-formatting/-/blob/master/highlight-comment-block.rkt)
[Demo on rouge.jneen.net](http://rouge.jneen.net/v3.17.0/racket/I3xCbG9jayBjb21tZW50LgooZGVmaW5lIHggMykKaXMgbm90IGhpZ2hsaW

[2020-03-31 07:18] #1469 closed

[2020-03-31 07:27] pyrmont commented on #1311
I took it from the Markdown world but don't think it's a technical term—just a makeshift solution for something that doesn't have a great name :)

[2020-03-31 07:52] marcoXbresciani commented on #1340
Would love to, but my Ruby knowledge is not enough to help.

[2020-03-31 08:34] baby-gnu commented on #396
I'm interested by this feature.

[2020-03-31 08:45] pyrmont commented on #396
I think this should have been tagged as a lexer request rather than as a bugfix. I've fixed that up (and removed the `stale-issue` tag which won't be added now that it's marked as a lexer request).

That said, I'm afraid that it might not have much practical impact. At this stage in its development, Rouge predominantly relies on submissions from its community for new lexers. We have [documentation

[2020-03-31 09:09] baby-gnu commented on #396
Thanks a lot @pyrmont

[2020-03-31 09:21] baby-gnu commented on #396
I'm new to Rouge, I'm mostly interested by having nice colors in gitlab for my SaltStack `sls` files.

It should not be hard [as I read](https://rouge-ruby.github.io/docs/file.LexerDevelopment.html#Subclassing) but I wonder how to mix `YAML` and `Jinja2`, since `sls` files are just that by default.

I read some documentation before submitting and found the possibility to [delegate](https://github.

[2020-03-31 09:49] pyrmont commented on #396
@baby-gnu I'm not familiar enough with SaltStack to gauge that approach but definitely having a look at some of the other lexers is a great way to see what's possible. Oh, and I'm not sure how much help it will be given it's Python but perhaps have a look at [the implementation in Pygments](https://github.com/pygments/pygments/blob/29d2789f9fd3784652de2f20585db9a3fd9a7e76/pygments/lexers/templates

[2020-03-31 18:05] #1452 closed

[2020-04-02 10:10] #1471 closed

[2020-04-03 18:38] #1457 closed

[2020-04-03 18:55] gribok commented on #1457
@pyrmont : Sorry for confusing. Is it still possible to change a line in visual example via a new PR?
Only a little important thing for me.
If not, it is also ok. :-)

[2020-04-03 19:46] pyrmont commented on #1457
@gribok Sorry, it's merged now :( You can branch off `master` and make a new PR if you want and I can merge that in.

[2020-04-03 20:14] gribok commented on #1457
Thanks for fast response, @pyrmont. I created new PR #1474

[2020-04-03 20:29] #1420 closed

[2020-04-03 21:30] #1028 closed

[2020-04-04 00:10] pyrmont commented on #1017
@miparnisari Sorry about that. I've changed the settings for stalebot to not mark as stale issues that are tagged as lexer requests.

[2020-04-05 05:51] #1435 closed

[2020-04-05 17:55] julp commented on #1362
I think I understand why: `:?>`, by `rule %r/[~!%^&*+=\|:.<>\/?@-]+/, Operator` is probably seen as a single Operator token when it should be seen as two tokens `:` then `?>` with `?>` exiting (pop!) current PHP lexer as expected.

[2020-04-05 19:59] #987 closed

[2020-04-05 20:56] pyrmont commented on #989
Apologies for getting to this late but as a lexer request this should not have been marked stale. I've fixed that and it won't be closed again.

It is still the case that Rouge relies on the support of our community for new language lexers. The maintainers encourage new language lexer submissions. If you'd like to contribute, we have an introductory guide on [creating a lexer](https://rouge-ruby.g

[2020-04-05 21:23] #1374 closed

[2020-04-06 08:40] ashmaroli commented on #1218
/cc @pyrmont [Ping]
Any comment on what would be the best route to resolve this..?

[2020-04-06 09:00] pyrmont commented on #1218
@ashmaroli I realise this wasn't what you had in mind by tagging me but I've changed the label for this issue. I don't see any bug here; this looks like a suggestion on how to improve the Rouge codebase.

More substantively, I see some appeal in having a consistent approach to the API but I'm not sure I rank it particularly highly in terms of concerns. I've still got a stack of PRs to work through

[2020-04-06 09:17] ashmaroli commented on #1218
Actually, its more than that. For further context, you may refer to the discussion at https://github.com/gettalong/kramdown/issues/617

I agree that addressing issues with lexers take a higher priority over this. Just wanted your take on this and see if I could submit a pull request.
Thank you.

[2020-04-06 12:22] pyrmont commented on #1218
@ashmaroli At the risk of provoking a link to the XKCD comic about standards, is your adapter idea that there'd be a generic—almost abstract—formatter that consumers could call with an options hash that contained the type of formatter they wanted and some additional arguments and then that generic formatter would switch on the formatter type requested and make the appropriate call?

[2020-04-06 12:39] ashmaroli commented on #1218
Yes. My adapter idea is in theory similar to how `Rouge::Formatters::HTMLLegacy` works but consistently updated to suit new formatters added to Rouge core.

[2020-04-06 18:44] pavelda2 opened #1479 "Add support for Vue.js slot shorthand"
**Is your enhancement request related to a problem? Please describe.**
Vue.js language enables [shorthands for slots](https://vuejs.org/v2/guide/components-slots.html#Named-Slots-Shorthand) which we use in our company as convention. But current version  3.17.0 of rouge does not support that syntax (see [live example](http://rouge.jneen.net/v3.17.0/vue/PGN1cnJlbnQtdXNlciAjZGVmYXVsdD0ieyB1c2VyIH0iPg

[2020-04-06 23:45] mlapierre opened #1480 "F# syntax highlighting breaks on dictionary indexers"
### Summary

F# syntax highlighting breaks when it encounters a dictionary indexer on a nested property.

Expected highlighting:

[code]

[Bug reproduced on rouge.jeen.net](http://rouge.jneen.net/v3.17.0/fsharp/ICBsZXQgdGVzdCA9IHNvbWV0aGluZy5EaWN0aW9uYXJ5Llsic29tZUtleSJdCgogIC8vIHN5bnRheCBoaWdobGlnaHRpbmcgYnJva2VuCiAgbGV0IG51bWJlciA9IDEyMwo):

<img width="440" alt="Screen Shot 2020-04-07 at 9 38 0

[2020-04-07 00:32] pyrmont commented on #1218
What do you think would be a good name for the adapter? `HTML` is already used; `HTMLGeneric`? `HTMLAdapter`?

[2020-04-07 01:43] pyrmont opened #1484 "Structs, classes and typenames should be lexed similarly in C++ lexer"
**Name of the lexer**
C++

**Code sample**
[code]

Live example on [rouge.jneen.net](http://rouge.jneen.net/v3.17.0/cpp/Y2xhc3MgZXhhbXBsZTEge307CnN0cnVjdCBleGFtcGxlMiB7fTsKdGVtcGxhdGUgPHR5cGVuYW1lIFR5cGUsIGNsYXNzIENsYXNzPgpzdHJ1Y3QgZXhhbXBsZSB7fTs)

**Additional context**
These issues were originally raised by @tcbrindle in #394.

[2020-04-07 01:44] pyrmont commented on #394
It was a little difficult to track what has and hasn't been fixed in this issue so I've filed a separate report for the struct/class/typename issue.

If there are any others still outstanding, please feel free to file fresh issues for those as well.

[2020-04-07 01:45] #394 closed

[2020-04-07 01:52] pyrmont commented on #1484
@integricho I'm not sure if you're still interested in this problem, but I was wondering if you'd be able to help with my understanding.

Rouge's C++ lexer currently tokenises identifiers that come after the `class` keyword with the `Name::Class` token and identifiers that come after the `struct` keyword with the generic `Name` token. That matches my naïve interpretation of how the syntax should b

[2020-04-07 02:36] pyrmont commented on #1363
A [live example](http://rouge.jneen.net/v3.17.0/tsx/Y29uc3Qgd2l0aEF1dGhSZWRpcmVjdCA9IChyb3V0ZTogc3RyaW5nLCByZWRpcmVjdElmQXV0aGVkOiBib29sZWFuKSA9PiA8UCw-KAogIFBhZ2U6IE5leHRDb21wb25lbnRUeXBlPE5leHRQYWdlQ29udGV4dCwge30sIFA-CikgPT4gewogIHJldHVybiBjbGFzcyBleHRlbmRzIFJlYWN0LkNvbXBvbmVudDxQPiB7CiAgICBzdGF0aWMgYXN5bmMgZ2V0SW5pdGlhbFByb3BzKGN0eDogTmV4dFBhZ2VDb250ZXh0KSB7CiAgICAgIGNvbnN0IHNob3VsZENvbnRpbnVl

[2020-04-07 05:52] ashmaroli commented on #1218
`HTMLAdapter` seems great. :+1:
The intended purpose is instantly conveyed: `Rouge::Formatters::HTMLAdapter`

[2020-04-07 06:19] kaefer3000 opened #1485 "[Turtle/TriG] The empty prefix is fine"
**Name of the lexer**
Turtle/TriG

**Code sample**
[code]
This data with a colon, preceded by the empty string, is valid.
Renders OK on GitHub, but not with Rogue, see:
[Link to a Code Sample](http://rouge.jneen.net/v3.17.0/turtle/QHByZWZpeCA6IDxodHRwOi8vZXhhbXBsZS5vcmcvIz4gLgoKOnRoaXMgYSA6VGVzdCAuCg).

**Additional context**
[The official Turtle grammar](https://www.w3.org/TR/turtle/#grammar-prod

[2020-04-07 06:24] kaefer3000 opened #1486 "[SPARQL] "a" is a keyword"
**Name of the lexer**
SPARQL

**Code sample**
A sample of the code that produces the bug:

[code]

[Link to a code sample](http://rouge.jneen.net/v3.17.0/sparql/UFJFRklYIDogPGh0dHA6Ly9leGFtcGxlLm9yZy8jPiAKU0VMRUNUID9pdGVtCldIRVJFCnsKICA_aXRlbSBhIDpUZXN0IC4KfQo).

[2020-04-07 06:51] integricho commented on #1484
The only difference between a `struct` and a `class` in C++ is the default access specifier (for a `struct` it's `public` and for a `class` it's `private`), while in every other way they're the same, so I'd say they should be treated equally, from the syntax highlighting perspective at least.
Regarding IDEs and other syntax highlighters, of course, `struct`s and `class`es are always colored the sa

[2020-04-07 08:29] louisrli commented on #1363
So the lexer I'm using is `tsx` which is slightly different from `ts` (or it should be). TypeScript is basically JavaScript with types, while TSX is derived from Facebook's React framework and essentially allows embedding HTML into the JS as values (which complicates the syntax). At least rouge seems to have a special lexer for TSX, so I'm not sure if the live example you sent is using the exact s

[2020-04-07 17:38] gavlock opened #1487 "Add error message handling to Console lexer"
I am using the console lexer in a blog to show some interaction with a Lisp REPL.
Using `console?lang=lisp&prompt=>` works nicely.

[code]

**I would like the last line (an error message) to be highlighted as an error.**

I'm not sure if this is enough to warrant a new lexer --- perhaps just an extension to the generic console lexer.

Possible solutions:
1. A new option providing a string or list

[2020-04-07 23:02] #1362 closed

[2020-04-07 23:04] #1479 closed

[2020-04-08 02:21] pyrmont commented on #1487
@gavlock This is an interesting idea. Needing new lexers for each type of error feels wasteful and something that would be better to achieve through a parameter. But how to expose it in a relatively sane way?

My initial thought is that a regular expression is the right way to go about it but I wonder about two things:

1. Does allowing a user to pass a regular expression to a lexer represent a se

[2020-04-08 02:27] pyrmont commented on #1363
Thanks! This is helpful! I'll have a look at fixing the TSX lexer.

[2020-04-08 02:34] pyrmont commented on #1484
@integricho Thank you for responding so quickly! That all makes sense. I'll have a look at making the necessary adjustments.